.modal.fade#placeForm{ tabindex: '-1', role: :dialog }
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#placeFormLabel.modal-title Добавить место
      .modal-body
        = simple_form_for @place, remote: true, url: { controller: 'api/admin/places', action: :create } do |f|
          = f.input :title, as: :string, required: true
          = f.input :description, as: :string, required: true
          = hint @place.model.class.to_s, :url, place: :admin
          = f.input :url, as: :string, required: true
          = link_to fa_icon(:foursquare), "https://foursquare.com", class: 'btn btn-info blank'
          = link_to fa_icon(:google), "https://maps.google.com", class: 'btn btn-info blank'
          = link_to 'Я', "https://maps.yandex.com", class: 'btn btn-info blank'
          = f.submit t('helpers.links.save'), class: 'btn btn-success'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Закрыть
