%h6
  = t('.add_attender')
= simple_form_for [:admin, @attender_form], input_html: { class: 'form-horizontal' } do |f|
  = f.input :member_id, as: :select, collection: members_hash(@members), input_html: { class: :select2 }, label: false
  = f.input :protocol_id, as: :hidden, input_html: { value: @protocol.id }
  = f.button :submit, t('helpers.links.save'), class: 'btn-success'
