- model_class = Article
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @article_form
.row
  .col-lg-12
    = simple_form_for [:admin, @article_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_articles_path, class: 'btn btn-default'
      = f.input :title, as: :string
      = f.input :body, as: :ckeditor
      = f.input :state_event, as: :state_event
      = f.input :publicity
      = f.input :view
      = f.association :category, collection: @categories, prompt: t('helpers.links.select'), label: t(model_class.human_attribute_name :category_id)
      = f.association :attachments
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_articles_path, class: 'btn btn-default'
