- model_class = Article
.page-header
  %h1=t model_class.model_name.human
.row
  .col-lg-12
    = simple_form_for [:admin, @article_form], input_html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :body, as: :ckeditor
      = f.association :category, collection: @categories,
        prompt: t('helpers.links.select'),
        label: t(model_class.human_attribute_name :category_id)
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')

      = link_to t('helpers.links.back'), admin_articles_path, class: 'btn btn-default'
