= paginate articles, theme: 'twitter-bootstrap-3'
- model_class = Article
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:category_id)
      %th= model_class.human_attribute_name(:views)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:tags)
      %th=t 'helpers.links.actions'
  %tbody
    - articles.each do |article|
      %tr{ class: state_color(article) }
        %td{ width: '67px' }
          = link_to article.id, edit_admin_article_path(article)
          = link_to article_path(article) do
            %span.glyphicon.glyphicon-share
        %td{ style: 'width: 48px'}
          = article.publicity_icon
          = article.access_icon
        %td= link_to article.title, edit_admin_article_path(article)
        %td= article.short_body
        %td= (article.category.present? ? article.category.name : "")
        %td= article.views
        - if searching?
          %td= article.human_state_name
        %td{ style: 'width: 200px' }
          = react_component 'TagsForm', record: article, record_type: 'article', tags: TagCollectionDecorator.new(article.tags.active).with_just_text
        %td.actions
          - if article.unviewed? && current_user.has_permission_to?(:review, :article)
            = link_to admin_article_path(article, article: { state: :confirmed }), method: :patch, class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-ok
          = link_to edit_admin_article_path(article), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_article_path(article), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate articles, theme: 'twitter-bootstrap-3'
