= paginate articles, theme: 'twitter-bootstrap-3'
- model_class = Article
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:category_id)
      %th= model_class.human_attribute_name(:views)
      %th= model_class.human_attribute_name(:tags)
      %th=t 'helpers.links.actions'
  %tbody
    - articles.each do |article|
      %tr{ class: state_color(article) }
        %td{ width: '67px' }
          = link_to article.id, edit_admin_article_path(article)
          = link_to article_path(article) do
            %span.glyphicon.glyphicon-share
        %td= link_to article.title, edit_admin_article_path(article)
        %td= article.short_body
        %td= (article.category.present? ? article.category.name : "")
        %td= article.views
        %td{ style: 'width: 200px' }
          = render 'web/admin/tags/buttons'
          = render 'web/admin/tags/list', record: article
          = render 'web/admin/tags/form', record_type: 'Article', record_id: article.id, index: article.id
        %td.actions
          - if article.unviewed?
            = link_to admin_article_path(article, article: { state: :confirmed }), method: :patch, class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-ok
          = link_to edit_admin_article_path(article), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_article_path(article), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate articles, theme: 'twitter-bootstrap-3'
