- default_page_title ||= nil; on_site_link ||= nil
- current_title = default_page_title || model_class.model_name.human.pluralize(:ru)
- title current_title, :admin
- state_method ||= :state
.page-header
  .row
    .col-md-6
      %h1
        = current_title
        = link_to "#{t 'helpers.links.new'}", send("new_admin_#{to_path(model_class)}_path"), class: 'btn btn-primary'
        - if on_site_link
          = link_to on_site_link do
            %span.glyphicon.glyphicon-share
    = render 'web/admin/default/search', model_class: model_class
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    - if params[:search]
      %li
        = link_to search_tab_title(items[:search].total_count), "##{:search}"
    - tabs.each do |tab|
      %li
        = link_to tab_title(model_class, tab, items[tab].total_count, state_method), "##{tab}"
  - if params[:search]
    #search
      = render 'list', to_path(model_class).pluralize(:en).to_sym => items[:search]
  - tabs.each do |tab|
    %div{ id: tab }
      = render 'list', to_path(model_class).pluralize(:en).to_sym => items[tab]
= link_to t('.new', default: t('helpers.links.new')), send("new_admin_#{to_path(model_class)}_path"), class: 'btn btn-primary'
