.position_fields
  .row
    .col-md-12
      = f.input :title, as: :select, input_html: { class: :select2 }, collection: positions_list
  .row
    .col-md-5
      = f.input :begin_date, as: :date_picker
    .col-md-5
      = f.input :end_date, as: :date_picker
    .col-md-offset-1.col-md-1
      = f.input :member_id, as: :hidden
      = link_to_remove_association fa_icon(:remove), f, class: 'btn btn-danger', data: { 'wrapper-class' => 'position_fields' }
  .row
    .col-md-5
      - if type == :member
        = f.input :status
      - else
        = f.input :status, selected: :acting
    .col-md-6
      = f.input :for_now, as: :boolean
