%h3
  = t('.title')
  = render 'web/admin/default/comment_form_button'
= hint :feed, :default, place: :admin
%table.table.table-bordered.table-striped
  - feeds.each do |l|
    %tr
      %td
        = l.user.decorate.short_name
      %td
        - if l.class.name == 'LoggedAction'
          = enumerize_locales_value l, :action_type
        - if l.is_a? Comment
          = fa_icon :pencil
          = l.text
      %td
        = I18n.l l.created_at
= render 'web/admin/default/comment_form_button'
