- model_class = item.model_name.name
- model_class_underscore = model_class.underscore
- title item.short_name, :admin
.page-header
  %h1
    = item.full_name
    - if item.is_member?
      = link_to member_path(@member.ticket), class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-share
    = link_to send("edit_admin_#{model_class_underscore}_path", item), class: 'btn btn-warning' do
      = fa_icon :pencil
    = link_to send("admin_#{model_class_underscore}_path", item), method: :delete, class: 'btn btn-danger' do
      = fa_icon :remove
.row
  .col-lg-3
    = image_tag item.avatar.medium, style: 'width: 100%'
    %hr
    %h4
      = link_to fa_icon(:link), new_redirect_rule_by_photo_path(item.avatar), class: 'btn btn-xs btn-success'
      - if item.in_contact_list?
        .label.label-success
          = fa_icon :check
          = t('.contact_list')
    %hr
    - if item.is_questionary?
      = render 'web/admin/questionaries/buttons', instance: item.object
    %table.table.attributes-table
      - item.sites_attributes.each do |attribute|
        %tr
          %td= item.show_human_attribute_name attribute
          %td= item.show_attribute attribute
    %h3
      = t('.authentications')
    %table.table.attributes-table
      - item.authentications.each do |auth|
        %tr
          %td= social_network_fa_icon auth.provider
          %td=l auth.created_at, format: '%d %B %Y'
  .col-lg-9
    %table.table.attributes-table
      - item.real_attributes.each do |attribute|
        %tr
          %td= item.show_human_attribute_name attribute
          %td= item.show_attribute attribute
    %hr
    - if item.positions.any?
      %h4
        = t('.positions_history')
      %table.table.attributes-table
        - item.positions.decorate.each do |position|
          %tr
            %td= position.full_title
            %td= (l(position.begin_date, format: '%d.%m.%Y') if position.begin_date)
            %td= position.end_date_datetime
    %hr
    - if item.teams.any?
      %h4
        = t('.teams')
      %table.table.attributes-table
        - item.teams.each do |team|
          %tr
            %td= team.decorate.full_title
    %hr
    - if @registrations.any?
      %h4
        = t('.event_attendings')
      %table.table.attributes-tabl
        - @registrations.each do |registration, logged_action|
          %tr
            %td
              = registration.event.title
              = link_to event_path(registration.event) do
                %span.glyphicon.glyphicon-share
            %td= registration.role_text
            - if logged_action.present?
              %td= logged_action.user.decorate.short_name
.row
  .col-md-12
    = render 'web/admin/default/logged_actions', logged_actions: item.as_record_logged_actions
.row
  .col-md-12
    = render 'web/admin/default/logged_actions', logged_actions: item.logged_actions.reverse
