= paginate activity_lines_corporative_confessions, theme: 'twitter-bootstrap-3'
- model_class = ActivityLines::Corporative::Confession
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:member)
      %th= model_class.human_attribute_name(:year)
      %th= model_class.human_attribute_name(:nomination)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th=t 'helpers.links.actions'
  %tbody
    - activity_lines_corporative_confessions.each do |confession|
      %tr{ class: state_color(confession) }
        %td{ width: '67px' }
          = link_to confession.id, admin_activity_lines_corporative_confession_path(confession)
        %td= link_to confession.member.short_name, admin_activity_lines_corporative_confession_path(confession)
        %td= confession.year
        %td= enumerize_locales_value confession.model_name, :nomination, confession.nomination
        - if searching?
          %td= confession.human_state_name
        %td.actions
          - if confession.unviewed?
            = link_to admin_activity_lines_corporative_confession_path(confession, activity_lines_corporative_confession: { state: :on_vote }), method: :patch, class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-ok
          = link_to edit_admin_activity_lines_corporative_confession_path(confession), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_activity_lines_corporative_confession_path(confession), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate activity_lines_corporative_confessions, theme: 'twitter-bootstrap-3'
