- current_title = "#{@confession.short_name} | #{enumerize_locales_value(@confession.model_name, :nomination, @confession.nomination)}"
- title current_title
.panel-info
  .panel-heading
    %h4
      = current_title
  .panel-body
    %table.table.table-bordered.table-striped
      - @arguments.each do |argument|
        %tr
          %td= argument.short_name
          %td= enumerize_locales_value argument.model_name, :argument_type, argument.argument_type
          %td= argument.text
    %table.table.table-bordered.table-striped
      - @images.each do |image|
        %tr
          %td= image.short_name
          %td= image_tag image.file.medium
