- confessions = ActivityLines::Corporative::Confession.confirmed
- years = confessions.map(&:year).uniq
.confessions
  .years
    - years.each do |year|
      .year{ id: "year_#{year}", data: { element: "#confession_#{year}" } }
        = year
  .confessions_people
    - years.each do |year|
      - confessions_of_the_year = confessions.where year: year
      .confessions_of_the_year{ id: "confession_#{year}" }
        .year_text
          = year
        .people
          - confessions_of_the_year.each do |confession|
            .member
              = render 'layouts/web/elements/mic_member', link: member_path(confession.member.ticket),
                                                        img_src: confession.member.avatar.element.url,
                                                        name: confession.member.decorate.short_name

