- title @article.title

.news.articles.container-big
  %h3.title
    = @article.title
  .news-content
    .container-big
      .row.news-row-content.large-collapse.medium-collapse
        -# small-push-4 - для удобства, чтобы @article.body было в конце файла
        .small-12.columns
          = raw(@article.body)
          - @article.attachments.each do |document|
            = render_element 'mic_document', document: document
    %hr
    -# это типо яндекс.директ
    -#.same-themes.row
      .small-3.columns
        .mic-one-news.yadirect
          -#{style: "display: none"}
          -# это типо яндекс директ
          -#= render_element "mic_one_news", img_src: "https://yastatic.net/doccenter/images/help-ru/partner/freeze/6-k5DVsyGIp1hJUWQmWvmZ0Zls8.png", |
            #                                date: "", |
            #                               link: "#", |
            #                              title: "Яндекс-директ"
      .small-9.columns
        .same-themes-title
          = t('.same_themes')
        %ul
          - 4.times do
            %li
              .mic-article
                = render_element "mic_article",  link: "#", |
                                                 title: "Поразительные приключения бомжа васи"
    -#.row.yadirect-row
      %img{src: 'https://yastatic.net/doccenter/images/help-ru/partner/freeze/ujEqNXCVFmX90VU4FafCKxI0FE8.png'}
