= stylesheet_link_tag 'web/news'
.articles.container-big.row
  %h3.title
    = @article.title
  .news-content.big-column
    .main-article-content
      .row.article-row-content
        -# small-push-4 - для удобства, чтобы @article.body было в конце файла
        .small-12.columns.text
          = raw(@article.body)
          - @article.attachments.each do |document|
            = render_element 'mic_document', document: document
    .article-footer
      .social.row
        .left
          %span.icon-eye
          %span.view-text
            = @article.views
        .icons.right
          = render 'layouts/web/shared/social_sharing', counter: true
      .news-comments
        = render '/web/comments/index', comments: @article.comments.presented.reverse
        = render '/web/comments/form', record: @article
  %aside.article-sidebar
    - if @topic_articles.any?
      %h3
        = t('.same_articles')
      .side-content
        .side-related-articles
          - @topic_articles.each do |article|
            .mic-article
              = render_element 'mic_article', link: article_path(article), |
                                              title: article.title, |
                                              views: article.views, |
                                              comments: article.comments.count
    %h3
      = t('.popular_articles')
    .side-content
      .side-related-articles
        - @popular_articles.each do |article|
          .mic-article
            = render_element 'mic_article', link: article_path(article), |
                                            title: article.title, |
                                            views: article.views, |
                                            comments: article.comments.count
