- iliin = Member.find_by_ticket(1).decorate
- titova = Member.find_by_ticket(2).decorate
- domashevskaya = Member.find_by_ticket(451).decorate
- lapteva = domashevskaya
- informat = domashevskaya
.news.articles.container-big
  %h3.title
    = @article.title
  .container-big.row
    .small-3.columns
      .row.history-user-pic-row
        .small-6.columns
          = link_to article_member_path(iliin) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{iliin.avatar.profile})" }
        .small-6.columns
          = link_to article_member_path(titova) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{titova.avatar.profile})" }
      .row.history-user-pic-row
        .small-6.columns
          = link_to article_member_path(domashevskaya) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{domashevskaya.avatar.profile})" }
        .small-6.columns
          = link_to article_member_path(lapteva) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{lapteva.avatar.profile})" }
    .small-9.columns
      %p
        Об идее многофункционального методического центра вспомнили вновь четыре ульяновца. Это педагог дополнительного образования Областного Дворца детского творчества, руководитель Школы будущего журналиста
        %b
          = link_to_article_member_path(lapteva)
        , специалист Комитета по молодёжной политике Ульяновской области
        %b
          = link_to_article_member_path(titova, 'Алёна Асеева')
        , выпускающий редактор службы новостей «Город в эфире»
        %b
          = link_to_article_member_path(iliin)
        и консультант Управления по взаимодействию с общественными объединениями граждан администрации Губернатора Ульяновской области
        %b
          = link_to_article_member_path(domashevskaya)
        \.
      %p
        = link_to_article_member_path(iliin)
        по выходным преподавал в Центре детского творчества №6  и его  районном пресс-центре «Норд-вест», руководил работой Ассоциации начинающих журналистов Ульяновской области «Inформат»,
        = link_to_article_member_path(lapteva)
        также работала с молодыми журналистами и была вице-президентом
        = '«Inформата»'
        = link_to_article_member_path(titova, 'Елена Асеева')
        , реализовывала проекты, направленные на развитие у молодёжи лидерских качеств, проводила выездные семинары, в том числе была организатором конкурса актива старшеклассников «Я – лидер».
        = link_to_article_member_path(domashevskaya)
        через свои проекты пыталась развить у молодёжи чувство толерантности, работала с иностранными студентами, приехавшими в Ульяновск для обучения в местных вузах.
  .container-big.row.events-row
    - events = [ { year: 2002, title: 'Первый конкурс' }, { year: 2003, title: 'Второй конкурс Я лидер' }, { year: 2007, title: 'Основание МИЦ' } ]
    - 10.times do
      - events.each do |event|
        .event-circle{ data: event }
