- iliin = Member.find_by_ticket(1).decorate
- titova = Member.find_by_ticket(2).decorate
- domashevskaya = Member.find_by_ticket(451).decorate
- lapteva = { name: 'Татьяна Лаптева' }
- informat = domashevskaya
.news.articles.container-big
  %h3.title
    = @article.title
  .container-big.row
    .small-3.columns
      .row.history-user-pic-row
        .small-6.columns
          = link_to article_member_path(iliin), class: active_member_class(iliin) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{iliin.avatar.profile})" }
        .small-6.columns
          = link_to article_member_path(titova), class: active_member_class(titova) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{titova.avatar.profile})" }
      .row.history-user-pic-row
        .small-6.columns
          = link_to article_member_path(domashevskaya), class: active_member_class(domashevskaya) do
            .mic-userpic-circle.history-mic-userpic-circle{ style: "background-image: url(#{domashevskaya.avatar.profile})" }
        .small-6.columns
          .mic-userpic-circle.history-mic-userpic-circle.lapteva
    .small-9.columns.text
      %p
        %b
          Молодёжный инициативный центр
        появился в 2006 году, сначала как проект, получивший поддержку в рамках социального конкурса администрации полномочного представителя Президента в Приволжском федеральном округе.
      %p
        Фактически организацию создали четверо ульяновцев: педагог дополнительного образования областного Дворца детского творчества, руководитель «Школы будущего журналиста»
        = lapteva[:name]
        \, специалист Комитета по молодёжной политике Ульяновской области
        = link_to_article_member_path(titova, 'Алёна Асеева')
        \ (после замужества, - Титова), выпускающий редактор службы новостей «Город в эфире»
        = link_to_article_member_path(iliin)
        и консультант Управления по взаимодействию с общественными объединениями граждан администрации Губернатора Ульяновской области
        = link_to_article_member_path(domashevskaya)
        \.
        Каждый из них до этого уже занимался реализацией различных проектов в сфере молодёжной политики.
        = link_to_article_member_path(iliin)
        по выходным преподавал в Центре детского творчества №6 и его районном пресс-центре «Норд-вест», являлся президентом Ассоциации начинающих журналистов Ульяновской области «Inформат»,
        = lapteva[:name]
        также работала с молодыми журналистами и была вице-президентом «Inформата».
        = link_to_article_member_path(titova, 'Елена Асеева')
        \, реализовывала в регионе проекты, направленные на развитие у молодёжи лидерских качеств, проводила выездные семинары, в том числе была организатором конкурса актива старшеклассников «Я – лидер».
        = link_to_article_member_path(domashevskaya)
        через свои проекты пыталась развить у молодёжи чувство толерантности, работала с иностранными студентами, приехавшими в Ульяновск для обучения в местных вузах.
        20 февраля 2007 г. инициаторы создания МИЦ провели учредительное собрание. На нём Председателем организации избрали Константина Ильина. В этот же день должность Заместителя председателя заняла Елена Асеева.
  = render 'web/articles/shared/tags'
