- programs = ActivityLine.central_programs.shuffle
- projects = ActivityLine.local_projects.shuffle
- corporative = ActivityLine.corporative.shuffle
- departaments = Team::Departament.all.decorate
- subdivisions = Team::Subdivision.all.decorate
.news.articles.container-big
  %h3.title
    = @article.title
  .container-big.row
    .row
      %p
        %b
          Молодёжный инициативный центр
        \- это Ульяновская областная молодёжная общественная, не правительственная и не политическая организация.
      %p
        %b
          Молодёжный инициативный центр
        \- добровольная и самоуправляемая организация, сообщество людей с разными интересами и взглядами. В МИЦ входят школьники, студенты и работающая молодёжь из разных районов Ульяновской области.
      %p
        %b
          Молодёжный инициативный центр
        \– это молодая и амбициозная команда профессионалов своего дела, которая объединилась, чтобы реализовать свои идеи. А идея – это такая штука, которую, как ни крути, в одиночку не воплотишь в жизнь, особенно если она и придумана-то для других.
    .row
      %b
        Молодёжный инициативны центр
      проводит по
      = programs.count
      \ центральным программам и
      = projects.count
      \ областным проектам.
    .row.programs
      %h3
        Центральные программы
      - programs.each do |program|
        .small-3.columns.program.link{ data: { href: activity_line_path(program) } }
          = image_tag program.logo
    .row.programs
      %h3
        Областные проекты
      - projects.each do |project|
        .small-3.columns.program.link{ data: { href: activity_line_path(project) } }
          = image_tag project.logo
      .small-6.columns
    .row.programs
      %h3
        Корпоративные проекты
      - corporative.each do |corp|
        .small-3.columns.program.link{ data: { href: activity_line_path(corp) } }
          = image_tag corp.logo
    .row
      %b
        Молодёжный инициативный центр
      имеет
      = departaments.count
      \ местных отделений в районах Ульяновской области и
      = subdivisions.count
      \ структурных подразделений.
    .row.teams
      %h3
        Местные отделения
      - departaments.each do |departament|
        -#.small-3.columns.team.link{ data: { href: team_path(departament) } }
          %h4
            = departament.full_title
    .row.teams
      %h3
        Структурные подразделения
      - subdivisions.each do |subdivision|
        -#.small-3.columns.team.link{ data: { href: team_path(subdivision) } }
          %h4
            = subdivision.full_title
  = render 'web/articles/shared/tags'
