- (1..3).each do |slide|
  = javascript_include_tag "web/articles/presentation/slide_#{slide}"
  = stylesheet_link_tag "web/articles/presentation/slide_#{slide}"
  = render "web/articles/shared/presentation/slide_#{slide}"
