.news-content.container-big.row
  .stats-container.container-big.row.large-collapse.medium-collapse
    %ul.stats.small-10.columns
      %li.views
        .icon-eye
        %span.counter
          = @article.views
      - if @strings.any?
        %li.tags
          .icon-tags
          - @strings.each_with_index do |tag, index|
            = link_to tag.text, tag_path(tag)
            - unless index == @strings.count - 1
              ,
      - if @members.any?
        %li.humans
          .icon-human
          - img_src = "http://cs319921.vk.me/v319921441/8441/_JdsckyccWc.jpg"
          - @members.first(4).each do |member|
            = link_to member_path(member.ticket), class: 'human-link' do
              .human-photo{ style: "background-image: url(#{member.avatar.small})" }
          - if @members.count > 4
            %span.view-all
              %a{href: "#"}
                = t('.view_all')
              %span.count
                = "(#{@members.count})"
      %li.social-icons
        %a{href: "#"}
          .icon-vkontakte.min-icon
        %a{href: "#"}
          .icon-twitter.min-icon
        %a{href: "#"}
          .icon-facebook.min-icon
