= simple_form_for @event_form, url: { controller: 'web/users/activity_lines/lider/ya_lider/events', action: action } do |f|
  = f.input :participant_id, as: :hidden, input_html: { value: current_user.current_ya_lider_participant.id }
  = f.simple_fields_for :event do |ef|
    = ef.input :title
    = ef.input :description
    = ef.input :main_photo
    = ef.association :places, label_method: :title, value_method: :id
    = ef.input :organizer_type, as: :hidden, input_html: { value: 'User' }
    = ef.input :organizer_id, as: :hidden, input_html: { value: current_user.current_ya_lider_participant.id }
    = ef.input :activity_line_id, as: :hidden, input_html: { value: ActivityLine.lider.id }
    = ef.simple_fields_for :registrations do |erf|
      = erf.input :user_id, as: :select, collection: users_hash(@users), input_html: { class: :select2 }, label: false
  = f.simple_fields_for :fields do |ff|
    - ::ActivityLines::Lider::Yalider::ParticipantField.title.values.each do |title|
      = ff.input :field_type, as: :hidden, input_html: { value: :text }
      = ff.input :value
      = ff.input :title, as: :hidden, input_html: { value: title }
  = f.button :submit, class: 'btn btn-success'
