.registration_fields.row
  %h5
    = t('.event_participants')
  .medium-4.columns
    - if f.object.model.nil? || f.object.model.new_record?
      = f.input :user_id, as: :select, collection: users_cache_hash(@users), input_html: { class: :select2 }, label: false
    - else
      %span.norm-font
        = f.input :user_id, as: :hidden
        - if f.object.model.user
          = f.object.model.user.decorate.select_presentation
  .medium-4.columns
    = f.input :role, as: :select, collection: enumerize_locales_hash(Event::Registration, :role), label: false
  .medium-4.columns
    = link_to_remove_association fa_icon('remove 2x'), f, class: 'button tiny alert remove-registration', data: { 'wrapper-class' => 'registration_fields' }
