- model_class = Delivery::Campaign
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1= page_title(action, Delivery::Campaign.model_name.human)
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @campaign_form
.row
  .col-lg-12
    = simple_form_for [:admin, @campaign_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, t('helpers.links.save'), class: 'btn-success'
      = link_to t('helpers.links.back'), admin_members_path, class: 'btn btn-default'
      = f.input :title, as: :string
      = f.input :body
      = f.input :link, as: :string
      != image_input f, @campaign_form, :image
      = hint @campaign_form.model.class, :mailing_date
      = f.input :mailing_date, as: :datetime_picker
      = f.simple_fields_for :audiences do |a_form|
        = a_form.input :audience_type, as: :select, collection: audience_type_collection
      = f.button :submit, t('helpers.links.save'), class: 'btn-success'
      = link_to t('helpers.links.back'), admin_delivery_campaigns_path, class: 'btn btn-default'
