= paginate delivery_campaigns, theme: 'twitter-bootstrap-3'
- model_class = Delivery::Campaign
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:image)
      %th= model_class.human_attribute_name(:link)
      %th= model_class.human_attribute_name(:mailing_date)
      %th= model_class.human_attribute_name(:creator)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - delivery_campaigns.each do |delivery_campaign|
      %tr.link{ class: state_color(delivery_campaign), data: { href: admin_delivery_campaign_path(delivery_campaign) } }
        %td= delivery_campaign.id
        %td= delivery_campaign.title
        %td= delivery_campaign.lead
        %td= image_tag delivery_campaign.image.small
        %td= link_to t('helpers.link'), delivery_campaign.link
        %td=l delivery_campaign.mailing_date if delivery_campaign.mailing_date.present?
        %td= delivery_campaign.creator.short_name
        - if searching?
          %td= delivery_campaign.human_state_name
        %td.actions
          - if delivery_campaign.ready?
            -#= link_to rails_email_preview.rep_email_path('user_mailer_preview-just_message', email: delivery_campaign.contacts.first.email, first_name: delivery_campaign.contacts.first.first_name, last_name: delivery_campaign.contacts.first.last_name, link: delivery_campaign.link, subject: delivery_campaign.title, message: delivery_campaign.body, image: delivery_campaign.image), class: 'btn btn-primary btn-xs' do
              %span.glyphicon.glyphicon-eye-open
            = link_to admin_delivery_sessions_path(id: delivery_campaign.id), method: :post, class: 'btn btn-primary btn-xs' do
              %span.glyphicon.glyphicon-send
          = link_to edit_admin_delivery_campaign_path(delivery_campaign), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_delivery_campaign_path(delivery_campaign), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate delivery_campaigns, theme: 'twitter-bootstrap-3'
