.row-fluid.authentications
  %h3
    = t('.authentications')
  = t('.you_can_auth_with_social_networks')
  %br
  .table
    .row{ style: 'border-bottom: none' }
      .small-2.small-offset-5.end
        = t('.enable_in_profile_page')
    - authentications.each do |auth|
      .row
        .small-2.columns
          %span{ class: social_network_icon(auth.provider, :big, :colored) }
        .small-2.columns
          = link_to t('helpers.links.destroy'), users_authentication_path(auth), method: :delete, class: 'button alert'
        .small-2.small-offset-1.columns.end
          = check_box_tag auth.provider, 'yes', attribute_access(auth.provider, user), class: 'attribute_access', data: { id: user.id }

    - not_linked_social_networks(authentications).each do |network|
      .row
        .small-2.columns
          %span{ class: social_network_icon(network, :big, :colored) }
        .small-2.columns.end
          = link_to t('helpers.links.auth'), auth_path(network), class: 'button'
