= paginate comments, theme: 'twitter-bootstrap-3'
- model_class = Comment
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:text)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:text)
      %th= t 'helpers.links.actions'
  %tbody
    - comments.each do |comment|
      %tr.link{ class: state_color(comment), data: { href: edit_admin_comment_path(comment) } }
        %td= comment.id
        %td= link_to comment.record.title, record_path(comment.record)
        %td= comment.user.decorate.short_name if comment.user_id
        %td= comment.text
        %td.actions
          - unless comment.active?
            = link_to admin_comment_path(comment, comment: { state: :active }), method: :patch, class: 'btn btn-success btn-xs' do
              %span.glyphicon.glyphicon-ok
          = link_to edit_admin_comment_path(comment), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_comment_path(comment), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate comments, theme: 'twitter-bootstrap-3'
