%aside.callout#it_way_2016.it_way_2016
  .text-vertical-center
    .row
      .col-md-12.col-sm-12{ style: 'color: black !important; text-align: left !important' }
        %h2{ style: 'margin-top: 20px' }
          Условия участия
        Чтобы стать участников форума "IT Way'17" требуется:
        %ol
          %li
            Подать заявку на сайте
            = link_to 'it-way.pro', 'it-way.pro'
          %li
            Подписаться на все наши информационные ресурсы, а именно:
            = link_to 'группа во ВКонтакте', configus.it_projects.it_way.social_links.vk
            ,
            = link_to 'telegram-чат', configus.it_projects.it_way.social_links.telegram
            ,
            = link_to 'instagram', configus.it_projects.it_way.social_links.instagram
            ,
            = link_to 'twitter', configus.it_projects.it_way.social_links.twitter
          %li
            Подтвердить своё участие, ответив на звонок орг.комитета, или самостоятельно в
            = link_to 'telegram-чате', configus.it_projects.it_way.social_links.telegram
          %li
            Быть готовым поехать в лагерь 21-26 октября 2017 года
          %li
            Собрать необходимые для поездки в ДООЦ "Юность" документы (список будет выложен за 20 дней до мероприятия, там несложно)
          %li
            Приготовить организационный взнос 2500
            = fa_icon :ruble
            и взять его с собой на мероприятие
          %li
            %b
              Быть готовым получить интересные знания и лучшие эмоции!

        %h2
          Оргвзнос IT Way'17 составляет 2500 рублей
        В стоимость оргвзноса входят
        %ol
          %li
            Трансфер Ульяновск - лагерь "Юность", 21 октября
          %li
            Трансфер лагерь "Юность" - Ульяновск, 26 октября
          %li
            Проживание на базе проведения мероприятия с 21 по 26 октября (5-тиместная комната)
          %li
            Пятиразовое питание
          %li
            Работа профессиональных тренеров по направлениям
          %li
            Раздаточный материал
          %li
            Развлекательная и творческая программа
          %li
            Хорошее настроение :)
