%section#request.request
  .row
    .medium-8.medium-centered.columns
      %h2.text-center Заявка
      - form = Projects::ItWay::V2017::ParticipantForm
      = simple_form_for form.new(Project::Record.new), url: api_projects_records_path(project_name: :it_way, project_version: :v_2017, record_type: :participant), method: :post, remote: true, input_html: { class: 'form-horizontal' } do |f|
        = f.label :last_name, form_attribute_locale(form, :last_name)
        = f.input :last_name, as: :string, label: false
        = f.label :first_name, form_attribute_locale(form, :first_name)
        = f.input :first_name, as: :string, label: false
        = f.label :patronymic, form_attribute_locale(form, :patronymic)
        = f.input :patronymic, as: :string, label: false
        = f.label :birth_date, form_attribute_locale(form, :birth_date)
        = f.input :birth_date, as: :date_picker, label: false
        = f.label :email, form_attribute_locale(form, :email)
        = f.input :email, as: :string, required: true, label: false
        = f.label :phone, form_attribute_locale(form, :phone)
        = f.input :phone, as: :string, label: false
        = f.label :region, form_attribute_locale(form, :region)
        = f.input :region, collection: RussiaRegions.name_list, label: false
        = f.label :locality, form_attribute_locale(form, :locality)
        = f.input :locality, as: :string, label: false
        = f.label :school, form_attribute_locale(form, :school)
        = f.input :school, as: :string, label: false
        = f.label :group, form_attribute_locale(form, :group)
        = f.input :group, as: :string, label: false
        = f.label :activity_line, form_attribute_locale(form, :activity_line)
        = f.input :activity_line, label: false
        = f.label :experience, form_attribute_locale(form, :experience)
        = f.input :experience, as: :string, label: false
        = f.label :reason, form_attribute_locale(form, :reason)
        = f.input :reason, as: :string, label: false
        = f.label :has_i_note, form_attribute_locale(form, :has_i_note)
        = f.input :has_i_note, as: :string, label: false
        = f.button :submit, "ПОДАТЬ ЗАЯВКУ", class: 'text-center btn btn-dark btn-lg'
