%span
  = t('web.admin.tags.form.tags_reason')
%span
  = t('web.admin.helps.tags.form.types')
  %ul
    %li
      = fa_icon fa_model_association :string
      = t('web.admin.helps.tags.form.string')
    - Tag.target_type.values.each do |type|
      %li
        = fa_icon fa_model_association type 
        = t("web.admin.helps.tags.form.#{type.underscore}")
