= simple_form_for @tag, url: { controller: 'api/admin/tags', action: :create }, remote: true, html: { class: :tag_form } do |f|
  = f.input :tag_type, as: :hidden
  = f.input :record_type, as: :hidden, input_html: { value: record_type }
  = f.input :record_id, as: :hidden, input_html: { value: record_id }
  = f.input :target_type, as: :hidden
  = f.input :target_id, as: :select, label: false
  = f.input :text, as: :hidden
  = f.input :text, as: :select, label: false
  = f.button :submit, t('.add_tag'), style: 'display: none', class: 'btn btn-xs btn-success'
  = link_to t('.add_new_string_tag'), '#', style: 'display: none', class: 'btn btn-xs btn-warning', id: 'add_new_string_tag'
