= simple_form_for @tag, url: { controller: 'web/admin/tags', action: :create } do |f|
  = f.input :tag_type, as: :hidden
  = f.input :record_type, as: :hidden, input_html: { value: record_type }
  = f.input :record_id, as: :hidden, input_html: { value: record_id }
  = f.input :target_type, as: :hidden
  = f.input :target, as: :hidden
  = f.input :text, as: :hidden
  = f.button :submit, style: 'display: none'
