- if tag.tag_type.string?
  = tag.text
- elsif tag.tag_type.link?
  - if tag.target_type == 'Member'
    = "#{tag.target.ticket} | #{tag.target.first_name} #{tag.target.last_name}"
  - elsif tag.target_type == 'Event' || tag.target_type == 'ActivityLine' || tag.target_type == 'Team'
    = tag.target.title
