= stylesheet_link_tag 'web/members/corporative/petitions'
= javascript_include_tag 'web/members/corporative/petitions'

- title t('.title', year: current_confession_year)

.container.mic-form-container.petition-form
  %h2.title
    = t('.title', year: current_confession_year)
  Добро пожаловать!
  %br
  Перед вами ходатайство о присвоение корпоративной премии «Признание» Молодёжного инициативного центра. «Признание» делится на две номинации: «Дебют года» - люди, активно проявившие себя в этом году (они могут давно состоять в организации, но начать деятельность в течение этого календарного года), «Номер один» - ребята заработавшие авторитет в организации, реализовавшие собственные мероприятия, проекты. Напоминаем, это не подарок, а заслуженная награда, пэтому к выбору номинантов просим отнестись предельно объективно. Номинирован на премию может быть человек, состоящий официально в организации 3 и более месяцев.
  %br
  Изменить или удалить ходатайство после отправки будет невозможно! Заполняйте внимательно.
  %br
  Если кандидат, которого вы считаете достойным, отсутствует в списке номинантов, вы можете подать ходатайство на него, используя специальную форму. Если кандидат, на которого вы хотите подать ходатайствовать, отсутствует и в выпадающем списке и в списке номинантов, значит, он уже получил премию «Признание» в предыдущие годы в этой номинации. Посмотреть получателей премии «Признание» за прошлые года можно
  = link_to ' здесь ', article_path(25)
  \. Обратите внимание на обязательность (в связи с отсутствием одного из пунктов, ходатайство будет отклонено) заполнения всех полей формы. Текст представленный в ходатайствах будет использован при издании корпоративной тетради премии "Признание".
  .form
    = render 'form', action: :create
