= paginate questionaries, theme: 'twitter-bootstrap-3'
- model_class = Questionary
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:full_name)
      %th= model_class.human_attribute_name(:place)
      %th= model_class.human_attribute_name(:created_at)
      %th= t 'helpers.links.actions'
  %tbody
    - questionaries.each do |questionary|
      %tr.tr_link{ class: state_color(questionary), data: { href: edit_admin_questionary_path(questionary) } }
        %td= questionary.id
        %td= image_tag questionary.avatar.small
        %td= link_to questionary.full_name, edit_admin_questionary_path(questionary)
        %td= questionary.place
        %td=l questionary.created_at
        %td.actions{ style: 'width: 147px' }
          .btn-group
            = link_to '#', class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-ok
            = link_to '#', class: 'btn btn-xs btn-success dropdown-toggle', data: { toggle: :dropdown }, aria: { expanded: false } do
              %span.glyphicon.glyphicon-triangle-bottom
            %ul.dropdown-menu
              - if questionary.member_state == 'unviewed'
                %li
                  = link_to t('state_machines.questionary.state.events.put_on_the_trial'), admin_questionary_path(questionary, questionary: { member_state: :on_the_trial }), method: :put
              - unless questionary.member_state == 'confirmed'
                %li
                  = link_to t('state_machines.questionary.state.events.confirm'), admin_questionary_path(questionary, questionary: { member_state: :confirmed }), method: :put
          = link_to edit_admin_questionary_path(questionary), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          .btn-group
            = link_to '#', class: 'btn btn-xs btn-danger' do
              %span.glyphicon.glyphicon-remove
            = link_to '#', class: 'btn btn-xs btn-danger dropdown-toggle', data: { toggle: :dropdown }, aria: { expanded: false } do
              %span.glyphicon.glyphicon-triangle-bottom
            %ul.dropdown-menu
              %li
                = link_to t('helpers.links.destroy'), admin_questionary_path(questionary), method: :delete
              - unless questionary.member_state == :declined
                %li
                  = link_to t('helpers.links.decline'), admin_questionary_path(questionary, questionary: { member_state: :declined }), method: :patch
= paginate questionaries, theme: 'twitter-bootstrap-3'
