- model_class = Member
- title @questionary.short_name, :admin
.page-header
  %h1
    = @questionary.full_name
    = link_to edit_admin_questionary_path(@questionary), class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-pencil
    = link_to admin_questionary_path(@questionary), method: :delete, class: 'btn btn-danger' do
      %span.glyphicon.glyphicon-remove
.row
  .col-lg-3
    = image_tag @questionary.avatar.medium, style: 'width: 100%'
    %hr
    %table.table.attributes-table
      - @questionary.sites_attributes.each do |attribute|
        %tr
          %td= model_class.human_attribute_name attribute
          %td= @questionary.show_attribute attribute
  .col-lg-9
    %table.table.attributes-table
      - @questionary.real_attributes.each do |attribute|
        %tr
          %td= model_class.human_attribute_name(attribute)
          %td= @questionary.show_attribute attribute
    %hr
    - if @questionary.positions.any?
      %h4
        = t('.positions_history')
      %table.table.attributes-table
        - @questionary.positions.decorate.each do |position|
          %tr
            %td= position.title
            %td= (l(position.begin_date, format: '%d.%m.%Y') if position.begin_date)
            %td= position.end_date_datetime
    %hr
    - if @questionary.registrations.any?
      %h4
        = t('.event_attendings')
      %table.table.attributes-tabl
        - @questionary.registrations.each do |registration|
          %tr
            %td
              = registration.event.title
              = link_to event_path(registration.event) do
                %span.glyphicon.glyphicon-share
            %td= registration.role_text
