- model_class = News
- current_title = page_title(action, News.model_name.human)
- title current_title, :admin
.page-header
  %h1
    - if @previous_news
      = link_to edit_admin_news_path(@previous_news), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-chevron-left
    = current_title
    - if @next_news
      = link_to edit_admin_news_path(@next_news), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-chevron-right
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @news_form
.row
  .col-lg-12
    = simple_form_for [:admin, @news_form], input_html: { class: 'form-horizontal' } do |f|
      = f.input :title, as: :string
      = f.input :lead, as: :string
      = f.input :body, as: :ckeditor
      = f.input :published_at, as: :datetime_picker
      = f.label :photo
      .preview
        = image_tag @news_form.model.photo if @news_form.model.photo.present?
      = f.input :photo, as: :file, label: false, input_html: { style: 'display: none' }
      = f.input :photo, label: false, as: :jasny_file_preview_upload
      - if current_user.role.author?
        = f.input :state, as: :hidden, input_html: { value: :unviewed }
      - elsif !@news_form.model.main?
        = f.input :state, as: :hidden, input_html: { value: :confirmed }
      = f.association :attachments
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')

      = link_to t('helpers.links.back'), admin_news_index_path, class: 'btn btn-default'
