= paginate news, theme: 'twitter-bootstrap-3'
- model_class = News
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:published_at)
      %th= model_class.human_attribute_name(:views)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th
        = model_class.human_attribute_name(:tags)
        %span{ data: { toggle: :popover, content: raw(render('web/admin/helps/tags/form')), html: :true, placement: :top, trigger: :focus }, title: t('activerecord.models.tag').pluralize(:ru) }
          = link_to '#' do
            = fa_icon('question-circle')
        %br
        %span{ data: { toggle: :popover, content: raw(render('web/admin/helps/tags/string')), html: :true, placement: :top, trigger: :focus }, title: t('enumerize.tag.tag_type.string') }
          = link_to '#' do
            = fa_icon "#{fa_model_association :string} 2x"
        - Tag.target_type.values.each do |type|
          %span{ data: { toggle: :popover, content: raw(render("web/admin/helps/tags/#{type.underscore}")), html: :true, placement: :left, trigger: :focus }, title: t("enumerize.tag.target_type.#{type}") }
            = link_to '#' do
              = fa_icon "#{fa_model_association type.underscore} 2x"
      %th=t 'helpers.links.actions'
  %tbody
    - news.each do |news|
      %tr
        %td{ width: '67px' }
          = link_to news.id, edit_admin_news_path(news)
          = link_to news_path(news) do
            = fa_icon 'share-square-o'
        %td= news.author_name
        %td
          = link_to news.title, edit_admin_news_path(news)
        %td= news.lead
        %td=l news.published_at
        %td= news.views
        - if searching?
          %td= news.human_state_name
        %td{ style: 'width: 200px' }
          = react_component 'TagsForm', record: news, record_type: 'news', tags: TagCollectionDecorator.new(news.tags.active).with_just_text
        %td.actions
          - if current_user.admin?
            - if news.main?
              = link_to admin_news_path(news, news: { state: :confirmed }), method: :patch, class: 'btn btn-danger btn-xs' do
                = fa_icon :fire
            - else
              = link_to admin_news_path(news, news: { state: :main }), method: :patch, class: 'btn btn-success btn-xs' do
                = fa_icon :fire
            - if news.unviewed? && current_user.has_permission_to?(:review, :news)
              = link_to admin_news_path(news, news: { state: :confirmed }), method: :patch, class: 'btn btn-success btn-xs' do
                %span.glyphicon.glyphicon-ok
          = link_to edit_admin_news_path(news), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_news_path(news), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate news, theme: 'twitter-bootstrap-3'
