= javascript_include_tag :tabs
= stylesheet_link_tag :tabs

.page-header
  %h1=t '.title'
  %ul.nav.nav-tabs{ role: :tablist }
    %li
      = link_to t('.published'), '#published'
    %li
      = link_to t('.unpublished'), '#unpublished'
  #published
    = link_to t('.new', default: t('helpers.links.new')), new_admin_news_path, class: 'btn btn-primary'
    = render 'news_list', news: @published_news
  #unpublished
    = link_to t('.new', default: t('helpers.links.new')), new_admin_news_path, class: 'btn btn-primary'
    = render 'news_list', news: @unpublished_news
    = link_to t('.new', default: t('helpers.links.new')), new_admin_news_path, class: 'btn btn-primary'
