- content_for :meta do
  %meta{ property: 'og:description', content: "#{@news.description_lead} #МИЦ" }
  %meta{ property:'og:image', content: @news.photo }
  %meta{ name:'description', content: "#{@news.description_lead} #МИЦ" }
  %link{ rel: 'image_src', href: @news.photo  }
.show
  .title
    = @news.title
  .date
    = @news.publish_date_time
  .body
    = image_tag @news.photo, class: 'main_photo'
    = @news.body
