%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h4
          %strong III форум перпектив будущего ИТ-специалиста IT Way'17
        %p
          Ульяновская область
        %ul.list-unstyled
          %li
            = fa_icon :phone
            = tel_tag '+7 (8422) 727276'
          %li
            = fa_icon :envelope
            = mail_to 'kalashnikov@ulmic.ru'
        %br/
        %ul.list-inline
          = link_to configus.it_projects.it_way.social_links.vk do
            = fa_icon 'vk 3x fw'
          = link_to configus.it_projects.it_way.social_links.twitter do
            = fa_icon 'twitter 3x fw'
        %hr.small/
  .container.text-center
    .row.social
      .col-md-3.col-md-offset-1
        %a{ href: 'http://ulmic.ru', target: '_blank' }
          = image_tag 'pages/it_way/project_it.png'
      .col-md-3
        %a{ href: 'http://ulmic.ru', target: '_blank' }
          = image_tag 'pages/it_way/logo-mic-square.png'
      .col-md-3
        %a{ href: 'http://vk.com/futurelab', target: '_blank' }
          = image_tag 'pages/it_way/futurelab.jpg'
      .col-lg-12
        %hr.small/
        %p.text-muted
          ©
          = copyright_notice_year_range 2015
          &nbsp
          = link_to 'Молодёжный инициативный центр', 'http://ulmic.ru', target: '_blank'
