%section#portfolio.portfolio
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Портфолио организаторов
        %p
          Ульяновская областная молодёжная общественная организация «Молодёжный инициативный центр»
        %hr.small/
        .row
          - [ :lider, :informat ].each do |event|
            .col-md-6
              .portfolio-item
                = link_to configus.it_projects.it_way.links.send(event), class: :blank do
                  = image_tag "#{event}.jpg", class: 'img-portfolio img-responsive'
        .row
          .col-md-12
            = link_to configus.it_projects.it_way.links.ulmic, class: :blank do
              = image_tag 'horizontal-logo-mic.png'
