.close
  .btn
    X
.top
  %h2
    = t('.title')
.form
  = simple_form_for @place, remote: true, url: { controller: 'api/admin/places', action: :create } do |f|
    = f.input :title, placeholder: 'locale', label: false
    = f.input :description, placeholder: 'locale', label: false
    = f.input :state, label: false, collection: RussiaRegions.name_list, input_html: { class: :select2, data: { prompt: t('forms.placeholders.web.places.default.place_state') } }
    = f.input :latitude
    = f.input :longitude
    = f.input :url
    = f.button :submit, t('.create_place')
    = link_to t('.see_coordinates'), '#', class: 'btn btn-default see_coordinates'
