- title @news.title
- content_for :meta do
  %meta{ property: 'og:description', content: "#{@news.description_lead} #МИЦ" }
  %meta{ property:'og:image', content: @news.photo }
  %meta{ name:'description', content: "#{@news.description_lead} #МИЦ" }
  %link{ rel: 'image_src', href: @news.photo  }

.news.news_show.row
  %aside.news-sidebar
    %a.prev-next-link.prev
      .link-info
        предыдущая новость
      .link-name
        Волонтёрское движение в ульяновске
    %section.related-event
      %h3
        по этой же программе
      - 3.times do
        .mic-event2
          = render_element 'mic_event2', img_src:  "/system/uploads/member/avatar/2/2165339.jpg", |
                                        category: "Говно", |
                                        link: "#", |
                                        date: "22 февраля", |
                                        text: "Мицевские волонтеры собираются отдыхать в турцию"
      - if @event.present?
        .mic-event2
          = render_element 'mic_event2', img_src: @event.main_photo, |
                                            link: event_path(@event), |
                                            date: @event.full_date_duration, |
                                            text: @event.lead
  %main.big-column
    .slider-wrap
      .slider
        -#= image_tag @news.photo -# FIXME
        %img{:src => "/system/uploads/member/avatar/2/2165339.jpg"}
        %img{:src => "/system/uploads/member/avatar/2/2165339.jpg"}
        %img{:src => "/system/uploads/member/avatar/2/2165339.jpg"}
      .slider-arrow.left
      .slider-arrow.right
    .row
      %section.author.columns.small-5
        - if @news.user.present?
          = image_tag  "/system/uploads/member/avatar/2/2165339.jpg", class: 'human-photo'
          -#= image_tag @news.user.avatar, class: 'human-photo' -# FIXME
          .author-name
            = "#{t('activerecord.attributes.news.user_id')}:"
            = @news.user.decorate.short_name
        - else
          = image_tag '', class: 'human-photo'
          .author-name
            = "#{t('activerecord.attributes.news.user_id')}:"
            Пресс-служба МИЦ
        .date-text
          = @news.publish_date_time
        .row
          .comments-views
            %span.icon-eye
            %span.view-text
              = @news.views
            %span.icon-comment.fa.fa-comment
            %span.comment-text
              5
      %section.about.columns.small-6
        .category-wrap
          .category
            Всякое разное
    %article.news-info
      %h1
        = @news.title
      %p.news-lead
        = @news.lead
      %p.text
        = raw(@news.body)
        - @news.attachments.each do |document|
          = render_element 'mic_document', document: document
      .news-footer.row
        .tags.columns.small-9
          %span.icon-fa-tags
          %a.tag
            дизайн,
          %a.tag
            мастеркласс
        .share.columns.small-3
          .social.row
            .icons.right
              %a{ href: configus.social_networks_pages.vkontakte }
                .min-icon.icon-vk
              %a{ href: configus.social_networks_pages.twitter }
                .min-icon.icon-twitter
              %a{ href: configus.social_networks_pages.facebook }
                .min-icon.icon-facebook
              %a{ href: configus.social_networks_pages.google_plus }
                .min-icon.icon-google
        .people.colunms.row
          %span.columns.small-2
            упомянуты в статье:
          .people-img.columns.small-10
            %img.human-photo{:src => "/system/uploads/member/avatar/2/2165339.jpg"}
            %img.human-photo{:src => "/system/uploads/member/avatar/2/2165339.jpg"}
            %a.show-all
              посмотреть всех
  %aside.news-sidebar
    %a.prev-next-link.next
      .link-info
        следующая новость
      .link-name
        Пожар в ульяновске
    %section.related-news
      %h3
        лента новостей
      .side-content
        .side-related-news
          - 3.times do |index|
            .mic-one-news
              = render_element 'mic_one_news', img_src:   "/system/uploads/member/avatar/2/2165339.jpg", |
                                             link: "#", |
                                             category: "Категория", |
                                             title: "Мицевские волонтеры едут на тракторе в Сербию. Мицевские волонтеры едут на тракторе в Сербию. Мицевские волонтеры едут на тракторе в Сербию", |
                                             date: "23 февраля 2015"
            - if index != (3 - 1)
              %hr
          - @topic_news.each do |news|
            - if news.present?
              %hr
              .mic-one-news
                = render_element 'mic_one_news', img_src: news.photo, |
                                                 category: "Category", |
                                                 link: news_path(news), |
                                                 title: news.title, |
                                                 date: news.publish_date
          .all-news-container
            %a.all-news-text
              Все новости
