- title @news.title
= stylesheet_link_tag 'web/comments'
= javascript_include_tag 'web/comments'
- content_for :meta do
  %meta{ property: 'og:description', content: "#{@news.description_lead} #МИЦ" }
  %meta{ property:'og:image', content: @news.photo }
  %meta{ name:'description', content: "#{@news.description_lead} #МИЦ" }
  %link{ rel: 'image_src', href: @news.photo  }

.news.news_show.row
  %aside.news-sidebar
    - if @previous_news.present?
      %a.prev-next-link.prev{ href: news_path(@previous_news) }
        .link-info
          = t('.previous')
        .link-name
          = @previous_news.title
    - if @same_events.any?
      %section.related-event
        %h3
          = t('.about_program')
        - @same_events.each do |event|
          .mic-event2
            = render_element 'mic_event2', img_src:  event.main_photo.event_main_page_version, |
                                           category: event.activity_line.title, |
                                           link: event_path(event), |
                                           date: event.full_date_duration, |
                                           text: event.title
        - if @event.present?
          .mic-event2
            = render_element 'mic_event2', img_src: @event.main_photo, |
                                           link: event_path(@event), |
                                           date: @event.full_date_duration, |
                                           text: @event.lead
  %main.big-column
    .main-news-content
      .slider-wrap
        .slider
          = image_tag @news.photo
        -#.slider-arrow.left
        -#.slider-arrow.right
      .row
        %section.author.columns.small-5.link{ data: { href: member_path(@news.member.ticket) } }
          = image_tag  @news.member.avatar.small, class: 'human-photo'
          .author-name
            = "#{t('activerecord.attributes.news.user_id')}:"
            = @news.member.decorate.short_name
          .date-text
            = @news.publish_date_time
          .row
            .comments-views
              %span.icon-eye
              %span.view-text
                = @news.views
              -#%span.icon-comment.fa.fa-comment
              -#%span.comment-text
                5
      %article.news-info
        %h1
          = @news.title
        %p.news-lead
          = raw(@news.lead)
        %p.text
          = raw(@news.body)
          - @news.attachments.each do |document|
            = render_element 'mic_document', document: document
        .news-footer.row
          .tags.columns.small-7
            %span.icon-fa-tags
            - @strings.each do |tag|
              %a.tag
                = tag.text
            - @not_strings.each do |tag|
              %a.tag
                = tag.target.title
          .share.columns.small-5
            .social.row
              .icons.right
                = render 'layouts/web/shared/social_sharing'
          .people.colunms.row
            - if @members.any?
              %span.columns.small-2
                = t('.referred_members')
                \:
              = render 'layouts/web/elements/mic_member_tags', members: @members
    -#.news-comments
      = render '/web/comments/index', comments: @news.comments
      = render '/web/comments/form', record: @news
    .best-related-news
      -#%ul.tabs{ data: { tab: '' } }
        -#%li.tab-title.left-tab.active
          %a{href: "#best-by-comments", tabindex: "0"}
            Самое комментируемое
        %li.tab-title.right-tab
          %a{ href: '#best-by-views', tabindex: '0' }
            = t('.most_popular')
      .tabs-content
        -##best-by-comments.content.active
          %ul.small-block-grid-3
            - 4.times do
              -# FIXME мб класс тоже засунуть в темплейт
              %li.mic-one-news2
                = render_element 'mic_one_news2', img_src:  "/system/uploads/member/avatar/2/2165339.jpg", |
                                              link: "#", |
                                              date: "22 февраля", |
                                              views: 3, |
                                              comments: 5, |
                                              text: "Мицевские волонтеры собираются отдыхать в турцию"
        #best-by-views.content.active
          %ul.small-block-grid-3
            - @popular_news.each do |news|
              -# FIXME мб класс тоже засунуть в темплейт
              %li.mic-one-news2
                = render_element 'mic_one_news2', img_src:  news.photo.event_main_page_version, |
                                                  link: news_path(news), |
                                                  date: news.publish_date, |
                                                  views: news.views, |
                                                  text: news.title
  %aside.news-sidebar
    - if @next_news.present?
      %a.prev-next-link.next{ href: news_path(@next_news) }
        .link-info
          = t('.next')
        .link-name
          = @next_news.title
    %section.related-news
      %h3
        = t('.news_feed')
      .side-content
        .side-related-news
          - @last_news.each_with_index do |news, index|
            .mic-one-news
              = render_element 'mic_one_news', img_src: news.photo.event_main_page_version, |
                                               link: news_path(news), |
                                               title: news.title, |
                                               views: news.views, |
                                               date: news.publish_date
            - if index != (@last_news.size - 1)
              %hr
          - if @topic_news.any?
            .all-news-container
              %a.all-news-text
                = t('.topic_news')
            - @topic_news.each do |news, index|
              - if news.present?
                .mic-one-news
                  = render_element 'mic_one_news', img_src: news.photo, |
                                                   link: news_path(news), |
                                                   title: news.title, |
                                                   views: news.views, |
                                                   date: news.publish_date
                - if index != (@topic_news.size - 1)
                  %hr
