%html
  %head
    %title III форум перспектив будущего ИТ-специалиста «IT Way'17»
    = javascript_include_tag 'jquery'
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"
    = javascript_include_tag 'web/pages/it_way'
    = stylesheet_link_tag 'web/pages/it_way/application'
    = stylesheet_link_tag 'web/pages/it_way/stylish-portfolio'
    = stylesheet_link_tag 'web/pages/it_way/blocks'
    = stylesheet_link_tag 'web/pages/it_way'
    = render 'layouts/web/shared/services/google_analytics', ga_uid: configus.it_projects.it_way.google_analytics.uid
  %body
    = render 'web/projects/it_way/main_2017/header'
    -#= render 'web/projects/it_way/main_2017/request'
    = render 'web/projects/it_way/main_2017/it_way_2016'
    = render 'web/projects/it_way/main_2017/activity_lines'
    = render 'web/projects/it_way/main_2017/programming'
    = render 'web/projects/it_way/main_2017/design'
    = render 'web/projects/it_way/main_2017/steel'
    = render 'web/projects/it_way/main_2017/career_guidance'
    = render 'web/projects/it_way/main_2017/portfolio'
    = render 'web/projects/it_way/main_2017/footer'
