- title :app_name
%link{ rel: :stylesheet, type: 'text/css', href: "//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css" }
.welcome
  .main-slider
    %a.left-arrow
    %a.right-arrow
    .slider-items
      - @news.each do |news|
        .main-slider-item.slider-link{ data: { href: news_path(news) } }
          = image_tag news.photo, class: 'slider-img'
          .slider-item-info
            = news.title
  -#.category-navbar-container.clear-fix
    %nav.top-bar{ data: { topbar:  '' } }
      %section.top-bar-section
        .container-big
          %ul.left
            - ["Лидерство", "Журналистика", "IT", "Право", "Толерантность", "Волонтёрство", "НКО"].each do |item|
              %li
                %a{href: "#"}
                  = item
  .news
    .left-arrow
      %i.fa.fa-caret-left.fa-3x
    .container-big
      .top
        %h4.title
          = t('.news')
      .news-slider
        - @text_news.each do |news|
          %a.new-slider-item{ href: news_path(news) }
            %p.date
              = news.publish_date_time
            %p.content.title
              = news.title
            %p.content.text
              = news.short_lead
        - 5.times do
          %a.new-slider-item
            %p.date
            %p.content.title
            %p.content.text
    .right-arrow
      %i.fa.fa-caret-right.fa-3x
  .events
    .container-big
      %h4.rotate
        = t('.events')
      .container-big
        %ul.small-block-grid-4#event-list
          - @events.each do |event|
            %li.mic-event
              = render_element "mic_event", img_src: event.main_photo, |
                                            link: event_path(event), |
                                            category: event.activity_line.title, |
                                            date: event.full_date_duration, |
                                            title: event.title, |
                                            text: strip_tags(event.lead)
    .more-events{ style: 'cursor: pointer' }
      %i.fa.fa-caret-down.fa-5x
  .humans
    %ul.small-block-grid-7
      - @members.each do |member|
        - foto_src = member.avatar.profile.url
        %li.human.link{ data: { href: member_path(member.ticket) } }
          .bg-foto{ style: "background-image: url('#{foto_src}')" }
          %a.info
            .vertical-center
              .name
                = member.short_name
              -#.post
                = member.main_position_title
              -#- if member.position_duration
                .duration
                  = member.position_duration
              .credo
                = member.motto
              .ticket
                %span.glyphicon.glyphicon-credit-card
                = member.ticket_number
  -#.last-tweets
    .icon
    %h2
      Последние твиты
    %blockquote
      Сегодня последний день, что бы подтвердить свою поездку на профильную смену "Ярмарка идей". 			Подтверждения принимаем на ul-lider.ru
      %span.clear-fix
      %section
        %span.author
          %span.first-letter
            @
          ulmic.ru
        %span.date
          13 Февраля 2015
