= paginate delivery_contact_emails, theme: 'twitter-bootstrap-3'
- model_class = Delivery::ContactEmail
%br
= link_to new_admin_document_path(document: { title: "#{t('.import_from_file')}_#{l(DateTime.now, format: "%d.%m.%y")}" }, import: true), class: 'btn btn-success' do
  = fa_icon :download
  = t('helpers.import')
%br
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:short_name)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - delivery_contact_emails.each do |delivery_contact_email|
      %tr.link{ class: state_color(delivery_contact_email), data: { href: admin_delivery_contact_email_path(delivery_contact_email) } }
        %td= delivery_contact_email.id
        %td= delivery_contact_email.email
        %td= delivery_contact_email.short_name
        - if searching?
          %td= delivery_contact_email.human_state_name
        %td.actions
          = link_to admin_delivery_contact_email_path(delivery_contact_email), method: :delete, class: 'btn btn-xs btn-danger' do
            = fa_icon :remove
= paginate delivery_contact_emails, theme: 'twitter-bootstrap-3'
