= simple_form_for @user, url: { controller: 'web/users', action: :create } do |f|
  = f.input :first_name, as: :string
  = f.input :patronymic, as: :string
  = f.input :last_name, as: :string
  = f.input :email, as: :string
  = f.input :password, as: :password
  = f.submit
