- title
= render 'layouts/web/shared/errors', object: @user_form
= simple_form_for @user_form, url: { controller: 'web/users', action: :create } do |f|
  = f.input :first_name, as: :string, required: true
  = f.input :last_name, as: :string, required: true
  = f.input :email, as: :string, required: true
  = f.input :password, as: :password, required: true
  = f.input :password_confirmation, as: :password, required: true
  = f.button :submit, t('.register')
