- model_class = ActivityLines::Lider::YaLider::Stage
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
- contest_id = @stage_form.model.contest_id || params[:activity_lines_lider_ya_lider_stage][:contest_id]
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @stage_form
.row
  .col-lg-12
    = simple_form_for [:admin, @stage_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), new_admin_activity_lines_lider_ya_lider_path(contest_id), class: 'btn btn-default'
      = f.input :title, as: :string
      = f.input :number, as: :integer
      = f.input :contest_id, as: :hidden, input_html: { value: contest_id }
      = f.input :begin_date, as: :date_picker
      = f.input :end_date, as: :date_picker
      = f.input :state_event, as: :state_event
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), new_admin_activity_lines_lider_ya_lider_path(contest_id), class: 'btn btn-default'
