- title @stage.full_title
.page-header
  %h1
    = @stage.full_title
.row
  .col-md-6
    - if @stage.is_the_first?
      = link_to t('helpers.links.add'), new_admin_activity_lines_lider_ya_lider_participant_path(activity_lines_lider_ya_lider_particpant: { contest_id: @stage.contest_id }), class: 'btn btn-success'
    = link_to t('helpers.links.back'), admin_activity_lines_lider_ya_lider_path(@stage.contest), class: 'btn btn-default'
  = render 'web/admin/default/search', model_class: ActivityLines::Lider::YaLider::Participant
.row
  - options = if @stage.number == 2
    - [ :stage_show, :fair_idea ]
  - else
    - [ :stage_show ]
  = render 'web/admin/activity_lines/lider/ya_lider/participants/list', activity_lines_lider_ya_lider_participants: @current_participants, options:  options
.row
  - if @stage.is_the_first?
    = link_to t('helpers.links.add'), new_admin_activity_lines_lider_ya_lider_participant_path(activity_lines_lider_ya_lider_particpant: { contest_id: @stage.contest_id }), class: 'btn btn-success'
  = link_to t('helpers.links.back'), admin_activity_lines_lider_ya_lider_path(@stage.contest), class: 'btn btn-default'
