.main-navbar-container
  %nav.top-bar{ data: { topbar: '' } }
    %section.top-bar-section
      .container-big
        %ul.right
          - if signed_in?
            - if current_user.admin? && @notification_count > 0
              %li
                = link_to admin_path do
                  .inner
                    = fa_icon 'info-circle'
                    = @notification_count
            - elsif @notification_count > 0
              %li
                = link_to admin_unviewed_index_path do
                  .inner
                    = fa_icon 'info-circle'
                    = @notification_count
            - if navbar_show_adminka?
              %li
                = link_to admin_path do
                  .inner
                    Админка
            - if current_user.is_user? && current_user.unviewed? && !current_user.email.present?
              %li
                = link_to account_path do
                  .inner
                    %i.fa.fa-info
                    = t('.your_account_is_not_active')
          - else
            = render 'layouts/web/shared/navbar/sign_in_icons'
          %li.banner-container
            - if signed_in?
              = render 'layouts/web/shared/navbar/signed_in_banner'
            - else
              .banner
                .text
                  Жизнь
                  %br
                  в стиле миц
          %li
            = link_to article_path(configus.articles.contacts) do
              .inner
                = t('helpers.contacts')
          %li
            %a{ href: "#" }
        %ul.left
          %li.has-dropdown.dropdown-category-menu
            = link_to root_path do
              .inner
                = image_tag 'apps/logo-mic-square-small.png', class: 'logo-icon'
            %ul.dropdown
              #category_menu.category-menu
                - if @first_category.present?
                  .category-column
                    .menu-title
                      = @first_category.name
                    - @first_category.articles.visible.confirmed.each do |article|
                      = link_to article.title, article_path(article)
                -# if @about_site_category.present?
                  .category-column
                    .menu-title
                      = @about_site_category.name
                    - @about_site_category.articles.visible.confirmed.each do |article|
                      = link_to article.title, article_path(article)
                - if @corporative_category.present?
                  .category-column
                    .menu-title
                      = @corporative_category.name
                    - @corporative_category.articles.visible.confirmed.each do |article|
                      = link_to article.title, article_path(article)
                .category-column
                  .menu-title
                    = t('activerecord.models.activity_line').pluralize(:ru)
                  - @activity_lines.each do |activity_line|
                    = link_to activity_line.title, activity_line_path(activity_line)
          %li{ style: 'margin-right: 15px' }
            - if signed_in? && current_user.state == 'confirmed'
              = link_to '#', data: { 'reveal-id' => 'feedbackModal' } do
                .inner
                  Нашли ошибку?
          - if @month_article.present?
            %li
              = link_to article_path(@month_article) do
                .inner
                  Август 2015
          - if confession_events_during?
            %li
              = link_to activity_lines_corporative_petitions_path do
                .inner
                  = image_tag 'organization/activity_lines/corporative/confession/number_one.png', class: 'custom-icon'
                  Признание
          %li
            = ulmic_project_link :it_way
          %li
            = link_to 'Ассамблея активной молодёжи 2017', 'http://aam2017.tilda.ws'
          -#%li
            = link_to configus.it_projects.ul_lider.url, class: :blank do
              .inner
                = image_tag 'organization/activity_lines/lider/ya-lider.png', class: 'custom-icon'
                Я-лидер!
          -#%li
            = link_to event_path(339), class: :blank do
              .inner
                = image_tag 'organization/activity_lines/informat/new_vision.png', class: 'custom-icon'
                Новый взгляд
          -#%li
            = link_to event_path(362), class: :blank do
              .inner
                = image_tag 'organization/activity_lines/informat/new_vision.png', class: 'custom-icon'
                Inформат
          -#%li
            = link_to configus.it_projects.karamzin.url, class: :blank do
              .inner
                = t(configus.it_projects.karamzin.short_name)
          -#%li
            = link_to event_path(263) do
              .inner
                = fa_icon :wifi
                Онлайн-конференция 24.12
