.main-navbar-container
  %nav.top-bar{ data: { topbar: '' } }
    %section.top-bar-section
      .container-big
        %ul.right
          - if signed_in?
            - if current_user.role.admin?
              %li
                = link_to admin_path do
                  .inner
                    %i.fa.fa-info-circle
                    = @notification_count
            - if current_user.is_user? && current_user.unviewed? && !current_user.email.present?
              %li
                = link_to account_path do
                  .inner
                    %i.fa.fa-info
                    = t('.your_account_is_not_active')
          - else
            %li.icons-container
              .sign-in
                = t('helpers.sign_in')
              .icons
                = link_to auth_path(:vkontakte) do
                  .icon-vkontakte.min-icon
                = link_to auth_path(:twitter) do
                  .icon-twitter.min-icon
                = link_to auth_path(:facebook) do
                  .icon-facebook.min-icon
                = link_to new_session_path do
                  .icon-door.min-icon

          %li.banner-container
            - if signed_in?
              .banner.signed-in
                .user-name
                  = current_user.decorate.short_name
                .icons-container
                  .icons
                    - if current_user.is_member?
                      - if current_user.confirmed?
                        = link_to member_path(current_user.ticket), title: t('layouts.web.shared.navbar.member_profile') do
                          - if current_user.is_man?
                            .icon-man.min-icon
                          - else
                            .icon-woman.min-icon
                    .icon-cogwheel.min-icon.link{ data: { href: account_path }, title: t('layouts.web.shared.navbar.account') }
                    = link_to session_path, method: :delete, title: t('helpers.sign_out') do
                      .icon-log-out.min-icon.link
            - else
              .banner
                .text
                  Жизнь
                  %br
                  в стиле миц
          %li
            - if @contact_article.present?
              = link_to article_path(@contact_article) do
                .inner
                  = t('helpers.contacts')
          %li
            %a{ href: "#" }
        %a.site-logo{ href: root_path }
        %ul.left
          %li.has-dropdown.dropdown-category-menu
            %a{href: "#"}
              .inner
                Миц - это ...
            %ul.dropdown
              #category_menu.category-menu
                - if @first_category.present?
                  .category-column
                    .menu-title
                      = @first_category.name
                    - @first_category.articles.confirmed.each do |article|
                      = link_to article.title, article_path(article)
          %li
            = link_to '#', data: { 'reveal-id' => 'feedbackModal' } do
              .inner
                Нашли ошибку?
