- model_class = @type
- title trash_page_title(model_class), :admin
.page-header
  %h1= trash_page_title(model_class)
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th ID
      %th= t('web.admin.trash.name')
      %th= t 'helpers.links.actions'
    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.name
          %td.actions
            = link_to restore_admin_trash_path(item, type: @type), method: :patch, class: 'btn btn-primary btn-xs' do
              %span.glyphicon.glyphicon-open
            = link_to admin_trash_path(item, type: @type), method: :delete, class: 'btn btn-xs btn-danger' do
              %span.glyphicon.glyphicon-remove
