- model_class = Object.const_get(@type)
.page-header
  %h1= model_class.model_name.human.pluralize(:ru)
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th ID
      %th= t('web.admin.trash.name')
      %th= t 'helpers.links.actions'
    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.name
          %td
            = link_to t('helpers.links.restore'), restore_admin_trash_path(item, type: @type), method: :patch, class: 'btn btn-primary btn-xs'
            = link_to t('helpers.links.destroy'), admin_trash_path(item, type: @type), method: :delete, class: 'btn btn-xs btn-danger'
