- tabs = Concerns::NotificatableItems.items
- title
- if no_any_unviewed?(@unviewed)
  %h2
    = t('.there_is_not_any_unviewed_record')
- else
  #tabs
    %ul.nav.nav-tabs{ role: :tablist }
      - tabs.each do |tab|
        - pluralize_tab = tab.to_s.pluralize(:en)
        - total_count = @unviewed[pluralize_tab.to_sym].total_count
        - if total_count > 0
          %li
            = link_to unviewed_tab_title(tab, total_count), "##{pluralize_tab}"
    - tabs.each do |tab|
      - pluralize_tab = tab.to_s.pluralize
      - total_count = @unviewed[pluralize_tab.to_sym].total_count
      - if total_count > 0
        %div{ id: pluralize_tab }
          = render "web/admin/#{pluralize_tab}/#{pluralize_tab}_list", pluralize_tab.to_sym => @unviewed[pluralize_tab.to_sym]
