- tabs = [ :member, :user, :questionary ]
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    - tabs.each do |tab|
      %li
        = link_to t("activerecord.models.#{tab}").pluralize(:ru), "##{tab}"
  - tabs.each do |tab|
    %div{ id: tab }
      - pluralize_tab = tab.pluralize(:en)
      = render "#{pluralize_tab}_list", pluralize_tab => instance_variable_get("@#{pluralize_tab}")
