- tabs = [ :member, :user, :questionary ]
- title
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    - tabs.each do |tab|
      %li
        = link_to t("activerecord.models.#{tab}").pluralize(:ru), "##{tab.to_s.pluralize(:en)}"
  #members
    = render 'web/admin/members/members_list', members: @members
  #users
    = render 'web/admin/users/users_list', users: @users
  #questionaries
    = render 'web/admin/questionaries/questionaries_list', questionaries: @questionaries
  #news
    = render 'web/admin/news/news_list', news: @news, without_tags_form: true
  #events
    = render 'web/admin/events/events_list', events: @events
