%html
  %head
    = render 'layouts/web/activity_lines/lider/shared/head'
  %body
    = render 'layouts/web/activity_lines/lider/shared/navbar'
    = yield :top_social_buttons
    .container
      #content
        %h2= yield :header
        = yield

      = render 'layouts/web/shared/footer'
