%p
  Привет, 
  = @user.first_name
  \, довожу до Твоего сведения, что на сайте изменён текст вопроса на онлайн-конференцию 
  = "'#{@question.online_conference.title}'"
%p
  Вот список людей, которые производили изменения с этим вопросом.
%p
  %ul
    - @logged_actions.each do |logged_action|
      %li
        %table
          %tr
            %td
              = logged_action.user.decorate.short_name
            %td
              %table
                - logged_action.decorate.updated_params.each do |line|
                  %tr
                    %td
                      = line
%p
  %b
    Спасибо! Твой МИЦ.
