= paginate banners, theme: 'twitter-bootstrap-3'
- model_class = Banner
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:photo)
      %th= model_class.human_attribute_name(:link)
      %th= model_class.human_attribute_name(:duration)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - banners.each do |banner|
      %tr.link{ class: state_color(banner), data: { href: edit_admin_banner_path(banner) } }
        %td= banner.id
        %td= image_tag banner.small_thumb
        %td= link_to banner.link, banner.link
        %td= "#{l(banner.begin_date)} - #{l(banner.end_date)}"
        - if searching?
          %td= banner.human_state_name
        %td.actions
          = link_to fa_icon(:pencil), edit_admin_banner_path(banner), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_banner_path(banner), method: :delete, class: 'btn btn-xs btn-danger' 
= paginate banners, theme: 'twitter-bootstrap-3'
