.row
  .col-lg-6
    = simple_form_for @user, url: { controller: 'web/admin/users', action: action }, html: { class: 'form-horizontal' } do |f|
      = f.input :first_name, as: :string
      = f.input :last_name, as: :string
      = f.input :email, as: :string
      = f.input :password, as: :string
      = f.input :role
      = f.button :submit
