= javascript_include_tag :tabs
= stylesheet_link_tag :tabs

.page-header
  %h1=t '.title'
- model_class = User
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:first_name)
      %th= model_class.human_attribute_name(:last_name)
      %th= model_class.human_attribute_name(:email)
      %th= t 'helpers.actions'
  %tbody
    - @users.each do |user|
      %tr.link{ data: { href: edit_admin_user_path(user) } }
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td
          = link_to t('helpers.links.edit'), edit_admin_user_path(user), class: 'btn btn-warning btn-xs'
          = link_to t('helpers.links.destroy'), admin_user_path(user), method: :delete, class: 'btn btn-xs btn-danger'

= link_to t('.new', default: t('helpers.links.new')), new_admin_user_path, class: 'btn btn-primary'
