- current_title = page_title(action, Member.model_name.human)
- title current_title, :admin
.page-header
  %h1= current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @member_form
.row
  .col-lg-12
    = simple_form_for [:admin, @member_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, t('helpers.links.save'), class: 'btn-success'
      = link_to t('helpers.links.back'), admin_members_path, class: 'btn btn-default'
      = f.input :first_name, as: :string, required: true
      = f.input :patronymic, as: :string, required: true
      = f.input :last_name, as: :string, required: true
      = f.input :email, as: :string, required: true
      = f.input :motto, as: :string
      = f.input :ticket, as: :string, required: true
      = f.input :mobile_phone, as: :string
      = f.input :birth_date, as: :date_picker
      = f.input :home_adress, as: :string
      = f.input :municipality
      = f.input :locality, as: :grouped_select, collection: Localities.list_hash, group_method: :last
      = f.input :school, as: :grouped_select, collection: Schools.list_hash, group_method: :last, input_html: { class: :select2 }
      = f.label :avatar
      .preview
        = image_tag @member_form.model.avatar if @member_form.model.avatar.present?
      = f.input :avatar, as: :file, label: false, input_html: { style: 'display: none' }
      = f.input :avatar, label: false, as: :jasny_file_preview_upload
      - unless @member_form.model.unavailable?
        = f.input :state_event, as: :state_event
        = f.input :member_state_event, as: :state_event
      - if current_user.role.tech_admin?
        = f.input :role
      - else
        = f.input :role, collection: roles_without_tech_admin
      = f.input :parent_id, as: :select, collection: members_hash(@members), input_html: { class: :select2 }
      %h4
        = t('.resume')
      = f.simple_fields_for :positions do |position_form|
        = render 'position_fields', f: position_form
      = link_to_add_association t('.add_position'), f, :positions, data: { 'association-insertion-node' => 'this' }, class: 'btn btn-warning add_fields'
      .actions
        = f.button :submit, t('helpers.links.save'), class: 'btn-success'
        = link_to t('helpers.links.back'), admin_members_path, class: 'btn btn-default'
