.page-header
  %h1= page_title(action, Member.model_name.human)
.row
  .col-lg-6
    = simple_form_for @member_form, url: { controller: 'web/admin/members', action: action }, input_html: { class: 'form-horizontal' } do |f|
      = f.input :first_name, as: :string, required: true
      = f.input :patronymic, as: :string, required: true
      = f.input :last_name, as: :string, required: true
      = f.input :email, as: :string, required: true
      = f.input :motto, as: :string
      = f.input :ticket, as: :string, required: true
      = f.input :mobile_phone, as: :string
      = f.input :birth_date, as: :string, as: :date_picker
      = f.input :home_adress, as: :string
      = f.input :municipality
      = f.input :locality
      = f.input :avatar, as: :string
      = link_to_add_association t('.add_position'), f, :positions, data: { 'association-insertion-node' => 'this' }
      = f.button :submit, t('helpers.links.save'), class: 'btn-success'
      = link_to t('helpers.links.back'), admin_members_path, class: 'btn btn-default'
