.position_fields
  = f.input :title, as: :select, input_html: { class: :select2 }, collection: positions_list
  = f.input :begin_date, as: :date_picker
  = f.input :end_date, as: :date_picker
  = f.input :for_now, as: :boolean, value: 1
  = f.input :member_id, as: :hidden
  = link_to_remove_association 'X', f, class: 'btn btn-danger', data: { 'wrapper-class' => 'position_fields' }
