.position_fields
  = f.input :title, as: :string
  = f.input :begin_date, as: :date_picker
  = f.input :end_date, as: :date_picker
  = f.input :member_id, as: :hidden
  = link_to_remove_association 'X', f, class: 'btn btn-danger', data: { 'wrapper-class' => 'position_fields' }
