- model_class = Member
- tabs = [ :confirmed, :unviewed, :declined, :unavailable ]
- title model_class.model_name.human.pluralize(:ru), :admin
.page-header
  %h1
    = model_class.model_name.human.pluralize(:ru)
    = link_to t('.new', default: t('helpers.links.new')), new_admin_member_path, class: 'btn btn-primary'
#tabs
  %ul.nav.nav-tabs{ role: :tablist }
    - tabs.each do |tab|
      %li
        = link_to t("state_machines.member.state.states.#{tab}").pluralize(:ru), "##{tab}"
  #unviewed
    = render 'members_list', members: @unviewed_members
  #confirmed
    = render 'members_list', members: @confirmed_members
  #declined
    = render 'members_list', members: @declined_members
  #unavailable
    = render 'members_list', members: @unavailable_members
= link_to t('.new', default: t('helpers.links.new')), new_admin_member_path, class: 'btn btn-primary'
