!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %title Minty-Multipurpose Responsive Email Template
    :css
      /* Client-specific Styles */
      #outlook a { padding:0; } /* Force Outlook to provide a "view in browser" menu link. */
      body{ width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass { width:100%; } /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
      #backgroundTable { margin:0; padding:0; width:100% !important; line-height: 100% !important; }
      img { outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic; }
      a img { border:none; }
      .image_fix { display:block; }
      p { margin: 0px 0px !important; }
      
      table td { border-collapse: collapse; }
      table {  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;  }
      a { /*color: #e95353;*/ text-underline:none!important; text-decoration: none;text-decoration:none!important; }
      /*STYLES*/
      table[class=full] {  width: 100%; clear: both;  }
      
      /*################################################*/
      /*IPAD STYLES*/
      /*################################################*/
      @media only screen and (max-width: 640px) { 
      a[href^="tel"], a[href^="sms"] { 
      text-decoration: none;
      color: #ffffff; /* or whatever your want */
      pointer-events: none;
      cursor: default;
       }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] { 
      text-decoration: default;
      color: #ffffff !important;
      pointer-events: auto;
      cursor: default;
       }
      table[class=devicewidth] { width: 440px!important;text-align:center!important; }
      table[class=devicewidthinner] { width: 420px!important;text-align:center!important; }
      table[class="sthide"]{ display: none!important; }
      img[class="bigimage"]{ width: 420px!important;height:219px!important; }
      img[class="col2img"]{ width: 420px!important;height:258px!important; }
      img[class="image-banner"]{ width: 440px!important;height:106px!important; }
      td[class="menu"]{ text-align:center !important; padding: 0 0 10px 0 !important; }
      td[class="logo"]{ padding:10px 0 5px 0!important;margin: 0 auto !important; }
      img[class="logo"]{ padding:0!important;margin: 0 auto !important; }

       }
      /*##############################################*/
      /*IPHONE STYLES*/
      /*##############################################*/
      @media only screen and (max-width: 480px) { 
      a[href^="tel"], a[href^="sms"] { 
      text-decoration: none;
      color: #ffffff; /* or whatever your want */
      pointer-events: none;
      cursor: default;
       }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] { 
      text-decoration: default;
      color: #ffffff !important; 
      pointer-events: auto;
      cursor: default;
       }
      table[class=devicewidth] { width: 280px!important;text-align:center!important; }
      table[class=devicewidthinner] { width: 260px!important;text-align:center!important; }
      table[class="sthide"]{ display: none!important; }
      img[class="bigimage"]{ width: 260px!important;height:136px!important; }
      img[class="col2img"]{ width: 260px!important;height:160px!important; }
      img[class="image-banner"]{ width: 280px!important;height:68px!important; }
      
       }
  %body
    - 20.times do
      %p
    %table{ bgcolor: "#f6f4f5", border: "0", cellpadding: "0", cellspacing: "0", width: "100%" }
      %tbody
        %tr
          %td
            .innerbg
            %table.devicewidth{ align: "center", bgcolor: "#ffffff", border: "0", cellpadding: "0", cellspacing: "0", width: "580" }
              %tbody
                %tr
                  %td{ height: "20", width: "100%" }
                %tr
                  %td
                    %table.devicewidthinner{ align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "540" }
                      %tbody
                        %tr
                          %td{ align: "center" }
                            .imgpop
                              .uploader_wrap{ style: "width: 540px; opacity: 0;" }
                                .upload_buttons
                                  .img_link
                                  .img_upload
                                  .img_edit{ style: "visibility: visible;" }
                              %a{ href: "#" }
                                = image_tag '/mailers/feedback/finish.jpg', alt: '', border: '0', height: 'auto', style: 'display:block; border:none; outline:none; text-decoration:none;', width: '540'
                        %tr
                          %td{ height: "20", width: "100%" }
                        %tr
                          %td{ style: "font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:left;line-height: 20px;" }
                            %p
                              = @subject
                        %tr
                          %td{ height: "20", width: "100%" }
                        %tr
                          %td{ style: "font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;" }
                            %p
                              = @feedback.date
                              = ' Вы опубликовали ошибку на сайте МИЦ с текстом:'
                            %p{ style: 'color: black' }
                              = "\"#{@feedback.text}\""
                            %p
                              Доводим до Вашего сведения, что найденная вами ошибка исправлена.
                            %p
                              Спасибо за помощь и заботу, твой МИЦ!

                        %tr
                          %td{ height: "10", width: "100%" }
                        %tr
                          %td
                            .buttonbg
                            %table.tablet-button{ align: "left", bgcolor: "#ffa600", border: "0", cellpadding: "0", cellspacing: "0", height: "30", style: "border-radius: 4px; font-size: 13px; font-family: Helvetica, arial, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: 300; padding-left: 18px; padding-right: 18px; background-color: rgb(255, 166, 0); background-clip: padding-box;", valign: "middle" }
                              %tbody
                                %tr
                                  %td{ align: "center", height: "30", style: "padding-left:18px; padding-right:18px;font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300;", valign: "middle", width: "auto" }
                                    %p{ align: "center" }
                                      %span{ style: "color: rgb(255, 255, 255); font-weight: 300; font-size: 20pt;" }
                                        %a{ href: @feedback.url, style: "color: #ffffff; text-align:center;text-decoration: none;", tabindex: "-1" }= t('.read_more')
                        %tr
                          %td{ height: "20", width: "100%" }
