.container.mic-form-container
  = simple_form_for @member_form, url: members_path, method: :post do |f|
    - f.with_options required: true do |f|
      = f.input :first_name, as: :string
      = f.input :patronymic, as: :string
      = f.input :last_name, as: :string
      = f.input :email, as: :string
      = f.input :motto, as: :string
      = f.input :ticket, as: :string
      = f.input :mobile_phone, as: :string, placeholder: 'locale'
      = f.input :birth_date, as: :date_picker
      = f.input :home_adress, as: :string
      = f.input :municipality
      = f.input :locality, as: :grouped_select, collection: Localities.list_hash, group_method: :last
      = f.input :type, as: :hidden, input_html: { value: 'Member' }
      = f.association :parent, label_method: lambda { |member| "#{member.ticket} | #{member.first_name} #{member.last_name}"  }, value_method: :id, required: false
      = f.input :avatar, as: :file
    = f.button :submit, t('helpers.links.save'), class: 'btn-success'
    = link_to t('helpers.links.back'), root_path, class: 'btn btn-default'
