- title @member.short_name
- content_for :meta do
  %meta{ property: 'og:description', content: "#{@member.short_name} #МИЦ" }
  %meta{ property:'og:image', content: @member.avatar.element }
  %meta{ name:'description', content: "#{@member.short_name} #МИЦ" }
  %link{ rel: 'image_src', href: @member.avatar.element }
.container.account
  .row
    .small-5.columns
      .user-photo
        = image_tag @member.avatar.profile, class: :photo
        .overlay
          .text
        .user-info
          .info
            - if @member.school.present?
              .learn
                .icon-container
                  .icon-learn
                = "#{t('.learn')}:"
                %span
                  = @member.school
            .live
              .icon-container
                .icon-pointer
              = "#{t('.live')}:"
              %span
                = @member.place
          .member-ticket
            = t('.ticket')
            .number<
              %span.font-size23> №
              = @member.ticket
          .social
            - auth = @member.has_auth_provider?(:google)
            - if auth
              - if attribute_visible?(@attribute_accesses, auth.provider)
                = link_to '', profile_url(auth), class: 'icon-google big-icon blank'
            - auth = @member.has_auth_provider?(:facebook)
            - if auth
              - if attribute_visible?(@attribute_accesses, auth.provider)
                = link_to '', profile_url(auth), class: 'icon-facebook big-icon blank'
            - auth = @member.has_auth_provider?(:twitter)
            - if auth
              - if attribute_visible?(@attribute_accesses, auth.provider)
                = link_to '', profile_url(auth), class: 'icon-twitter big-icon blank'
            - auth = @member.has_auth_provider?(:vkontakte)
            - if auth
              - if attribute_visible?(@attribute_accesses, auth.provider)
                = link_to '', profile_url(auth), class: 'icon-vkontakte big-icon blank'
      %hr.orange
      - if @member.confessions.confirmed.any?
        .honors
          %h2
            = t('.honors_in_mic')
          - gender = @member.is_female? ? 'a' : ''
          .user-confessions
            - @member.confessions.confirmed.each do |confession|
              .user-confession.link{ title: t("tooltip.web.members.show.#{confession.nomination}", name: @member.first_name, gender: gender, year: confession.year), data: { tooltip: true, href: article_path(configus.activity_lines.corporative.confession.article_id) } }
                = image_tag send("#{confession.nomination}_image")
                .text
                  = confession.year
      - if @member.confessions.on_vote.any?
        .nominated
          %h2
            = t('.nominated')
          - gender = @member.is_female? ? 'a' : ''
          .user-confessions
            - @member.confessions.on_vote.each do |confession|
              .user-confession.link{ title: t("tooltip.web.members.show.nominated.#{confession.nomination}", name: @member.first_name, gender: gender), data: { tooltip: true, href: activity_lines_corporative_petitions_path } }
                = image_tag send("#{confession.nomination}_image")
                .text
                  = confession.year
    .small-7.columns
      .row
        .small-11.push-1
          .user-title-role
            .user-title
              = @member.short_name
            - @member.positions.current_positions.each do |position|
              .user-role
                = position.title
          %blockquote.user-motto
            = @member.motto
          %hr.orange
          - if @teams.any?
            .user-team
              .team-label
                -# FIXME use pluralize option
                - if @teams.count == 1
                  = "#{t('activerecord.models.team')}:"
                - else
                  = "#{t('activerecord.models.team').pluralize(:ru)}:"
              - @teams.each_with_index do |team, index|
                .user-team-name
                  %span{ class: "#{'more' if index > 0}" }
                    = team.full_title
                %br
          .row.god-fathers-childs
            - if @parent.present?
              .godfather.small-4.columns{ class: present_link_class(@parent), data: { href: present_member_path(@parent) } }
                .title
                  = "#{t('activerecord.attributes.member.parent')}:"
                = render 'web/members/shared/mic_userpic_circle', member: @parent
            - if @children.any?
              - @member.parent.present? ? count = 2 : count = 3
              .godchilds.small-8.columns
                .row
                  - @children.first(count).each_with_index do |child, index|
                    .small-6.columns{ class: present_link_class(child), data: { href: present_member_path(child) } }
                      - if index == 0
                        .title
                          = "#{t('activerecord.attributes.member.children')}:"
                      = render 'web/members/shared/mic_userpic_circle', member: child
                    .small-6.columns
                      - if @children.count > count && index == 0
                        .view-all
                          %a.text{ href: '#', id: 'view_all' }
                            = t('helpers.view_all')
                            = "(#{@children.count})"
                          %a.text{ style: 'display: none', href: '#', id: 'hide_all' }
                            = t('helpers.hide')
              - @children.drop(count).each_slice(3) do |childs|
                .godchilds.small-12.columns.added.hidden
                  .row
                    - childs.each do |child|
                      .small-4.columns
                        = render 'web/members/shared/mic_userpic_circle', member: child
  .row.user-content
    %ul.tabs{ 'data-tab' => '' }
      - if @registrations.any?
        %li.tab-title
          %a{ href: '#stages-of-grow', tabindex: '0' }
            %i.fa.fa-signal
            = t('organization.floors_growth')
      - if @articles.any? || @news.any?
        %li.tab-title
          %a{ href: '#users-news', tabindex: '0' }
            %i.fa.fa-newspaper-o
            = t('activerecord.models.news').pluralize(:ru)
    .tabs-content
      - if @registrations.any?
        #stages-of-grow.content.stages
          - @registrations.each do |registration|
            .row.stage.link{ data: { href: event_path(registration.event) } }
              .small-1.small-push-1.columns
                .stage-date
                  .icon-bigcalendar
                  .day
                    = registration.event.begin_date.day
                  .month
                    =l registration.event.begin_date, format: ('%b')
                  .year
                    = registration.event.begin_date.year
              .columns.small-10
                .stage-text
                  .title
                    = registration.event.title
                  .content
                    .role
                      = "#{t('activerecord.attributes.event.registration.role')}:"
                      = registration.localize_role
            %hr
      - if @articles.any? || @news.any?
        #users-news.content
          %ul.news.small-block-grid-4
            - @articles.each do |article|
              %li.mic-one-news
                = render_element 'mic_article',  link: article_path(article), |
                                                 title: article.title, |
                                                 views: article.views, |
                                                 comments: article.comments.count
            - @news.each do |news|
              %li.mic-one-news
                = render_element 'mic_one_news', img_src: news.photo, |
                                                 link: news_path(news), |
                                                 title: news.title, |
                                                 date: news.publish_date, |
                                                 views: news.views
