- title @member.short_name
.container.account
  .row
    .small-5.columns
      .user-photo
        = image_tag @member.avatar, class: :photo
        .overlay
          .text
        .user-info
          .info
            -#.learn
              .icon-container
                .icon-learn
              = t('.learn_or_work')
              %span
                МБОУ Гимназия №79
            .live
              .icon-container
                .icon-pointer
              = "#{t('.live')}:"
              %span
                = @member.place
          .member-ticket
            = t('.ticket')
            .number<
              %span.font-size23> №
              = @member.ticket
          .social
            - if auth = @member.has_auth_provider?(:google)
              = link_to profile(auth), class: 'icon-google big-icon'
            - if auth = @member.has_auth_provider?(:facebook)
              = link_to profile(auth), class: 'icon-facebook big-icon'
            - if auth = @member.has_auth_provider?(:twitter)
              = link_to profile(auth), class: 'icon-twitter big-icon'
            - if auth = @member.has_auth_provider?(:vkontakte)
              = link_to profile(auth), class: 'icon-vk big-icon'
    .small-7.columns
      .row
        .small-11.push-1
          .user-title-role
            .user-title
              = @member.short_name
            -#.user-role
              Ленивая жопа в МБОУ УФХ ЦЧЧ ЖЗ УК "Норма"
          %blockquote.user-motto
            = @member.motto
          %hr.orange
          .user-team
            .team-label
              = "#{t('activerecord.models.team')}:"
            .user-team-name
              отделение в г.Ульяновске
          .row.god-fathers-childs
            - img_src = "http://cs319921.vk.me/v319921441/8441/_JdsckyccWc.jpg"
            - if @member.parent.present?
              .godfather.small-4.columns
                .title
                  = "#{t('activerecord.attributes.member.parent')}:"
                .photo{ style: "background-image: url(#{@member.parent_avatar})" }
                .name
                  %span.text
                    = @member.parent.decorate.short_name
            - if @member.children.any?
              .godchilds.small-8.columns
                .row
                  .small-6.columns
                    .title
                      = "#{t('activerecord.attributes.member.children')}:"
                    .photo{ style: "background-image: url(#{img_src})" }
                    .name
                      %span.text Константинблабла Калашников
                  .small-6.columns
                    .view-all
                      %a.text{ href: "#" }
                        Посмотреть всех
                        (3)
                    .photo{ style: "background-image: url(#{img_src})" }
                    .name
                      %span.text Константин
  .row.user-content
    %ul.tabs{"data-tab" => ""}
      %li.tab-title.active
        %a{:href => "#stages-of-grow", :tabindex => "0"}
          Этажи роста
      %li.tab-title
        %a{:href => "#users-news", :tabindex => "0"}
          Новости
    .tabs-content
      #stages-of-grow.content.active
        .title Этажи роста
        .stages
          - 10.times do
            .row
              .stage.columns.small-11.push-1
                .title "Сломай стереотип"
                .role
                  Статус: Организатор
      #users-news.content
        .title Новости
