%head
  %title
    = @page.title
= stylesheet_link_tag 'web/pages/premel'
.background-div#page_12
  .row-fluid
    .large-12.columns
      %h1
        = @page.title
.premel.page_12
  .row
    .large-12.columns
      .row
        .medium-4.columns
          = image_tag 'pages/premel/kfc_9.png'
        .medium-8.columns
          %p
            Для лучшего осуществления данной практики необходимо заиметь КФС Кольцова (см предыдущий раздел) №9. 
          %ul
            %li
              Поддерживает деятельность сердечно-сосудистой системы, способствует профилактике заболеваний сердца и сосудов;
            %li
              Укрепляет и восстанавливает капилляры;
            %li
              Восстанавливает физиологическое функционирование нервной, гормональной систем, стимулирует работу головного мозга, ЖКТ, печени и желчного пузыря;
            %li
              Способствует регулированию кровяного давления, связанного с нарушением функций почек и надпочечников;
            %li
              Восстанавливает функциональное состояние органов зрения при глаукоме и катаракте;
            %li
              Расширяет и очищает сознание, развивает интуицию;
            %li
              Открывает канал духовного сердца;
            %li
              Способствует развитию творческих способностей.
      %p
        На КФС прописан набор каналов для поддержки сердечной деятельности: Канал Гектас - информационный. Чистит и удаляет всё, что мешает приёму информации. Канал несёт любую информацию, мощно расширяет и очищает сознание, способствует развитию творческих способностей.
      %p
        Каналы, способствующие профилактике различных заболеваний: Зевс, Шаон, Фираст, Ниналис, Мама, Божественный огонь, Божественный свет, Божественная любовь, Исцеляющая любовь, Свет вселенской любви, Канал открытия Духовного Сердца.
      %p
        Добавлена поляризация трав и минералов: живица кедра, боярышник, шиповник, пустырник, клевер, валерьяна, мелисса, календула, подорожник, зелёный чай, хвощ, спорыш; поляризация минералов: яшма, розовый кварц, оникс, аквамарин.
      %p
        КФС №9 “Здоровое сердце”. Как говорил академик Анатолий Вощенко, здоровое сердце - очень важно. Любое заболевание зависит от деятельности сердечно-сосудистой системы. Многие болезни заканчиваются не первоначальным диагнозом, поставленным докторами, а проблемами с ССС. “Рак - не тот диагноз, от которого человек умирает в конечном итоге. Итогом становятся проблемы с сердцем,” - академик Анатолий Вощенко. 
      %p
        Именно при помощи КФС №9 осуществляется связь с высшими силами. Во-первых, принимать значительное количество воды, заряженной на 9 пластине. Желательно выпивать утром натощак. Пить маленькими глотками. 
      %p
        .row
          .medium-4.columns
            = image_tag 'pages/premel/eremnya_viymka.jpg'
          .medium-8.columns
            Как медитировать. Лечь удобно на спину. Открытые ладони развернуть вверх. Под еремную выимку положить пластину №9, эмблемой к телу. Все домашние должны знать, что, если вы лежите в таком положении, вас трогать и отвлекать нельзя. Вы заняты общением со Вселенной, очень важным делом! Медитация должна проходить после 4 часов утра, в тихой комнате, где вас никто не будет беспокоить.
      %p
        Закрыв глаза, начните обратный отсчёт: 10-9-8-7-6-5-4-3-2-1 3-3-3-2-2-2-1-1-1. По окончании счёта вы должны почувствовать холодок от пластины, не обязательно там, где она лежит. Это означает, что вы можете начинать общение со Вселенной. Если холода не возникает, повторите обратный отсчёт 3-3-3-2-2-2-1-1-1 в ритме дыхания. 
      %p
        Начинать медитацию необходимо со слов благодарности. 
        %ul
          %li
            Благодарю за открытие каналов для выполнения потребностей урождённой ФИО, ныне ФИО, полная дата рождения (число, месяц, год), проживающей в городе ____ РФ по адресу ____.
          %li
            Благодарю за чистые помыслы.
          %li
            Благодарю за целостность и безопасность.
      %p
        В общении со Вселенной нужно показать важность ваших просьб. Каждую потребность нужно произнести один раз, самые приоритетные - 3 раза, архиважные - 12 раз. Такая медитация должна непрерывно продолжаться минимум 21 день. 
      %p
        Обратите внимание, что воздействие КФС№9 может отразиться в неожиданных местах. Например, если пластина лежит на области сердца, “стрелять” может и в пятку, и в руку. 
      %p
        Ещё одна практика, связанная с помощью Вселенной — Тибетская гимнастика «Долголетие». Если делать её ежедневно, можно добиться замечательных результатов. Лично мой самый первый результат — ушли седые волосы. Косметический эффект, укрепление иммунитета и так далее. У каждого будет свой результат. И как говорила Любовь Игнатьева, которая была на экскурсии в монастыре: «Что-то я не заметила очередей в медпункт и скорой помощи». Монахи оздоравливают себя сами, в том числе и с помощью гимнастики.
      %p
        Чтобы приобрести КФС Кольцова, нужно связаться с директором Лирой Идрисовой по тел. ???? и Skype
      %p
        Ценовая политика каждой пластины определяется почтовыми пересылками и другими транспортными расходами на доставку. 
      - page = Page.find(13)
      %h1
        = link_to "#{page.title} ->", page_page_path(page.slug)
