-# if Token.where(record_type: 'Page', record_id: @page.id).map(&:content).include?(params[:token])
- if true
  %head
    %title
      = @page.title
  = stylesheet_link_tag 'web/pages/premel'
  .background-div#page_13
    .row-fluid
      .large-12.columns
        %h1
          = @page.title
  .premel.page_13
    .row
      .large-12.columns
        %p
          Очень занятная и значительная тема! Нужная всем. 
          %ul
            %li
              Практика привлечения денежной энергии начинается с очень простых действий. В первую очередь нужно купить себе деревянную расчёску. Утром, после водных процедур, расчесываете волосы от лба до затылка. Это практика привлечения удачи и денежной энергии. Естественно, это дело не одного дня. Делать необходимо это ежедневно. 100 раз! 
            %li
              Нужно дружить с домовым. 31 января каждого года нужно покупать веник. Поставить его в углу у входа квартиры метёлкой вверх со совами: “Батюшка-хозяин, вот тебе веник, намети нам побольше денег”. В быту использовать его нельзя. В следующем году, перед сменой веника, необходимо поинтересоваться у домового, можно ли веник использовать в домашнем хозяйстве. И только тогда поменять, приговаривая “Батюшка-хозяин, вот тебе веник, намети нам побольше денег”. Не забудьте предупредить домочадцев о том, что веник использовать нельзя. 
            %li
              Ещё одним немаловажным фактором привлечения денег являются сами деньги. Деньги к деньгам, как говорится. Но денежные купюры впитывают и отдают очень много лишней энергетики. Чтобы очистить их, нужно “заряжать” принесённые домой деньги между пластинами №1 (процветание и благополучие) и Успех. Вечером вы кладёте купюры между пластинами и оставляете на ночь. Утром уже можно сложить в кошельки, копилки, тайники и так далее. 
            %li
              Очень важно серьёзно и уважительно относиться к деньгам. Не комкать их, не бросать где попало, не носить в кармане. Носить только в кошельке красного цвета не сгибая. 
            %li
              Обойдите свой дом и обратите внимание на состояние сантехники, унитаза, кранов. Ни в коем случае ничто не должно подтекать, капать, а унитаз быть закрытым. Так ваши деньги просто утекают. 
            %li
              Медитация на деньги. Её вы можете найти в книге Сергея Попова “О чём молчит брильянтовый директор”, а также получить консультацию психолога-изотерика вы можете на сайте
              = link_to 'http://love-money.ru', 'http://love-money.ru'
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_fortuna.png'
            .medium-8.columns
              Большое значение в практиках получения денежной энергии имеет общий посыл. Есть школы, руководство которых оформило общий посыл на пластине КФС Фортуна и выиграли школой грант на 2 000 000 рублей. Любой трудовой коллектив, в котором есть люди, которые могут это организовать, могут оформить общий посыл. Есть примеры с задержкой заработной платы, когда после общего посыла, все получили заработанные деньги. Хороший результат дадут только совокупность всех практик (прописывание, медитация, общий посыл).
        %p
          %ul
            %li
              Обеспечивает постепенное угнетение и последующую гибель в организме человека паразитов: вирусов, бактерий, глистов, простейших;
            %li
              Создает среду, в которой паразиты не могут существовать;
            %li
              Способствует восстановлению клеток органов в первозданном виде;
            %li
              Способствует выведению из организма токсинов, продуктов жизнедеятельности паразитов;
            %li
              Опосредованно гармонизирует работу внутренних органов на начальном этапе работы с КФС;
            %li
              Нормализует состояние микрофлоры кишечника;
            %li
              Восстанавливает деятельность иммунной системы человека;
            %li
              Обладает онкопротекторными свойствами;
            %li
              Улучшает мозговое кровообращение, восстанавливает биоритмы и физиологические процессы головного мозга;
            %li
              Стимулирует работу центральной нервной и эндокринной систем нашего организма;
            %li
              Мощный антидепрессант: улучшает настроение, выносливость и приспособляемость людей к воздействию неблагоприятных факторов окружающей среды;
            %li
              Гармонизирует сознание и перестраивает его на позитив.
        %p
          На КФС №1 прописана поляризация различных образов: цветы бессмертника, календулы, пижмы, ромашки; листья брусники, почечного чая, мяты, сенны, шалфея, эвкалипта; корни девясила, солодки; трава зверобоя, пастушьей сумки, полыни, пустырника, череды, тысячелистника; плоды кориандра, расторопши, рябины, укропа, шиповника иглистого, шиповника коричного; побеги черники; бутоны цветов зверобоя, корни и цветы одуванчика, морковь, корни топинамбура, листья мяты и полыни, размолотые плоды гвоздики, размолотый шафран, кавказский морозник; настойка черного грецкого ореха, листья золотого уса, крапивы двудомной, лопуха; марисон, подорожник, морские водоросли, индийский лук (листья), облепиха, порошки чаги, осины, черемухи; красный репчатый лук, чеснок, хрен, цикорий, белое мумиё, красный корень, медвежья желчь, ягоды брусники и черники, настойка из цветов гладиолуса, шелуха красного лука, лепестки календулы, череда, крапива, зверобой, чистотел, тысячелистник, бефунгин (вытяжка из чаги), элеутерококк, клюква (ягоды); цветы первоцвета, амарант (семена).
        %p
          А также поляризация мухомора (гриб), тибетского грибка, порошка из высушенных куриных желудков, воды от мастопатии, воды для улучшения мозгового кровообращения, воды для восстановления кишечной микрофлоры, препарата для стимуляции функций печени и желчного пузыря; росы, собранной утром в день Ивана Купалы, шунгита (с берега о. Кижи).
        %p
          Поляризация семи аюрведических препаратов для усреднения действия на людей с разными динамическими стереотипами (каждый препарат является композицией, в среднем, около пятнадцати растительных форм): сердечно-сосудистая система; антистресс; чабрец, центелия азиатская, валериана индийская, аспарагус кистистый, фенхель обыкновенный, кардамон, сахарный тростник, физалис солнечнолистный, вьюнок плюрикаулис, сюсрея репейниковая, бутея фрондоза, тиноспора сердцелистная, змбелия смородиновая, braxmi rasayan, брами, харикати, виданга, сандал, агару, дашамул, аир, патхья, джатипхала, панчамуна бильва, касамарья, таркари, патала, тункука, амалаки, твак, зла, муста, раджани, пиппали, чандана, мандукапария, какнака, шанкханунши, вача, плава, ястьяхва винданга.
        %p
          К набору природных форм добавлен набор тем, разработанных Масару Эмото - волновая терапия органов и систем организма: вилочковой железы, нервной системы, поджелудочной железы, эпифиза, головного мозга, легких, надпочечников, системы кровообращения, исцеление, лурдская вода (любовь). Также добавлены образы: спокойствие духа, гармония, любовь к себе, любовь к человечеству, вечность, мир, надежда, уверенность, любовь и признательность, процветание.
        %p
          Еще добавлены следующие темы: родниковая вода «Самбу-ичи-юсуи», дельфин, Стоунхендж, ливневые леса.
          %ul
            %li
              Способствует гармонизации и синхронизации работы обоих полушарий головного мозга;
            %li
              Стимулирует способности к обучению человека;
            %li
              Способствует выявлению и проявлению жизненного потенциала;
            %li
              Помогает формулировать цели и расставлять приоритеты;
            %li
              Повышает уровень финансового благополучия;
            %li
              Активизирует внутренний потенциал для достижения поставленных целей;
            %li
              Профилактика инсультов, способствует более быстрой реабилитации постинсультных состояний;
            %li
              Способствует реализации желаний и намерений.
        %p
          На КФС «УСПЕХ» прописана поляризация следующих мест силы: центр спирали на горе Шаманка (Аркаим), река Большая Караганка (Аркаим), гора Разума (Аркаим), родник у храма св. Сергия Радонежского, дольмены: «Жизнелюбие, предназначение», «Тор»; Ленские столбы (Якутия).
        %p
          Прописан набор космоэнергетических каналов «Формула успеха».
        %p
          Отметим, что каждый человек, делая уборку в доме, нужно закончить её до заката, 17 часов. А также не стоит выбрасывать мусор до захода солнца. Бельё в шкафу должно быть только глаженым.
        %p
          Отдавая деньги кому-то, кладите их на деревянную поверхность, не отдавайте из рук в руки (вы передаёте так свою удачу).  
        - page = Page.find(14)
        %h1
          = link_to "#{page.title} ->", page_page_path(page.slug)
- else
  %h2
    У вас нет доступа к этой странице
