%head
  %title
    = @page.title
= stylesheet_link_tag 'web/pages/premel'
.background-div#page_13
  .row-fluid
    .large-12.columns
      %h1
        = @page.title
.premel.page_13
  .row
    .large-12.columns
      %p
        Очень занятная и значительная тема! Нужная всем. 
        %ul
          %li
            Практика привлечения денежной энергии начинается с очень простых действий. В первую очередь нужно купить себе деревянную расчёску. Утром, после водных процедур, расчесываете волосы от лба до затылка. Это практика привлечения удачи и денежной энергии. Естественно, это дело не одного дня. Делать необходимо это ежедневно. 100 раз! 
          %li
            Нужно дружить с домовым. 31 января каждого года нужно покупать веник. Поставить его в углу у входа квартиры метёлкой вверх со совами: “Батюшка-хозяин, вот тебе веник, намети нам побольше денег”. В быту использовать его нельзя. В следующем году, перед сменой веника, необходимо поинтересоваться у домового, можно ли веник использовать в домашнем хозяйстве. И только тогда поменять, приговаривая “Батюшка-хозяин, вот тебе веник, намети нам побольше денег”. Не забудьте предупредить домочадцев о том, что веник использовать нельзя. 
          %li
            Ещё одним немаловажным фактором привлечения денег являются сами деньги. Деньги к деньгам, как говорится. Но денежные купюры впитывают и отдают очень много лишней энергетики. Чтобы очистить их, нужно “заряжать” принесённые домой деньги между пластинами №1 (процветание и благополучие) и Успех. Вечером вы кладёте купюры между пластинами и оставляете на ночь. Утром уже можно сложить в кошельки, копилки, тайники и так далее. 
          %li
            Очень важно серьёзно и уважительно относиться к деньгам. Не комкать их, не бросать где попало, не носить в кармане. Носить только в кошельке красного цвета не сгибая. 
          %li
            Обойдите свой дом и обратите внимание на состояние сантехники, унитаза, кранов. Ни в коем случае ничто не должно подтекать, капать, а унитаз быть закрытым. Так ваши деньги просто утекают. 
          %li
            Медитация на деньги. Её вы можете найти в книге Сергея Попова “О чём молчит брильянтовый директор”, а также получить консультацию психолога-изотерика вы можете на сайте
            = link_to 'http://love-money.ru', 'http://love-money.ru'
      - page = Page.find(14)
      %h1
        = link_to "#{page.title} ->", page_page_path(page.slug)
