- title @page.title
= stylesheet_link_tag 'web/pages/premel'
= javascript_include_tag 'web/pages/premel'
.premel
  .row
    .large-12.columns
      %h1
        Премель и команда
      %h6
        Информация о действенных практиках получения помощи с другой стороны
      %hr
  .sidebar_button
    = fa_icon 'bars 2x'
  .text
    .row
      .large-12.columns
        %h4
          Премель и команда
        %hr
        %p.multiline
          Здравствуйте! Меня зовут Елена.
        %p.multiline
          Я инвалид 2й группы по зрению. Моё заболевание не позволяет мне улучшать зрение, чтобы я хорошо видела. Но тем не менее, я купила домен и подарила его своей дочери. Из расчёта, что она учереждает ИП "Премель и Команда" и осуществляет информационно-консалтинговую де-ть с уплатой налогов. 
        %p.multiline
          В начале я хотела бы выразить благодарность моим учителям.
        %p
          Светлой памяти:
          %ul
            %li академику Анатолию Вощенко
            %li Юрию Горячеву
            %li Людмиле Фадеевой
            %li Владимиру Артамонову
            %li Сергею Сахарцеву
            %li Анатолию Евдокимову
            %li Раисе Бородковой
            %li Валентине Кораблиной
            %li врачу-урологу Ирине Мещярековой
        %p
          Дай Бог здоровья, успехов и удачи:
          %ul
            %li
              к.м.н. Елене Хохловой
              %br
              (Чебоксары)
            %li
              Анне Темченко
              %br
              (Ульяновск)
            %li
              писателю изотерику Сергею Попову
              %br
              (Москва)
            %li
              Тамаре Егоровой
              %br
              (Ульяновск)
            %li
              Алле и Олегу Андрейчукам
              %br
              (Москва)
            %li
              Людмиле Цыбиной
              %br
              (Нижний-Новгород)
            %li
              Лире Идрисовой
              %br
              (Ульяновск)
            %li
              Ларисе и Вячеславу Лозе 
              %br
              (Тверь)
            %li
              врачу-онкологу Любови Тарасовой 
              %br
              (Оренбург)
            %li
              Владимиру Мочалову
              %br
              (Чебоксары)
            %li
              Ольге Лаврентьевой
              %br
              (Ярославль)
            %li
              Борису Колодяжному
              %br
              (Ярославль)
            %li
              Елене Варнавской
              %br
              (Екатеринбург)
            %li
              Ольге и Данилу Светловым
              %br
              (Санкт-Петербург)
        %p.multiline
          А началось всё с книги Хосе Сильва «Как получить помощь с другой стороны». 
        %p.multiline
          Каждый из вас в моей жизни сыграл значительную роль и был учителем. 
        %p.multiline
          Последние восемь лет у нас работала школа действеных практик получения помощи с другой стороны. Накопился значительный опыт получения практик. Сегодня уже можно говорить об успехах и поражениях. Вселенная нас всегда чему-то учит. 
        %p.multiline
          Все 8 лет я учила всех вокруг бесплатно и была наказана - получила инсульт. Теперь хочу предложить всем, кто хочет воспользоваться этими практиками, оплатить их получение. Пусть это будет вашей мотивацией для использования опыта на практике. Цена не соизмерима с полученными знаниями. 500 рублей.
  .row
    .large-12.columns
      - Page.where(id: [10, 11, 12, 13, 14]).each do |page|
        = link_to page_page_path(page.slug), class: 'page_link' do
          .large-4.columns
            %div{ id: "page_#{page.id}" }
              %span
                = page.title
      = link_to '/pages/family_tree.pdf', class: 'page_link' do
        .large-4.columns
          %div{ id: :page_15 }
            %span
              Генеалогическое древо
.background-div
.blackout
