%head
  %title
    = @page.title
= stylesheet_link_tag 'web/pages/premel'
.background-div#page_10
  .row-fluid
    .large-12.columns
      %h1
        = @page.title
.premel.page_10
  .row
    .large-12.columns
      %p
        О действенных практиках получения помощи с другой стороны и прописывания потребностей о благополучии своём и всех членов семьи. 
      %p
        Прописывание потребностей в письменном виде! На листах красной бумаги чёрным маркером. Листы сложить в папку и положить на подоконник на южную сторону. Это имеет важное значение. Там открываются определённые каналы. 
      %p
        %b
          Титульный лист.
        Благодарю за открытие каналов для выполнения потребностей урождённой ФИО, ныне ФИО, полная дата рождения (число, месяц, год), проживающей в городе ____ РФ по адресу ____. 
      %p
        Для чего адрес? Что, Вселенная не знает, где вы живёте? В нашем городе, например, особая турбулентная зона. Она образовалась от двух рек, текущих в противоположной направлениях. И у нас просто необходимо дать знак Вселенной, что это именно вы, чтобы посыл просто не потерялся.
      %p
        %b
          Потребности:
      %p
        В декабре 2012 года мир вступил в эру Водолея. С этого момента потребности должны определяться 12 раз. Прописанные дюжину раз потребности открывают каналы и обеспечивают их доставку в “нужное место”. 
      %p 
        Потребности начинаются и заканчиваются фразой “Я благодарю”. С обязательным указанием даты, подписи прописывающего. И так 12 раз каждая потребность. 
      %p
        Если вы пишите потребности впервые, можно сделать это в любое время. Те же, кто пишет второй, третий и так далее разы, нужно делать это в определённые даты. С 1 по 12 января каждого года. Это даты - проекции на весь год (с января по декабрь). Можно создать текстовые посылы и после этих дней. И нужно иметь ввиду - новичкам везёт. И поэтому те потребности, которые иногда кажутся невыполнимыми, могут быть выполнены.
      %p
        Потребность выполняется Вселенной в течение 9 месяцев. В некоторых случаях процесс увеличивается до трёх лет. 
      %p
        Если вы, прописывая в следующем году потребности, что-то не указали - просьба считается выполненной. Самое важное повторять из года в год. Особое значение имеет частица “не” в текстах. Вселенная эту частицу не воспринимает. Необходимо заменять в тексте частицу “не”. 
      %p
        %b
          Возрастные мотивации
      %p
        После 46 лет всё должно быть связано с поддержанием или приобретением здоровья. До 46 лет нужно говорить о деньгах и материальных благах. Постараемся сформулировать примерные потребности свои и членов своей семьи.
        %ol
          %li
            Благодарю за чистые помыслы. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за целостность и безопасность. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за исцеление, излечение, выздоровление. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за благополучие, благоразумие, мудрость. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за самодостаточность, самореализацию. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за деловую востребованность, целеустремлённость. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за своевременную денежную платёжеспособность. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за самостоятельность, самообслуживание. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за активное, здоровое, достойное долголетие. Моя потребность. Дата. Я благодарю!!!
          %li
            Благодарю за обретение на благо мне мной и всеми членами моей семьи благополучия, благоразумия, мудрости, взаимопонимания, взаимоуважения, снисходительности, самодостаточности, самореализаци, деловой востребованности, целеустремлённости, своевременной денежной платёжеспособности, целостности и безопасности. Моя потребность. Дата. Я благодарю!!!

        %ul
          %li
            красная бумага;
          %li
            чёрный фломастер;
          %li
            1-12 января;
          %li
            избегать частицы “не”;
          %li
            прописать 12 раз;
          %li
            Вселенная ценит усердие.
    - page = Page.find(11)
    %h1
      = link_to "#{page.title} ->", page_page_path(page.slug)
