%head
  %title
    = @page.title
= stylesheet_link_tag 'web/pages/premel'
.background-div#page_11
  .row-fluid
    .large-12.columns
      %h1
        = @page.title
.premel.page_11
  .row
    .large-12.columns
      %p
        Эта практика родилась на Гавайских островах. Там же получила первые хорошие результаты. В тюрьмах Гаваев закрылись все больницы. 
      %p
        Каждый человек перед тем как вступить в спор на любую тему, должен остановиться и сказать себе: “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” Мы сами творим все успехи, несчастья в своей жизни. Как только вы встали утром, скажите себе: “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” 
      %p
        Все мысли, которые вы “запускаете” во Вселенную, отражаются в вашу же сторону. Поэтому необходимо нивелировать отражение негативных мыслей в вашу жизнь. “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” - вы говорите это себе, о себе, для себя. 
      %p
        Данную методику можно подробнее изучить в книге Джо Витали “Жизнь без ограничений”.
      %p
        В помощь тем, кто хочет менять пространство мира и вокруг себя, выступает компания Центр Регион (центр-регион.рф), разработавшая Корректоры функционального состояния (КФС). Главный разработчик - С.В. Кольцов.
      %p
        Так, например КФС №8 (стопстарение) способствует:
        %ol
          %li
            Восстановление сна.
          %li
            Восстановление функции центральной эндокринной регуляции(гипофиз, гипоталамус, эпифиз)
          %li
            Стимуляция, тонизирование, усиление защитной системы кожи.
          %li
            Обновление и активный рост клеток эпидермиса, оказывание укрепляющего и успокаивающего действия.
          %li
            Стимуляция функции эпифиза.
          %li
            Стимуляция синтеза многочисленных гормонов, в том числе мелатонина (гормона сна), продуцирующегося в эпифизе; тироксина (гормона щетовидной железы), гормона роста и гормона пробуждения,  продуцируемых гипофизом в ночной фазе похудения.
      %p
        Кроме того, КФС №8, как и другие КФС выполняет следующие функции:
        %ul
          %li
            Защищает человека от вредного воздействия электромагнитных полей мобильных телефонов, компьютеров, СВЧ печей, любой бытовой электротехники.
          %li
            Противодействует патогенным информационным воздействиям (сглаз, порча, колдовство и т. д.).
          %li
            Устраняет воздействие геопатогенных зон.
          %li
            Является адаптогенным устройством, нивелирующим воздействие всех неблагоприятных факторов на организм человека.
          %li
            КФС согласует функционирование обоих полушарий головного мозга. За счет этого у человека активизируются творческие способности, улучшается усвоение учебного материала, человек делает меньше ошибок, лучше и правильней понимает людей. КФС может быть рекомендована людям, занимающимся медитацией.
      %p
        Просто кладёте КФС 8 под подушку на ночь и увеличиваете продолжительность сна до 9 часов, а также улучшается и качество сна. 
      %p
        Также восстановлению нервной системы помогает КФС “Долголетие”. Обеспечивает постепенное угнетение и последующую гибель в организме человека паразитов: вирусов, бактерий, глистов, простейших;
        %ul
          %li
            Предназначен для регуляции давления крови, в том числе у людей, находящихся в группе риска по инфарктам и инсультам;
          %li
            Способствует более быстрой реабилитации постинсультных и постинфарктных состояний;
          %li
            Профилактика заболеваний сердечно-сосудистой, центральной нервной систем организма;
          %li
            Запускает регенерацию сердечной мышцы при инфаркте и сосудистых стенок при разрыве сосудов;
          %li
            Профилактика атеросклероза, способствует чистке сосудистой системы от атеросклеротических бляшек;
          %li
            Способствует нормализации внутричерепного давления;
          %li
            Повышает общий тонус и активирует работу иммунной системы организма, обладает противоопухолевым действием;
          %li
            Содержит природные геропротекторы, омолаживает организм;
          %li
            Продлевает время активного образа жизни).
      %p
        Применение КФС Кольцова Долголетие.
      %p
        Носить на себе, в области солнечного сплетения, в кармане одежды. Периодически брать в ладони рук, садится на КФС 5-15 минут. Делать прокачки энергетических центров чакр по стандартной схеме, один КФС под копчик другим КФС по чакрам снизу вверх. Структурировать водные среды, пить заряженную воду с КФС, принимать ванну, душ. Для этого кфс крепим резинкой к лейке душа или крана. Или предварительно заряженную воду выливаем в ванну с водой и размешиваем. 
      %p
        Также обе пластины и в жаркую, и в холодную погоду оказывают успокаивающее действие на организм и нервную систему человека.
      %p
        3, 4 пластины #5, 2 (сахар, температура)
    - page = Page.find(12)
    %h1
      = link_to "#{page.title} ->", page_page_path(page.slug)
