-# if Token.where(record_type: 'Page', record_id: @page.id).map(&:content).include?(params[:token])
- if true
  %head
    %title
      = @page.title
  = stylesheet_link_tag 'web/pages/premel'
  .background-div#page_11
    .row-fluid
      .large-12.columns
        %h1
          = @page.title
  .premel.page_11
    .row
      .large-12.columns
        %p
          Эта практика родилась на Гавайских островах. Там же получила первые хорошие результаты. В тюрьмах Гаваев закрылись все больницы. 
        %p
          Каждый человек перед тем как вступить в спор на любую тему, должен остановиться и сказать себе: “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” Мы сами творим все успехи, несчастья в своей жизни. Как только вы встали утром, скажите себе: “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” 
        %p
          Все мысли, которые вы “запускаете” во Вселенную, отражаются в вашу же сторону. Поэтому необходимо нивелировать отражение негативных мыслей в вашу жизнь. “Мне очень жаль. Прости меня. Благодарю. Я тебя люблю.” - вы говорите это себе, о себе, для себя. 
        %p
          Данную методику можно подробнее изучить в книге Джо Витали “Жизнь без ограничений”.
        %p
          .row
            .large-6.columns.end
              = image_tag 'pages/premel/dzho_vitale.jpg'
        %p
          В помощь тем, кто хочет менять пространство мира и вокруг себя, выступает компания Центр Регион (центр-регион.рф), разработавшая Корректоры функционального состояния (КФС). Главный разработчик - С.В. Кольцов.
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_8.png'
            .medium-8.columns
              Так, например КФС №8 (стопстарение) способствует:
              %ol
                %li
                  Восстановление сна.
                %li
                  Восстановление функции центральной эндокринной регуляции(гипофиз, гипоталамус, эпифиз)
                %li
                  Стимуляция, тонизирование, усиление защитной системы кожи.
                %li
                  Обновление и активный рост клеток эпидермиса, оказывание укрепляющего и успокаивающего действия.
                %li
                  Стимуляция функции эпифиза.
                %li
                  Стимуляция синтеза многочисленных гормонов, в том числе мелатонина (гормона сна), продуцирующегося в эпифизе; тироксина (гормона щетовидной железы), гормона роста и гормона пробуждения,  продуцируемых гипофизом в ночной фазе похудения.
        %p
          Кроме того, КФС №8, как и другие КФС выполняет следующие функции:
          %ul
            %li
              Защищает человека от вредного воздействия электромагнитных полей мобильных телефонов, компьютеров, СВЧ печей, любой бытовой электротехники.
            %li
              Противодействует патогенным информационным воздействиям (сглаз, порча, колдовство и т. д.).
            %li
              Устраняет воздействие геопатогенных зон.
            %li
              Является адаптогенным устройством, нивелирующим воздействие всех неблагоприятных факторов на организм человека.
            %li
              КФС согласует функционирование обоих полушарий головного мозга. За счет этого у человека активизируются творческие способности, улучшается усвоение учебного материала, человек делает меньше ошибок, лучше и правильней понимает людей. КФС может быть рекомендована людям, занимающимся медитацией.
        %p
          Просто кладёте КФС 8 под подушку на ночь и увеличиваете продолжительность сна до 9 часов, а также улучшается и качество сна. 
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_many_years.png'
            .medium-8.columns.end
              Также восстановлению нервной системы помогает КФС “Долголетие”. Обеспечивает постепенное угнетение и последующую гибель в организме человека паразитов: вирусов, бактерий, глистов, простейших;
              %ul
                %li
                  Предназначен для регуляции давления крови, в том числе у людей, находящихся в группе риска по инфарктам и инсультам;
                %li
                  Способствует более быстрой реабилитации постинсультных и постинфарктных состояний;
                %li
                  Профилактика заболеваний сердечно-сосудистой, центральной нервной систем организма;
                %li
                  Запускает регенерацию сердечной мышцы при инфаркте и сосудистых стенок при разрыве сосудов;
                %li
                  Профилактика атеросклероза, способствует чистке сосудистой системы от атеросклеротических бляшек;
                %li
                  Способствует нормализации внутричерепного давления;
                %li
                  Повышает общий тонус и активирует работу иммунной системы организма, обладает противоопухолевым действием;
                %li
                  Содержит природные геропротекторы, омолаживает организм;
                %li
                  Продлевает время активного образа жизни).
        %p
          Применение КФС Кольцова Долголетие.
        %p
          Носить на себе, в области солнечного сплетения, в кармане одежды. Периодически брать в ладони рук, садится на КФС 5-15 минут. Делать прокачки энергетических центров чакр по стандартной схеме, один КФС под копчик другим КФС по чакрам снизу вверх. Структурировать водные среды, пить заряженную воду с КФС, принимать ванну, душ. Для этого кфс крепим резинкой к лейке душа или крана. Или предварительно заряженную воду выливаем в ванну с водой и размешиваем. 
        %p
          Также обе пластины и в жаркую, и в холодную погоду оказывают успокаивающее действие на организм и нервную систему человека.
        %p
          КФС №4. Корректор эндокринной системы (сжигатель излишков жировой ткани)
        %p
          На КФС №4 записаны следующие программы:
          %ol
            %li
              Восстановление обмена веществ в половой сфере
            %li
              Восстановление функций селезёнки, щитовидной и поджелудочной желез
            %li
              Усиление потенции за счёт поднятия уровня тестостерона.
            %li
              Регенерация дистрофии тканей
            %li
              Восстановление гормонального фона
            %li
              Лечение бесплодия (при дисфункции)
            %li
              Омоложение организма
            %li
              Нормализация микрофлоры кишечника
            %li
              Лечение недержания мочи при воспалительных заболеваниях или при недостаточной выработке гормонов
            %li
              Нормализация иммунной системы
            %li
              Торможение развития опухолевых процессов
            %li
              Улучшение мозгового кровообращения
            %li
              Нормализация кислотно-щелочного баланса крови
            %li
              Восстановление активности ферментов и гормонов
            %li
              Профилактика и лечение заболеваний мужской половой сферы (аденомы, опухоли, воспалительные процессы предстательной железы и т.д.)
            %li
              Лечение закупорки и плохого мочеиспускания.
   
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_8.png'
            .medium-8.columns.end
              Кроме того, КФС №4, как и другие КФС выполняет следующие функции:
              %ul
                %li
                  Защищает человека от вредного воздействия электромагнитных полей мобильных телефонов, компьютеров, СВЧ печей, любой бытовой электротехники.
                %li
                  Противодействует патогенным информационным воздействиям (сглаз, порча, колдовство и т. д.).
                %li
                  Устраняет воздействие геопатогенных зон.
                %li
                  Является адаптогенным устройством, нивелирующим воздействие всех неблагоприятных факторов на организм человека.
                %li
                  КФС согласует функционирование обоих полушарий головного мозга. За счет этого у человека активизируются творческие способности, улучшается усвоение учебного материала, человек делает меньше ошибок, лучше и правильней понимает людей. КФС может быть рекомендована людям, занимающимся медитацией.
        %p
          СОСТАВ:
          %ul
            %li
              Препарат из печени акулы для поднятия уровня тестостерона;
            %li
              Топтун, алтайская трава для поднятия уровня тестостерона.
            %li
              Топинамбур, нормализация деятельности поджелудочной железы для диабетиков;
            %li
              Кудин, поляризация китайского чая с высокогорных плантаций о. Хайнань, для общей нормализации обмена веществ;
            %li
              Имбирь,(сжигатель);
            %li
              Ананас,(сжигатель);
            %li
              Кавказский морозник,(сжигатель);
            %li
              Фрукт дракона(Таиланд),сжигатель);
            %li
              Помелло (Таиланд),(сжигатель);
            %li
              Антицеллюлит 1, комплексная тема для сжигания подкожного жира;
   
        %p
          Руководство по использованию:
        %p
          Во время приема пищи использовать как подставку под посуду, в которой находится принимаемая еда и различные жидкости, не меньше 5 мин. Посуда устанавливается на рабочую рельефную поверхность.
        %p
          В остальное время использования КФС носить при себе. КФС № 4желательно носить в области живота.
        %p
          В целях увеличения срока использования прибора не рекомендуется резкая смена температурного воздействия и попадание в воду.
        %p
          КФС  №3 Корректор эндокринной системы (сжигатель излишков жировой ткани)
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_3.png'
            .medium-8.columns.end
              На КФС №3 записаны следующие программы:
              %ol
                %li
                  Восстановление обмена веществ в половой сфере
                %li
                  Восстановление функций селезёнки, щитовидной и поджелудочной 	желез
                %li
                  Нормализация месячного цикла
                %li
                  Регенерация дистрофии тканей
                %li
                  Восстановление гормонального фона
                  Профилактика и лечение гинекологических заболеваний (миомы, кисты, опухоли, воспалительные заболевания, эрозии, мастопатии, фибромиомы и т.д.)
                %li
                  Лечение бесплодия (при дисфункции)
                %li
                  Омоложение организма
                %li
                  Нормализация микрофлоры кишечника
                %li
                  Лечение недержания мочи при воспалительных заболеваниях или при недостаточной выработке гормонов
                  Нормализация иммунной системы
                %li
                  Торможение развития опухолевых процессов
                %li
                  Улучшение мозгового кровообращения
                %li
                  Нормализация кислотно-щелочного баланса крови
                %li
                  Восстановление активности ферментов и гормонов       	   
        %p
          Кроме того, КФС №3, как и другие КФС выполняет следующие функции:
          %ul
            %li
              Защищает человека от вредного воздействия электромагнитных полей мобильных телефонов, компьютеров, СВЧ печей, любой бытовой электротехники.
            %li
              Противодействует патогенным информационным воздействиям (сглаз, порча, колдовство и т. д.).
            %li
              Устраняет воздействие геопатогенных зон.
            %li
              Является адаптогенным устройством, нивелирующим воздействие всех неблагоприятных факторов на организм человека.
            %li
              КФС согласует функционирование обоих полушарий головного мозга. За счет этого у человека активизируются творческие способности, улучшается усвоение учебного материала, человек делает меньше ошибок, лучше и правильней понимает людей. КФС может быть рекомендована людям, занимающимся медитацией.
        %p
          СОСТАВ:
          %ul
            %li
              Препарат на ДНК лососевых рыб, стимулирующий женскую эндокринную систему, межклеточный обмен и гинекологическую сферу;   
            %li
              Топинамбур, нормализация деятельности поджелудочной железы для диабетиков;
            %li
              Кудин, поляризация китайского чая с высокогорных плантаций о. Хайнань, для общей нормализации обмена веществ;
            %li
              Имбирь, (сжигатель жира);
            %li
              Ананас,(сжигатель жира);
            %li
              Кавказский морозник, (сжигатель жира);
            %li
              Фрукт дракона(Таиланд), сжигатель жира);
            %li
              Помелло (Таиланд), (сжигатель жира);
            %li
              Антицеллюлит 1 комплексная тема для сжигания подкожного жира;
            %li
              Антицеллюлит 2,комплексная тема для сжигания внутреннего жира;
            %li
              Косметологический чай, релаксант,
            %li
              Комплексная тема для ускорения регенерации клеток;
            %li
              Чертополох,(от психопатогенных воздействий);
        %p
          Руководство по использованию КФС:
        %p
          Во время приема пищи использовать как подставку под посуду, в которой находится принимаемая еда и различные жидкости, не меньше 5 мин. Посуда устанавливается на рабочую рельефную поверхность.
        %p
          В остальное время использования КФС носить при себе.  
        %p
          КФС №3 желательно носить в области живота.
        %p
          В целях увеличения срока использования прибора не рекомендуется резкая смена температурного воздействия и попадание в воду.
        %p
          КФС №З и КФС №4 имеют сходное назначение и отличаются только тем, что учитывают гормональные особенности организма мужчины и женщины.                     
        %p
          Главное достоинство КФС № 3 и КФС № 4 заключается в том, что в отличие от других жиросжигателей, обеспечивается нормальное замещение жировой ткани мышечной.
          %ul
            %li
              Ускоряет процессы восстановления печени и желчевыводящих путей, нормализует их функциональное состояние;
            %li
              Регулирует процессы желчеотделения;
            %li
              Усиливает детоксикационную функцию печени, очищает организм от шлаков и токсинов;
            %li
              Восстанавливает работу ЖКТ, подавляет воспалительные процессы;
            %li
              Способствует очищению крови;
            %li
              Активизирует деятельность поджелудочной железы;
            %li
              Способствует снятию тяги к алкоголю и другим веществам, вызывающим психологическую зависимость;
            %li
              Оказывает положительное влияние на бронхолегочную систему;
            %li
              Сочетанное применение КФС №5 и любой терапии при бронхолегочных заболеваниях значительно повышает эффективность лечения.
        %p
          На КФС №5 прописана поляризация следующих компонентов: 4-х водных растворов, два из которых общего назначения, для снятия психологической зависимости от тяги к алкоголю, а также две темы аналогичного назначения для женщин. Экстракт корня лопуха, свежих корней топинамбура, икры морского ежа, живой культуры грибка «морской индийский рис», уксуснокислых и молочных дрожжевых бифидо и лактобактерий, сопутствующих аминокислот и витаминов; плодов Кючала (Памир, Тибет); плодов растения Машмала (горы Кавказа), расторопши пятнистой, коры осины; двустворчатого речного моллюска Корбикула «морской целитель».
        %p 
          КФС №2 (ДЕТОКС)
        %p
          .row
            .medium-4.columns
              = image_tag 'pages/premel/kfc_2.png'
            .medium-8.columns
              На КФС №2 записаны следующие программы:	
              %ol
                %li
                  Cтимуляция выведения шлаков и токсинов из организма человека.
                %li
                  Капиляропротекторное действие (эффективное восстановление всех сосудов и капилляров в организме, лечение сердечно-сосудистых заболеваний, в том числе вегето-сосудистой дистонии, аритмии, тахикардии и т.д.)	
                %li
                  Реабилитация после инсультов, инфарктов, ком, операция, тяжёлых травм, химиотерапии, ожогов, гангрен и т.д.	
                %li
                  Нормализация работы иммунной системы.
                %li
                  Регуляция обмена веществ.
                %li
                  Восстановление после инфекционной интоксикации	
                %li
                  Выведение песка и камней из почек, а также постепенное размягчение и выведение камней из желчного пузыря	
                %li
                  Быстрое восстановление, особенно в начальной стадии, при сосудистых катастрофах, идущих с последующим некрозом тканей.              
   

        %p
          Кроме того, КФС №2, как и другие КФС выполняет следующие функции:
          %ul
            %li
              Защищает человека от вредного воздействия электромагнитных полей мобильных телефонов, компьютеров, СВЧ печей, любой бытовой электротехники.
            %li
              Противодействует патогенным информационным воздействиям (сглаз, порча, колдовство и т. д.).
            %li
              Устраняет воздействие геопатогенных зон.
            %li
              Является адаптогенным устройством, нивелирующим воздействие всех неблагоприятных факторов на организм человека.
            %li
              КФС согласует функционирование обоих полушарий головного мозга. За счет этого у человека активизируются творческие способности, улучшается усвоение учебного материала, человек делает меньше ошибок, лучше и правильней понимает людей. КФС может быть рекомендована людям, занимающимся медитацией.

        %p
          СОСТАВ:
          %ul
            %li
              Живица, в составе  хвойных деревьев;
            %li
              Композиция из 20 трав (для поднятия иммунитета и восстановления обмена веществ);
            %li
              Препарат из 40 компонентов (для восстановления иммунитета и обмена веществ);
            %li
              Амарант (листья, соцветия, масло);
            %li
              Нони;
            %li
              Кудин;
            %li
              Крапива;
            %li
              Морские водоросли;
            %li
              Топинамбур;
            %li
              Илецкая соль,
            %li
              Соль древнего моря;
            %li
              Сибирский бальзам на меде диких пчел с добавлением сибирских трав от опухолей и других заболеваний щитовидной железы.
        %p
          Руководство по использованию КФС:
        %p
          КФС №2 понижает кислотность организма и повышает щёлочность.
        %p
          Во время приема пищи использовать как подставку под посуду, в которой находится принимаемая еда и различные жидкости, не меньше 5 мин. Посуда устанавливается на рабочую рельефную поверхность.
        %p
          В остальное время использования КФС №2 носить при себе. 
        %p
          В целях увеличения срока использования прибора не рекомендуется резкая смена температурного воздействия.
        %p
          Мужчинам необходимо прописывать и медитировать на следующие потребности:
        %p
          Благодарю за сексуальную востребованность, сексуальную возможность, сексуальную возможность. Моя потребность. Я благодарю.
        %p
          Проходить медитация должна каждый день на протяжении многих лет.
        %p
          И начинать это делать до того, как всё будет плохо. О здоровье нужно задумываться заранее.
        %p
          Для молодых парней и девушек по этим же принципам можно включить в потребности приобретение жилья, автомобилей. А также обучение, для получения профессии (указывая стоимость обучения), ремонт жилья.
        %p
          Сергей Попов в книге «Думай и богатей по-русски» говорит о том, в каком размере мы можем просить увеличение дохода. Не больше, чем в полтора раза от сегодняшнего заработка.  
      - page = Page.find(12)
      %h1
        = link_to "#{page.title} ->", page_page_path(page.slug)
- else
  %h2
    У вас нет доступа к этой странице
