-# if Token.where(record_type: 'Page', record_id: @page.id).map(&:content).include?(params[:token])
- if true
  %head
    %title
      = @page.title
  = stylesheet_link_tag 'web/pages/premel'
  .background-div#page_14
    .row-fluid
      .large-12.columns
        %h1
          = @page.title
  .premel.page_14
    .row
      .large-12.columns
        %p
          Закон приумножения денежной массы говорит о необходимости откладывать 20% от заработанной суммы на долгосрочное хранение. Можете завести себе дополнительный счёт в банке, или положить дома в красный конверт. А можете заставить деньги не только храниться и увеличиваться, но и оберегать вас в прямом смысле. 
        %p
          Мы говорим о смешанном страховании жизни. В частности страховая компания Metlife Alico. 
          %ul
            %li
              Страхование жизни и здоровья.
            %li
              Пенсионное страхование.
            %li
              Накопительное страхование.
            %li
              Страхование для женщин.
            %li
              Страхование для детей.
        %p
          = link_to 'https://www.metlife.ru/ru/individual/', 'https://www.metlife.ru/ru/individual/'
        %p
          Пропишите себе потребность
        %p
          Благодарю за обретение на благо мной в компании Метлайф Алико благополучия, процветания,  благоразумия, платёжеспособноси, целостности, безопасности. Моя потребность. Я благодарю.
        %p
          И прописывать её каждый год на протяжении действия программы страхования. 
        %p
          По вопросам страхования жизни обращаться к Галине Лапушкиной тел. ??? Skype
        - page = Page.find(15)
        %h1
          = link_to "#{page.title} ->", page_page_path(page.slug)
- else
  %h2
    У вас нет доступа к этой странице
