= link_to '#', data: { dropdown: 'member-dropdown', options: 'align:left;is_hover:true' }, aria: { controls: 'member-dropdown', expanded: false }, class: 'icon-bars min-icon fa-icon' do
  = fa_icon :bars
%ul#member-dropdown.f-dropdown.medium{ 'data-dropdown-content' => true, 'aria-hidden' => "true",  tabindex: "-1"  }
  %li
    %h6
      %span.icon
        = fa_icon :legal
      %span
        = t('layouts.web.shared.navbar.i_am_ya_lider_participant')
  %hr
  - if current_user.current_ya_lider_participant.event.present?
    %li
      = link_to edit_users_activity_lines_lider_ya_lider_event_path(current_user.current_ya_lider_participant.event.id), title: t('layouts.web.shared.navbar.my_event') do
        %span.icon{ style: 'font-size: 20px; margin-top: 5px' }
          = fa_icon :calendar
        %span
          = t('layouts.web.shared.navbar.my_event')
  - else
    %li
      = link_to new_users_activity_lines_lider_ya_lider_event_path(step: 1), title: t('layouts.web.shared.navbar.my_event') do
        %span.icon{ style: 'font-size: 20px; margin-top: 5px' }
          = fa_icon :calendar
        %span
          = t('layouts.web.shared.navbar.my_event')
