- if signed_in? && current_user.is_member?
  #argumentsModal.reveal-modal{ aria: { hidden: true, labelledby: :firstModalTitle }, data: { reveal: '', role: :dialog } }
    %h2#argumentsModalTitle
    = form_tag api_members_corporative_argumentes_path, method: :post, remote: true do
      = text_field :argument_type, 'fuck'
      = text_field :text, 'fuck'
      = hidden_field :confession_id, 'fuck'
      = submit_tag 'fuck'
    %a.close-reveal-modal{ aria: { label: 'Close' } } ×
