- if signed_in? && current_user.is_member?
  #argumentsModal.reveal-modal{ aria: { hidden: true, labelledby: :firstModalTitle }, data: { reveal: '', role: :dialog } }
    %h2#argumentsModalTitle
    - if submissions_petitions_during?
      = form_tag api_members_corporative_arguments_path, method: :post, remote: true, id: :arguments_form do
        - ::ActivityLines::Corporative::Argument.argument_type.values.each_with_index do |argument_type, index|
          = label argument_type, t("enumerize.activity_lines/corporative/argument.argument_type.#{argument_type}")
          = text_field_tag "arguments[#{index}][text]", '', class: :argument_text
          = hidden_field_tag "arguments[#{index}][argument_type]", argument_type
          = hidden_field_tag "arguments[#{index}][confession_id]", '', class: :confession_id
        = submit_tag t('.renew_petition'), class: :button
    - elsif voting_petitions_during?
      = render 'layouts/web/shared/vote', target_type: 'ActivityLines::Corporative::Confession', target_id: nil
    %a.close-reveal-modal{ aria: { label: 'Close' } } ×
