- ticket = 238
- corporative_head = Member.find_by_ticket(configus.people.headers.corporative).decorate
%h3
  Кто может выдвинуть человека?
%ul
  %ol
    Собрания местных отделений, первичных организаций, структурных подразделений. Они проводят общее обсуждение и выдвигают самых достойных, после чего заполняют ходатайство на этой странице.
  %ol
    Любой член МИЦ. Согласно
    = link_to "Положению", @document.file.url
    все подобные ходатайства Президиум направит руководителям местных отделений, на учёте в котором состоит человек, для проверки информации. Только после этого будет принято решение о прохождении кандидата в следующий этап.
  %ol
    Руководители областных программ и проектов, Президиум, Председатель

%p
  Приём ходатайств завершится 
  =l configus.dates.activity_lines.corporative.confession.ending_submissions_petitions, format: '%d %M %Y'
%br
%br
- if signed_in?
  - if current_user.is_member?
    = link_to 'Подать ходатайство', new_members_corporative_petition_path, class: 'button'
  - else
    .panel.info
      %i.fa.fa-exclamation-circle
      Только члены Молодёжного инициативного центра могут подавать ходатайства на корпоративную премию  «Признание»
    = link_to t('organization.send_request'), new_join_path, class: 'button'
- else
  = link_to t('helpers.enter'), new_session_path, class: :button
  чтобы подать ходатайство.
%br
Если человек, которого вы считаете достойным, уже есть в этом списке, вы можете дополнить ходатайство на него. Ходатасйтвовать могут только члены Молодёжного инициативного центра.
%br
После того, как вы заполните ходатайство, оно отправится на модерацию. Модератором является руководитель корпоративных проектов МИЦ
= link_to corporative_head.short_name, member_path(ticket)
и команда, реализующая корпоративные проекты МИЦ.
%p
  До
  =l configus.dates.activity_lines.corporative.confession.ending_voting, format: '%d %M %Y'
  все утверждённые кандидаты (о дате начала будет сообщено дополнительно) пройдут тестирование на знание основ МИЦ. Параллельно будет организовано открытое обсуждение всех кандидатов на премию.
%p
  Подробно заполни все строки данной анкеты, затем внимательно их перечитай. Заполняя графы, представь, что это будут читать люди, которые никогда не видели кандидата. Мы не можем знать всё обо всех, поэтому только твои аргументы и описание в ходатайстве могут дать нам наиболее полную картину.
