- ticket = 238
- corporative_head = Member.find_by_ticket(configus.people.headers.corporative).decorate
- title t('.title', year: current_confession_year)
= stylesheet_link_tag 'web/articles/confessions'
= javascript_include_tag 'web/articles/confessions'
= javascript_include_tag 'web/activity_lines/corporative/petitions'
.container
  %h1.title
    = t('.title', year: current_confession_year)
  .text
    Перед вами люди номинированные на корпоративную премию «Признание»
    = current_confession_year
    года.
    - if submissions_petitions_during?
      %br
      Эту награду могут получить только члены Молодёжного инициативного центра, состоящие в организации не менее 3-х месяцев. Если кандидат, которого вы считаете достойным, отсутствует в списке ниже, вы можете подать ходатайство на него, используя специальную форму с
      =l configus.dates.activity_lines.corporative.confession.begining_submissions_petitions, format: '%d %B %Y'
      года до
      =l configus.dates.activity_lines.corporative.confession.ending_submissions_petitions, format: '%d %B %Y'
      года.
      %br
      %br
      - if signed_in?
        - if current_user.is_member?
          = link_to 'Подать ходатайство', new_members_corporative_petition_path, class: 'button'
        - else
          .panel.info
            %i.fa.fa-exclamation-circle
            Только члены Молодёжного инициативного центра могут подавать ходатайства на корпоративную премию  «Признание»
          = link_to t('organization.send_request'), new_join_path, class: 'button'
      - else
        = link_to t('helpers.enter'), new_session_path, class: :button
        чтобы подать ходатайство.
      %br
      Если человек, которого вы считаете достойным, уже есть в этом списке, вы можете дополнить ходатайство на него. Ходайтаствовать могут только члены Молодёжного инициативного центра.
      %br
      После того, как вы заполните ходатайство, оно отправится на модерацию. Модератором является руководитель корпоративных проектов МИЦ
      = link_to corporative_head.short_name, member_path(ticket)
      и команда, реализующая корпоративные проекты МИЦ.
      Голосование за номинантов пройдёт с
      =l configus.dates.activity_lines.corporative.confession.begining_voting, format: '%d %B %Y'
      года по
      =l configus.dates.activity_lines.corporative.confession.ending_voting, format: '%d %B %Y'
      года в этом же разделе.
    - elsif voting_petitions_during?
      Перед вами люди, номинированные на корпоративную премию «Признание» 2015 года.
      %br
      Следующий этап выбора достойных получателей награды - голосование. В период с
      =l configus.dates.activity_lines.corporative.confession.begining_voting, format: '%d %B %Y'
      по
      =l configus.dates.activity_lines.corporative.confession.ending_voting, format: '%d %B %Y'
      года вы можете поставить лайк или дизлайк, прокомментировать конкретную кандидатуру, нажав на аватарку номинанта. Только авторизованные пользователи могут оставлять своё мнение о кандидатах. Ждём подробных и дельных комментариев, а также объективной оценки личных и деловых качеств номинантов.
.confessions
  .confessions_people
    - if @debut_of_the_year.any? || @number_one_of_the_year.any?
      = render 'layouts/web/shared/activity_lines/corporative/confession/confessions_of_the_year',
        year: current_confession_year,
        debut_of_the_year: @debut_of_the_year,
        number_one_of_the_year: @number_one_of_the_year,
        vote: true
    - else
      .panel.info
        Пока не подано ни одного ходатайства
= render 'arguments_modal'
