- title t('.title', year: current_confession_year)
= stylesheet_link_tag 'web/articles/confessions'
= javascript_include_tag 'web/articles/confessions'
= javascript_include_tag 'web/activity_lines/corporative/petitions'
.container.mic-form-container
  %h1.title
    = t('.title', year: current_confession_year)
  .text
    %p
      За 
      = ulmic_age
      лет существования МИЦ 
      = link_to "премию «Признание» получили #{@all_nominates_count} #{Russian.p(@all_nominates_count, 'человек', 'человека', 'человек')}.", article_path(configus.articles.confession)
      Часть из них переехали в другие регионы, часть занимают руководящие должности. Для большинства премия стала одной из первых общественных наград, которая подтвердила, что если долго и упорно работать, то твой труд обязательно будет вознаграждён.
    %p
      Претендовать на “Признание” могут только члены МИЦ, состоящие в организации не менее 3-х месяцев.
    - if submissions_petitions_during?
      = render 'submissions_text'
    - elsif voting_petitions_during?
      = render 'voting_text'
- if params[:notice].present?
  .container
    .panel
      = t("notices.#{params[:notice]}")
.confessions
  .confessions_people
    - if @debut_of_the_year.any? || @number_one_of_the_year.any?
      = render 'layouts/web/shared/activity_lines/corporative/confession/confessions_of_the_year',
        year: current_confession_year,
        debut_of_the_year: @debut_of_the_year,
        number_one_of_the_year: @number_one_of_the_year,
        vote: true
    - else
      .container
        .panel.info
          Пока не подано ни одного ходатайства
= render 'arguments_modal'
