= stylesheet_link_tag 'web/articles/contacts'
= stylesheet_link_tag 'web/activity_lines'
- title @activity_line.full_title
- genitive_activity_type = genitive(enumerize_locales_value(@activity_line, :activity_type))
%br
.row
  %h1.title
    = image_tag @activity_line.logo, class: :small
    = @activity_line.full_title
  %hr
  %br
  .medium-6.columns
    != @activity_line.description
  .medium-6.columns
    = render 'web/articles/shared/contacts/member_card', user: @activity_line.member, position: ''
    - if @video.present?
      %br
      = render 'web/videos/show', video: @video
    %h3
      - if @activity_line.activity_type.corporative?
        = t('.last_news')
      - else
        = t('.last_news_of', activity_type: genitive_activity_type.split(' ').last)
    %ul.news.small-block-grid-2
      - @last_news.each do |news|
        %li.mic-one-news
          = render_element 'mic_one_news', img_src: news.photo, |
                                           link: news_path(news), |
                                           title: news.title, |
                                           date: news.publish_date, |
                                           views: news.views
.row
  %h3
    = t('.future_events')
  - if @future_events.any?
    .events
      %ul{ style: 'list-style: none' }
        - @future_events.first(3).each do |event|
          %li.mic-event.small-4.columns
            = render_element "mic_event", img_src: event.main_photo.event_main_page_version, |
                                          link: event_path(event), |
                                          category: event.activity_line.title, |
                                          date: event.full_date_duration, |
                                          title: event.title, |
                                          text: strip_tags(event.lead).html_safe
  - else  
    = hint(:event, :suggest, place: :face, activity_type: genitive_activity_type, activity_line_title: @activity_line.title)
%hr
.row
  %h3
    = t('.history')
  .medium-6.columns
    %h4
      = t('activerecord.attributes.activity_line.found_date')
      \:
      =l @activity_line.found_date, format: '%d.%m.%Yг.'
  - if @old_leaders.any?
    .medium-6.columns
      %h4
        = t('.old_leaders')
      - @old_leaders.each_with_index do |leader, index|
        - if index == @old_leaders.count - 1
          .small-2.columns.end{ style: 'width: 150px' }
            = render 'web/members/shared/mic_userpic_circle', member: leader.decorate
        - else
          .small-2.columns{ style: 'width: 150px' }
            = render 'web/members/shared/mic_userpic_circle', member: leader.decorate
