= paginate activity_lines_corporative_online_conferences, theme: 'twitter-bootstrap-3'
- model_class = ActivityLines::Corporative::OnlineConference
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:date)
      %th= model_class.human_attribute_name(:video_link)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.video_links.actions'
  %tbody
    - activity_lines_corporative_online_conferences.each do |activity_lines_corporative_online_conference|
      %tr.video_link{ class: state_color(activity_lines_corporative_online_conference) }
        %td= activity_lines_corporative_online_conference.id
        %td= link_to activity_lines_corporative_online_conference.title, admin_activity_lines_corporative_online_conference_path(activity_lines_corporative_online_conference)
        %td=l activity_lines_corporative_online_conference.date
        %td= link_to activity_lines_corporative_online_conference.video_link, activity_lines_corporative_online_conference.video_link
        - if searching?
          %td= activity_lines_corporative_online_conference.human_state_name
        %td.actions
          = link_to fa_icon(:pencil), edit_admin_activity_lines_corporative_online_conference_path(activity_lines_corporative_online_conference), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_activity_lines_corporative_online_conference_path(activity_lines_corporative_online_conference), method: :delete, class: 'btn btn-xs btn-danger'
= paginate activity_lines_corporative_online_conferences, theme: 'twitter-bootstrap-3'
