= paginate test_papers, theme: 'twitter-bootstrap-3'
- model_class = TestPaper
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:duration)
      %th= model_class.human_attribute_name(:record)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.video_links.actions'
  %tbody
    - test_papers.each do |test_paper|
      %tr.video_link{ class: state_color(test_paper) }
        %td= test_paper.id
        %td= link_to test_paper.title, admin_test_paper_path(test_paper)
        %td= test_paper.full_duration
        - if searching?
          %td= test_paper.human_state_name
        %td.actions
          = link_to fa_icon(:pencil), edit_admin_test_paper_path(test_paper), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_test_paper_path(test_paper), method: :delete, class: 'btn btn-xs btn-danger'
= paginate test_papers, theme: 'twitter-bootstrap-3'
