- title @test_paper.title, :admin
- model_class = TestPaper
.page-header
  %h1
    = @test_paper.title
    = link_to fa_icon(:pencil), edit_admin_test_paper_path(@test_paper), class: 'btn btn-warning'
    = link_to fa_icon(:remove), admin_test_paper_path(@test_paper), method: :delete, class: 'btn btn-danger'
.row
  .col-lg-12
    %table.table.attributes-table
      - @test_paper.show_attributes.each do |attribute|
        %tr
          %td= model_class.human_attribute_name attribute
          %td= @test_paper.send attribute
    %hr
    - if @test_paper.questions.any?
      %h4
        = t('.questions')
      %table.table.attributes-table
        - @test_paper.questions.active.decorate.each do |question|
          %tr
            %td
              = question.text 
            %td{ width: '96px' }
              = link_to fa_icon(:pencil), edit_admin_test_paper_question_path(question), class: 'btn btn-warning'
              = link_to fa_icon(:remove), admin_test_paper_question_path(question), method: :delete, class: 'btn tbtn-xs btn-danger pull-right'
