.position_fields
  = f.input :title, as: :select, label: false, input_html: { class: :select2 }, collection: positions_list
  .small-4.columns
    = f.input :begin_date, as: :date_picker
  .small-4.columns
    = f.input :end_date, as: :date_picker
  .small-4.columns
    = f.label :for_now
    = f.input :for_now, label: false, as: :boolean, value: 1
  = f.input :state, as: :hidden, input_html: { value: :unviewed }
  = f.input :member_id, as: :hidden
  = link_to_remove_association t('helpers.links.destroy'), f, class: 'button alert', data: { 'wrapper-class' => 'position_fields' }
