- if @member.present?
  = simple_form_for
- else
  = simple_form_for @user, url: { controller: 'web/users/account', action: :update, id: @user.id } do |f|
    = f.input :first_name, as: :string
    = f.input :last_name, as: :string
    = f.input :email, as: :string
    = f.input :password, as: :string
    = f.button :submit, t('helpers.links.save')
