%a.min-one-news2-image-link{ href: link, style: "background-image: url(#{img_src})" }
%section
  %span.min-one-news2-date
    = "#{date}"
  %span.one-news2-comments-views
    %span.icon-eye
    %span.view-text
      = views
    %span.icon-comment
    %span.comment-text
      = comments
%p.min-one-news2-text
  %a.min-one-news2-link{ href: link }
    = text
