%a{ href: "#{link}" }
  %img.slider-img{ src: "#{img_src}" }
%section
  %span.event-category
    = "#{category}"
  %span.event-date
    = "#{date}"
%p
  %a
    %b
      = title
  %br
  %a
    = "#{text}"
