%section
  .article-title
    %a{ href: "#{link}" }
      = "#{title}"
  .article-comments-views
    %span.icon-eye
    %span.view-text
      = views
    - if comments > 0
      %span.icon-comment
      %span.comment-text
        = comments
