.mic-member-2
  - if link == ''
    %img{ src: "#{img_src}" }
  - else
    %a{ href: "#{link}" }
      %img{ src: "#{img_src}" }
  %section.info
    %a{ href: "#{link}" }
      .name
        %span
          = "#{name}"
      .role
        = (role ||= "")
