- model_class = Category
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t model_class.model_name.human
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @category_form
.row
  .col-lg-6
    = simple_form_for [:admin, @category_form], input_html: { class: 'form-horizontal' } do |f|
      = f.input :name, as: :string
      = f.association :parent, collection: Category.all,
        prompt: t('helpers.links.select'),
        label: t(model_class.human_attribute_name :parent)
      = f.input :state, as: :hidden, input_html: { value: :active }
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')

      = link_to t('helpers.links.back'), admin_categories_path, class: 'btn btn-default'
  .col-lg-4
    %ul#sample_category_tree
      = get_categories_tree
