- title @contest.full_title
- content_for :meta do
  %meta{ property: 'og:description', content: "#{t('contest.full_name')}" }
  %meta{ name:'description', content: "#{t('contest.full_name')}" }
  %meta{ name: "google-site-verification", content: "UQDwT4uM9-1bXt9jvXHVOeDT2ifyo8wboHFreC-quJQ" }
- content_for :top_social_buttons do
  .top_social_buttons
    = render 'web/activity_lines/lider/ya_liders/shared/social_buttons'
.row
  .col-md-12
    .title
      %h1
        = @contest.full_title
-#.row.participants_row
  .col-md-12.participants_cols
    .participants_images
      %div
        - @participants.each do |participant|
          = render 'participant_cell', participant: participant
%hr
.row
  .auth_button_row
    = link_to t('.participants'), '#', class: 'btn btn-branded'
.row.for_news
.row.plaha
  .col-md-6.text.left
    .title
      Конкурс актива учащейся молодежи «Я - лидер!»
    Это уникальная образовательная площадка Ульяновской области, которая способна подготовить из любого человека лидера общественного сектора.
  .col-md-6.image.left
    = image_tag 'activity_lines/lider/ya_lider/1.jpg'
.row.plaha.full_width
  .col-md-6.image.left
    = image_tag 'activity_lines/lider/ya_lider/2.jpg'
  .col-md-6.text.right
    .title
      Кто может стать участником конкурса?
    В Конкурсе могут принимать участие жители Ульяновской области в возрасте от 14 до 21 года.
.row.plaha
  .col-md-6.text.left
    .title
      Главный приз
    Победитель финального этапа становится кандидатом на получение президентской стипендии по поддержке талантливой молодёжи в рамках нацпроекта "Образование" в размере 30 000 
    = fa_icon :ruble
  .col-md-6.image.right
    = image_tag 'activity_lines/lider/ya_lider/3.jpg'
.row.plaha.full_width
  .col-md-6.image.logos
    = image_tag 'activity_lines/lider/ya_lider/4.jpg'
  .col-md-6.text.right
    .title
      Организаторы конкурса
    Организаторами XIV конкурса «Я-лидер» выступают:
    %br
    = link_to t('organization.title'), configus.host, target: '_blank'
    %br
    = link_to t('ul_lider.contest.partners.new_civilization_short_title'), configus.sites.ulnc, target: '_blank'
    %br
    = link_to t('ul_lider.contest.partners.ministry_of_education'), configus.sites.ministry_of_edu, target: '_blank'
.row.plaha
  .col-md-6.text.left
    .title
      Расширение для браузера Google Chrome
    = link_to 'Рабочее расширение', configus.it_projects.ul_lider.chrome_extension.url
    следует установить всем участникам и тем, кто хочет знать самые последние новости о конкурсе.
  .col-md-6.image.right.web-store-logo
    = image_tag 'activity_lines/lider/ya_lider/availale_in_chrome_web_store.png', class: 'link', data: { href: configus.it_projects.ul_lider.chrome_extension.url }
.row.plaha.full_width.last_plaha.logo
  .col-md-6.image.left
    = image_tag configus.organization.logo, class: 'link', data: { href: configus.host }, style: 'background-color: white'
  .col-md-6.text.right
    .title
      Следить за другими мероприятиями МИЦ
    Следить за другими мероприятиями Молодёжного инициативного центра можно на официальном
    = link_to 'сайте организации', configus.host
    %br
    = link_to configus.host, configus.host
.row
  .social_buttons
    %span
      = t('helpers.share_us')
    %br
    = render 'web/activity_lines/lider/ya_liders/shared/social_buttons'

-#= render 'participant_popup'
