- model_class = Document
- title model_class.model_name.human.pluralize(:ru), :admin
.page-header
  %h1
    = model_class.model_name.human.pluralize(:ru)
    = link_to t('.new', default: t('helpers.links.new')), new_admin_document_path, class: 'btn btn-primary'
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:file)
      %th= t 'helpers.links.actions'
  %tbody
    - @documents.each do |document|
      %tr.link{ class: state_color(document), data: { href: edit_admin_document_path(document) } }
        %td= document.id
        %td= document.title
        %td= link_to document.file.url, document.file.url
        %td.actions
          = link_to edit_admin_document_path(document), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_document_path(document), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove

= link_to t('.new', default: t('helpers.links.new')), new_admin_document_path, class: 'btn btn-primary'
