- if object.errors.any? || object.model.errors.any?
  .alert.alert-dismissible.alert-danger
    %h4= t('.some_errors_was_found')
    %ul
      - object.errors.full_messages.each do |message|
        %li= message
      - object.model.errors.full_messages.each do |message|
        %li= message
- if params[:message]
  .alert.alert-dismissible.alert-info
    %h4= t("messages.#{params[:message]}")
