.confessions_of_the_year{ id: "confession_#{year}" }
  .year_text
    = year
  .people
    .number_one_name
      = image_tag 'organization/activity_lines/corporative/confession/number_one.png'
      %span
        = nomination
      %br
      .nomination
        = t('.number_one_of_the_year')
    - number_one_of_the_year.each do |confession|
      .member
        = render 'layouts/web/elements/mic_member_2', link: member_path(confession.member.ticket),
                                                      img_src: confession.member.avatar.element.url,
                                                      name: confession.member.decorate.short_name
  .people
    .debut_name
      = image_tag 'organization/activity_lines/corporative/confession/debut_of_the_year.png'
      %span
        = nomination
      %br
      .nomination
        = t('.debut_of_the_year')
    - debut_of_the_year.each do |confession|
      .member
        = render 'layouts/web/elements/mic_member_2', link: member_path(confession.member.ticket),
                                                      img_src: confession.member.avatar.element.url,
                                                      name: confession.member.decorate.short_name
