- model_class = ActivityLines::Corporative::Merit
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @merit_form
.row
  .col-lg-12
    = simple_form_for [:admin, @merit_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_activity_lines_corporative_merits_path, class: 'btn btn-default'
      = f.input :user_id, as: :select, collection: users_hash(@users), input_html: { class: :select2 }
      = f.input :year, as: :string
      = f.input :nomination, collection: enumerize_locales_hash(@merit_form.model.model_name, :nomination)
      = f.input :state_event, as: :state_event
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_activity_lines_corporative_merits_path, class: 'btn btn-default'
