!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'width=1100', name: 'viewport'}
    %title= content_for?(:title) ? yield(:title) : 'МИЦ'
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'web/application'
    = javascript_include_tag 'vendor/modernizr'
    - unless Rails.env.test?
      = javascript_include_tag 'react_bundle'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/web/shared/services/google_analytics', ga_uid: configus.it_projects.ulmicru.google_analytics.uid
    - if current_page?(root_path)
      %meta{ name: 'google-site-verification',  content: 'VZvtE4uwPMyaVsgwcWFzF0Vwycj_bo3xaPNSlSWi5cM' }
  %body
    %div
    = render 'layouts/web/shared/navbar'

    = yield

    - unless current_page?(article_path(25))
      = render 'layouts/web/shared/footer'
    = render 'layouts/web/shared/feedback_modal'
