= paginate events_online_conferences, theme: 'twitter-bootstrap-3'
- model_class = Events::OnlineConference
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:date)
      %th= model_class.human_attribute_name(:video_link)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.video_links.actions'
  %tbody
    - events_online_conferences.each do |events_online_conference|
      %tr.video_link{ class: state_color(events_online_conference), data: { href: edit_admin_events_online_conference_path(events_online_conference) } }
        %td= events_online_conference.id
        %td= events_online_conference.title
        %td=l events_online_conference.date
        %td= link_to events_online_conference.video_link, events_online_conference.video_link
        - if searching?
          %td= events_online_conference.human_state_name
        %td.actions
          = link_to fa_icon(:pencil), edit_admin_events_online_conference_path(events_online_conference), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_events_online_conference_path(events_online_conference), method: :delete, class: 'btn btn-xs btn-danger'
= paginate events_online_conferences, theme: 'twitter-bootstrap-3'
