- title
.container.mic-form-container
  .row
    .medium-6.small-12.columns.medium-push-3
      - if flash[:remind_password_notification]
        %span.label.success
          %i.fa.fa-exclamation-circle
            = t ".#{flash[:remind_password_notification]}"
      - if @user.email.present?
        %span.label.alert
          %i.fa.fa-exclamation-circle
          = t('.wrong_email_or_password')
        %span.label.info
          %i.fa.fa-info-circle
          = t('.may_be_you_have_auth_via_social_network')
      = simple_form_for @user, url: { controller: 'web/sessions', action: :create }, method: :post do |f|
        = f.input :email, as: :string
        = f.input :password, required: true
        = f.button :submit, t('helpers.enter'), class: "mic-flat-button"
      .row
        .small-3.columns
          = link_to auth_path(:vkontakte) do
            %span.icon-vkontakte.min-icon
            = t('social_networks.vkontakte')
        .small-3.columns
          = link_to auth_path(:facebook) do
            %span.icon-facebook.min-icon
            = t('social_networks.facebook')
        .small-3.columns
          = link_to auth_path(:twitter) do
            %span.icon-twitter.min-icon
            = t('social_networks.twitter')
        .small-3.columns
          = link_to auth_path(:google) do
            %span.icon-google.min-icon
      = link_to t('.register'), new_user_path
      %br
      = link_to t('.remind_password'), remind_password_index_path
