- title
.container.mic-form-container
  .row
    .medium-6.small-12.columns.medium-push-3
      - if flash[:remind_password_notification]
        %span.label.success
          %i.fa.fa-exclamation-circle
            = t ".#{flash[:remind_password_notification]}"
      - if @user.email.present? && @user.has_access?
        %span.label.alert
          %i.fa.fa-exclamation-circle
          = t('.wrong_email_or_password')
        %span.label.info
          %i.fa.fa-info-circle
          = t('.may_be_you_have_auth_via_social_network')
      - if params[:notification].present?
        %span.label.info
          = fa_icon 'info-circle'
          = t("notifications.web.sessions.new.#{params[:notification]}")
      = simple_form_for @user, url: { controller: 'web/sessions', action: :create, url: params[:url] }, method: :post do |f|
        = f.input :email, as: :string
        = f.input :password
        = f.button :submit, t('helpers.enter'), class: "mic-flat-button"
      .panel
        .row
          .small-12.columns
            %h5
              = t('.sign_in_with')
        .row
          .small-1.columns.social_links.vkontakte
            = link_to auth_path(:vkontakte, url: params[:url]) do
              = fa_icon 'vk 2x'
          .small-1.columns.social_links.twitter
            = link_to auth_path(:twitter, url: params[:url]) do
              = fa_icon 'twitter 2x'
          .small-1.columns.social_links.google
            = link_to auth_path(:google, url: params[:url]) do
              = fa_icon 'google 2x'
          .small-1.columns.end.social_links.facebook
            = link_to auth_path(:facebook, url: params[:url]) do
              = fa_icon 'facebook 2x'
      .row
        .small-12.columns
          = link_to new_user_path, class: 'button mic-flat-button' do
            = fa_icon 'user-plus'
            = t('.register')
          = link_to new_remind_password_path, class: 'button mic-flat-button' do
            = fa_icon 'unlock-alt'
            = t('.remind_password')
