= paginate teams, theme: 'twitter-bootstrap-3'
- model_class = Team
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:member)
      %th= model_class.human_attribute_name(:type)
      %th= model_class.human_attribute_name(:municipality)
      %th= model_class.human_attribute_name(:publicity)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th=t 'helpers.links.actions'
  %tbody
    - teams.each do |team|
      %tr.link{ class: state_color(team), data: { href: edit_admin_team_path(team) } }
        %td= link_to team.full_title, edit_admin_team_path(team)
        %td= team.short_description
        %td= team.head_name
        %td= team_types_name team.type
        %td= team.municipality
        %td= team.publicity
        - if searching?
          %td= team.human_state_name
        %td.actions
          - if team.need_to_review?
            = link_to admin_team_path(team, team: { state: :active }), method: :patch, class: 'btn btn-xs btn-success' do
              = fa_icon :check
          = link_to edit_admin_team_path(team), class: 'btn btn-warning btn-xs' do
            = fa_icon :pencil
          - if team.closed?
            = link_to admin_team_path(team, team: { state: :active }), method: :patch, class: 'btn btn-success btn-xs' do
              = fa_icon :unlock
          - else
            = link_to admin_team_path(team, team: { state: :closed }), method: :patch, class: 'btn btn-danger btn-xs' do
              = fa_icon :lock
          = link_to admin_team_path(team), method: :delete, class: 'btn btn-xs btn-danger' do
            = fa_icon :remove
= paginate teams, theme: 'twitter-bootstrap-3'
