%p
  Привет, 
  = @user.first_name
  \, довожу до твоего сведения, что на сайте появилась новая анкета на вступление в МИЦ от 
  = "#{@questionary.first_name} #{@questionary.last_name}."
  Прошу провести проверить эту анкету в любое удобное для тебя время.
%p
  Посмотреть её ты можешь, перейдя по 
  = link_to 'ссылке', admin_questionary_url(@questionary.id)
%p
  %b
    Спасибо! Твой преданный помощник бот Леопольд!
