- current_title = "#{t('.title')} | #{@team.full_title}"
- title current_title
.container
  %h3.title
    = current_title
  = render partial: 'form'
  %table.table
    - @team.users.each do |user|
      %tr
        %td
          = user.ticket_number
        %td
          = user.avatar_small_img
        %td
          = user.short_name
        %td
          %table.grid
            - positions_associate_with_team(user.positions, @team).decorate.each do |position|
              %tr
                %td
                  = position.title
                  = position.duration
                %td.actions
                  = link_to fa_icon('pencil 2x'), edit_members_position_path(position, back: edit_members_team_path(@team)), class: 'button tiny'
                  = link_to fa_icon('trash 2x'), members_position_path(position, back: edit_members_team_path(@team)), method: :delete, class: 'button tiny alert'
