= stylesheet_link_tag 'web/comments'
- if signed_in?
  - if current_user.confirmed?
    = javascript_include_tag 'web/comments'
    = react_component 'CommentsField', record_type: record_type, record_id: record_id,
                                       current_user: current_user, 
                                       current_user_avatar: current_user.decorate.small_avatar_url,
                                       authenticity_token: form_authenticity_token
  - else
    %span.label.warning
      %i.fa.fa-info-circle
      = t('.only_confirmed_users_can_leave_comments')
- else
  %span.label.warning
    %i.fa.fa-info-circle
    = t('.auth_before_leave_comment')
  %br
  = link_to t('helpers.links.auth'), new_session_path, class: 'button'
