= paginate @logged_actions, theme: 'twitter-bootstrap-3'
- model_class = LoggedAction
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:record)
      %th= model_class.human_attribute_name(:action_type)
      %th= model_class.human_attribute_name(:params)
      %th= model_class.human_attribute_name(:created_at)
      %th= t 'helpers.links.actions'
  %tbody
    - @logged_actions.each do |logged_action|
      %tr
        %td= logged_action.id
        %td= link_to logged_action.user_short_name, admin_member_path(logged_action.user_id)
        %td= link_to record_title(logged_action), admin_record_path(logged_action)
        %td= logged_action.action_type
        %td= logged_action.table_params
        %td=l logged_action.created_at, format: "%d %b %Y %H:%m"
= paginate @logged_actions, theme: 'twitter-bootstrap-3'
