- title @event.title
.event-container{ style: "background-image: url(#{@event.main_photo});" }
  .event-header-overlay
  .container
    .event-header.row.large-collapse{ data: { equalizer: '' } }
      %h2.title
        = @event.title
      .small-8.columns{ data: { equalizer: { watch:  '' } } }
        .when-and-where
          .labels
            .when
              .mic-label-black
                = "#{t('.when')}:"
            .where
              .mic-label-black
                = "#{t('.where')}:"
          .texts
            .when
              .event-label-text
                = @event.duration
            .where
              .event-label-text
                = @event.place_link_to_4sq
        .event-lead
          != strip_tags @event.lead
        .event-more-info
          %a.more-info#event-lead-more-info{ href:"#" }
            .show-all
              = t('helpers.more_info')
            .hide-all.hide
              = t('helpers.hide')
      .small-3.columns{ data: { equalizer: { watch:  ''} } }
        .organizers
          .organizers-title
            = "#{t('.organizator')}:"
          .organizers-names
            .organizer
              = @event.creator.decorate.short_name
        .join
          -#%a.join-button.mic-press-button{ href: "#" }
          %button.join-button.mic-press-button{ value: 'join', data: { event_id: @event.id, user_id: current_user.id } }
            = t('.attend')
.more-lead-info.container
  .row.large-collapse
    .small-8.columns
      .more-lead-info-content
        != @event.description
.event-content.container
  .participans-container
    %h3.title
      = t('.attenders')
      = "(#{@registrations.count})"
    %ul.small-block-grid-5.participants
      - @registrations.each do |registration|
        %li.participant.mic-member
          = render_element 'mic_member', img_src: registration.user.avatar.medium, |
                                         link: '#', |
                                         name: registration.user.decorate.short_name, |
                                         role: registration.decorate.localize_role
    .get-more-participants
      %button.mic-press-button.mic-button-small#show_other_participants
        = t('.see_more')
    %ul.small-block-grid-5.participants.other
      - @other_registrations.each do |registration|
        %li.participant.mic-member
          = render_element 'mic_member', img_src: registration.user.avatar.medium, |
                                         link: '#', |
                                         name: registration.user.decorate.short_name, |
                                         role: registration.decorate.localize_role
