- title @event.title
- content_for :meta do
  %meta{ property: 'og:description', content: "#{@event.title} #МИЦ" }
  %meta{ property:'og:image', content: @event.main_photo.event_main_page_version }
  %meta{ name:'description', content: "#{@event.title} #МИЦ" }
  %link{ rel: 'image_src', href: @event.main_photo.event_main_page_version }
.event-container{ style: "background-image: url(#{@event.main_photo});" }
  .event-header-overlay
  .container
    .event-header.row.large-collapse{ data: { equalizer: '' } }
      %h2.title
        = @event.title
      .small-8.columns{ data: { equalizer: { watch:  '' } } }
        .when-and-where
          .when
            .labels
              .mic-label-black
                = "#{t('.when')}:"
            .texts
              .event-label-text
                = @event.full_date_duration
          .where
            .labels
              .mic-label-black
                = "#{t('.where')}:"
            .texts
              .event-label-text
                - @event.places.decorate.each do |place|
                  = place.service_icon
                  = link_to place.title, place.url
                  %br
        .event-lead
          != strip_tags @event.lead
        .event-more-info
          %a.more-info#event-lead-more-info{ href: "#" }
            .show-all
              = t('helpers.more_info')
            .hide-all.hide
              = t('helpers.hide')
      .small-3.columns{ data: { equalizer: { watch:  ''} } }
        .organizers
          .organizers-title
            = "#{t('.organizator')}:"
          .organizers-names
            .organizer
              = @event.organizer_link
        .join
          - if @event.is_online_conference?
            - if @event.end_date > DateTime.now
              %button.join-button.mic-press-button#ask-question
                = t('.ask_question')
          - else
            - if current_user_have_attended?(@all_registrations)
              %button.join-button.mic-press-button{ value: 'out', data: { event: @event.decorated_to_json(only: [:id, :title, :strip_tags_description, :begin_date, :end_date]), user_id: current_user.id, google_id: google_id, registration: current_registration(@all_registrations).to_json(only: [:id, :google_calendar_event_id])} }
                = t('.i_attend')
            - else
              - if signed_in? && current_user.is_active?
                %button.join-button.mic-press-button{ value: 'join', data: { event: @event.to_json(only: [:id, :title, :description, :begin_date, :end_date]), user_id: current_user.id, google_id: google_id } }
                  = t('.attend')
              - elsif signed_in? && current_user.is_user? && current_user.unviewed?
                %a.join-button.mic-press-button{ href: account_path }
                  = t('.attend')
              - else
                %a.join-button.mic-press-button{ href: new_session_path }
                  = t('.attend')
        .share
          %span
            = t('helpers.share')
          %br
          = render 'layouts/web/shared/social_sharing', counter: false
.row.more-lead-info.container{ style: 'display: none' }
  .large-collapse
    .small-8.columns
      .more-lead-info-content#description
        != @event.description
- if @event.is_online_conference?
  .row.event-content.container
    .row
      .small-9.columns
        .youtube_video
          != YouTubeRails.youtube_embed_url(@event.online_conference.video_link, 420, 315, ssl: true)
  .row.event-content.container.ask-question
    .row
      .small-6.columns
        = render 'web/activity_lines/corporative/online_conferences/questions/form'
  .row.event-content.container
    .questions-container
      - if params[:notice].present?
        .panel
          = t("notices.#{params[:notice]}")
      %h3.title
        = t('.questions')
        = "(#{@confirmed_questions.count})"
      %ul.questions
        - @confirmed_questions.each do |question|
          %li.row
            .small-1.columns
              - if question.answer_timestamp.present?
                = link_to fa_icon(:link), question.decorate.answer_link, class: 'button blank'
            .small-1.columns{ style: 'text-align: center' }
              - if question.user_id.present?
                - if question.user.is_questionary?
                  = image_tag question.user.avatar.small
                - elsif question.user.is_member?
                  = link_to member_path(question.user.ticket) do
                    = image_tag question.user.decorate.small_avatar_url
                - else
                  = image_tag question.user.decorate.small_avatar_url
              - else
                %span{ style: 'font-size: 25px' }
                  = fa_icon 'user-secret 2x'
            .small-9.columns.end
              = fa_icon 'question-circle'
              = question.text
.row.event-content.container
  .participans-container
    %h3.title
      = t('.attenders')
      %span#participants_count
        = "(#{@registrations.count + @other_registrations.count})"
    %ul.small-block-grid-5.participants
      - @registrations.each do |registration|
        - if registration.user_id.present?
          %li.participant.mic-member{ id: "participant_#{registration.user.id}" }
            = render_element 'mic_member', img_src: registration.user.element_avatar, |
                                           link: link_to_profile(registration.user), |
                                           name: registration.user.short_name, |
                                           role: registration.localize_role
    - if @other_registrations.any?
      .get-more-participants
        %button.mic-press-button.mic-button-small#show_other_participants
          = t('.see_more')
      %ul.small-block-grid-5.participants.other
        - @other_registrations.each do |registration|
          - if registration.user_id.present?
            %li.participant.mic-member{ id: "participant_#{registration.user.id}" }
              = render_element 'mic_member', img_src: registration.user.element_avatar, |
                                             link: link_to_profile(registration.user), |
                                             name: registration.user.short_name, |
                                             role: registration.localize_role
