- title @event.title
- content_for :meta do
  %meta{ property: 'og:description', content: "#{@event.title} #МИЦ" }
  %meta{ property:'og:image', content: @event.main_photo.event_main_page_version }
  %meta{ name:'description', content: "#{@event.title} #МИЦ" }
  %link{ rel: 'image_src', href: @event.main_photo.event_main_page_version }
.event-container{ style: "background-image: url(#{@event.main_photo});" }
  .event-header-overlay
  .container
    .event-header.row.large-collapse{ data: { equalizer: '' } }
      %h2.title
        = @event.title
      .small-8.columns{ data: { equalizer: { watch:  '' } } }
        .when-and-where
          .labels
            .when
              .mic-label-black
                = "#{t('.when')}:"
            .where
              .mic-label-black
                = "#{t('.where')}:"
          .texts
            .when
              .event-label-text
                = @event.full_date_duration
            .where
              .event-label-text
                %i.fa.fa-foursquare
                = @event.place_link_to_4sq
        .event-lead
          != strip_tags @event.lead
        .event-more-info
          %a.more-info#event-lead-more-info{ href: "#" }
            .show-all
              = t('helpers.more_info')
            .hide-all.hide
              = t('helpers.hide')
      .small-3.columns{ data: { equalizer: { watch:  ''} } }
        .organizers
          .organizers-title
            = "#{t('.organizator')}:"
          .organizers-names
            .organizer
              = @event.organizer_link
        .join
          - if @event.is_online_conference?
            %button.join-button.mic-press-button
              = t('.ask_question')
          - else
            - if current_user_have_attended?(@all_registrations)
              %button.join-button.mic-press-button{ value: 'out', data: { event: @event.decorated_to_json(only: [:id, :title, :strip_tags_description, :begin_date, :end_date]), user_id: current_user.id, google_id: google_id, registration: current_registration(@all_registrations).to_json(only: [:id, :google_calendar_event_id])} }
                = t('.i_attend')
            - else
              - if signed_in? && current_user.is_active?
                %button.join-button.mic-press-button{ value: 'join', data: { event: @event.to_json(only: [:id, :title, :description, :begin_date, :end_date]), user_id: current_user.id, google_id: google_id } }
                  = t('.attend')
              - elsif signed_in? && current_user.is_user? && current_user.unviewed?
                %a.join-button.mic-press-button{ href: account_path }
                  = t('.attend')
              - else
                %a.join-button.mic-press-button{ href: new_session_path }
                  = t('.attend')
        .share
          %span
            = t('helpers.share')
          %br
          = render 'layouts/web/shared/social_sharing', counter: false
.more-lead-info.container
  .row.large-collapse
    .small-8.columns
      .more-lead-info-content
        != @event.description
.event-content.container
  .participans-container
    %h3.title
      = t('.attenders')
      %span#participants_count
        = "(#{@registrations.count + @other_registrations.count})"
    %ul.small-block-grid-5.participants
      - @registrations.each do |registration|
        - if registration.user_id.present?
          %li.participant.mic-member{ id: "participant_#{registration.user.id}" }
            = render_element 'mic_member', img_src: registration.user.element_avatar, |
                                           link: link_to_profile(registration.user), |
                                           name: registration.user.short_name, |
                                           role: registration.localize_role
    - if @other_registrations.any?
      .get-more-participants
        %button.mic-press-button.mic-button-small#show_other_participants
          = t('.see_more')
      %ul.small-block-grid-5.participants.other
        - @other_registrations.each do |registration|
          - if registration.user_id.present?
            %li.participant.mic-member{ id: "participant_#{registration.user.id}" }
              = render_element 'mic_member', img_src: registration.user.element_avatar, |
                                             link: link_to_profile(registration.user), |
                                             name: registration.user.short_name, |
                                             role: registration.localize_role
