= simple_form_for @position_form, url: { controller: 'web/members/positions', action: action } do |f|
  = f.input :title, as: :select, label: false, input_html: { class: :select2 }, collection: team_positions(@team)
  = f.input :begin_date, as: :date_picker
  = f.input :end_date, as: :date_picker 
  = f.label :for_now
  = f.input :for_now, label: false, as: :boolean, value: 1
  = f.input :state, as: :hidden, input_html: { value: :unviewed }
  - if params[:id].present?
    = f.input :member_id, as: :hidden, input_html: { value: params[:id] }
  = hidden_field_tag :team_id, params[:team_id]
  = f.button :submit, t('helpers.links.save')
