= paginate activity_lines_lider_ya_lider_participants, theme: 'twitter-bootstrap-3'
- model_class = ActivityLines::Lider::YaLider::Participant
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:full_name)
      %th= model_class.human_attribute_name(:created_at)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th=t 'helpers.links.actions'
  %tbody
    - activity_lines_lider_ya_lider_participants.each do |participant|
      %tr.link{ data: { href: admin_activity_lines_lider_ya_lider_participant_path(participant) }, class: state_color(participant) }
        %td{ width: '67px' }
          = image_tag participant.small_avatar
        %td
          = participant.full_name
          - if participant.is_member?
            = image_tag 'apps/logo-mic-square-small.png', style: 'width: 35px; height: 35px'
            = link_to fa_icon(:share), member_path(participant.user.ticket)
        %td
          =l participant.created_at, format: '%d %B %Y %H:%M'
        - if searching?
          %td= participant.human_state_name
        %td.actions
          - if defined?(for_partial)
            - if for_partial == :stage_show
              = link_to fa_icon('arrow-right'), admin_activity_lines_lider_ya_lider_participations_path(activity_lines_lider_ya_lider_participation: { stage_id: @stage.next_stage.id, participant_id: participant.id }), method: :post, class: 'btn btn-success btn-sm'
          = link_to fa_icon(:pencil), edit_admin_activity_lines_lider_ya_lider_participant_path(participant), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_activity_lines_lider_ya_lider_participant_path(participant), method: :delete, class: 'btn btn-xs btn-danger' 
= paginate activity_lines_lider_ya_lider_participants, theme: 'twitter-bootstrap-3'
