- title @participant.full_name
.panel-info
  .panel-heading
    %h4
      - if @participant.is_member?
        = image_tag 'apps/logo-mic-square-small.png', style: 'width: 35px; height: 35px'
        = link_to fa_icon(:share), member_path(@participant.user.ticket)
      = @participant.full_name
      |
      = @participant.user.age
      = Russian.p(@participant.user.age, 'год', 'года', 'лет')
      |
      = @participant.user.municipality
.panel-body
  .row
    .col-md-4
      = image_tag @participant.user.avatar.profile, style: 'width: 100%'
    .col-md-8
      %table.table.table-striped.table-condensed
        - @participant.contest_attributes.each do |attribute|
          %tr
            %td
              = t("activerecord.attributes.user.#{attribute}")
            %td
              = @participant.user.show_attribute attribute
        %tr
          %td
            = t("enumerize.activity_lines/lider/ya_lider/participant_field.title.esse")
          %td
            - if @participant.esse.present?
              = link_to fa_icon(:download), "#{configus.it_projects.ul_lider.url}#{@participant.esse.value}", class: 'btn btn-success'
            - else
              Не синхронизировалось Эссе! Обратитесь к администратору сайта
              = link_to fa_icon(:exclamation), new_admin_activity_lines_lider_ya_lider_participant_field_path(activity_lines_lider_ya_lider_participant_field: { field_type: :file, title: :esse, participant_id: @participant.id }), class: 'btn btn-danger'
        %tr
          %td
            = t('activerecord.models.activity_lines/lider/ya_lider/participant_event')
          %td
            = link_to @participant.event.event.title, event_path(@participant.event.event)
  %hr
  .tabs
    %ul.nav.nav-tabs{ role: :tablist }
      - @participant.participations.each_with_index do |participation, index|
        %li{ class: stage_tab_class(participation, index) }
          = link_to participation.stage.title, admin_activity_lines_lider_ya_lider_participant_path(stage: participation.stage.number)
    - stage_number = params[:stage] || @participant.participations.first.stage.number
    %div{ id: "stage_#{stage_number}" }
      = render "web/admin/activity_lines/lider/ya_lider/participants/shared/stage_#{stage_number}_info", participant: @participant
