- title
-# Fixme use while positions are now working
- kirpichnikova_ticket = 238
- corporate_header = Member.find_by_ticket(kirpichnikova_ticket).decorate
.container
  %h3.title
    = t('.title')
  .text
    %p
      Заполняя эту анкету ты должен осознавать, что МИЦ - это общественная организация. Вступившие в неё люди берут на себя ответственность за её дальнейшее развитие: они должны участвовать в управлении этой организацией (участвовать в собраниях отделения или структурного подразделения, на учёте в котором человек состоит, Областной Конференции и пр.), выполнять обязанности, возложенные на каждого в соответствии с
      = link_to 'Уставом.', article_path(20)
    %p
      Каждый член МИЦ обязан:
      %ul
        %li
          заботиться об авторитете Молодёжного инициативного центра;
        %li
          состоять на учёте в одном из местных отделений или структурных подразделений организации;
        %li
          исполнять решения высших и других выборных органов, принятые ими в соответствии с
          = link_to 'Уставом;', article_path(20)
        %li
          если у тебя меняются контактные данные, включённые в анкету-заявку при вступлении, то ты должен в течение 7 дней сообщить об этом в МИЦ (в местное отделение или структурное подразделение на учёте в котором состоишь). Можно этого не делать, а поменять данные в своём профиле на этом сайте;
        %li
          сдать членский билет и значок члена МИЦ в случае принятия решения об исключении из организации.
    %p
      Чтобы деятельность МИЦ была максимально прозрачной, мы прописали все принципы и основы деятельности в
      = link_to 'Уставе.', article_path(20)
    %p
      Каждый наш активист может принимать участие в мероприятиях всех направлений: в центральных программах «Лидер», «Inформация», «Право», «Добро» и областном проекте «Информационные технологии».
    %p
      Для поддержки самых активных представителей нашей команды, в МИЦ реализуются корпоративные проекты. Ежегодно мы вручаем
      = link_to 'премию "Признание"', article_path(25)
      \, проводим
      = link_to 'конкурс «Мистер и Мисс МИЦ»', article_path(5)
      \, конкурс «Лучшая команда», выпускаем корпоративные тетради и многое другое.
    %p
      Если в процессе заполнения анкеты у тебя возникнут какие-то проблемы, то оперативно звони руководителю корпоративных проектов. Руководителем корпоративных проектов на данный момент является
      = link_to corporate_header.short_name, member_path(kirpichnikova_ticket)
      по телефону
      = tel_tag '+79053493776'
      или по электронной почте
      = mail_to 'komanda@ulmic.ru'
      \. В течение недели после заполнения анкеты тебе на электронную почту придёт письмо, которое сообщит о постановке тебя на испытательный срок или причине отказа. Если этого не произошло, свяжись сам. Контакты выше.
    %p
      После заполнения анкеты у тебя начинается испытательный срок длиною в месяц. Это время даётся тебе, чтобы понять, чем живёт организация, что тебе интересно, поучаствовать и организовать собственные мероприятия. В течение 30 дней МИЦ так же смотрит на твою активность. Не забывай заходить на сайт и отмечать своё участие в мероприятиях. По истечению испытательного срока местное отделение, структурное подразделение и Президиум принимает решение о твоём вступлении в Молодёжный инициативный центр. Если решение окажется положительным, то на ближайшей
      = link_to 'корпоративной встрече "На Старт!"', article_path(3)
      ты будешь принят в ряды Молодёжного инициативного центра.
    %p
      Желаем удачи!

.container.errors
  = render 'layouts/web/shared/errors', object: @questionary_form
.container.mic-form-container
  = simple_form_for @questionary_form, url: join_index_path, method: :post do |f|
    = f.input :first_name, as: :string
    = f.input :patronymic, as: :string
    = f.input :last_name, as: :string
    = f.input :email, as: :string
    = f.input :motto, as: :string
    = f.input :mobile_phone, as: :string, placeholder: 'locale'
    = f.input :birth_date, as: :date_picker
    = f.input :home_adress, as: :string
    = f.input :municipality
    = f.input :locality, as: :grouped_select, collection: Localities.list_hash, group_method: :last
    = f.input :school, as: :grouped_select, collection: Schools.list_hash, group_method: :last, input_html: { class: :select2 }
    = f.input :state, as: :hidden, input_html: { value: :unviewed }
    = f.input :want_to_do
    = f.input :source_to_know
    = f.input :experience
    = f.label :avatar
    .preview
      = image_tag @questionary_form.model.avatar if @questionary_form.model.avatar.present?
    = f.input :avatar, as: :file, label: false, input_html: { style: 'display: none' }
    = f.input :avatar, label: false, as: :jasny_file_preview_upload_foundation
    = f.button :submit, t('helpers.links.save'), class: 'btn-success'
    = link_to t('helpers.links.back'), root_path, class: 'button'
