= paginate protocols, theme: 'twitter-bootstrap-3'
- model_class = Protocol
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:team)
      %th= model_class.human_attribute_name(:document)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - protocols.each do |protocol|
      %tr{ class: protocol_color(protocol) }
        %td= protocol.id
        %td= link_to protocol.title, admin_protocol_path(protocol)
        %td= protocol.team&.title
        %td
          - if protocol.document_id.present?
            = link_to protocol.document&.title, protocol.document&.file&.url
        - if searching?
          %td= protocol.human_state_name
        %td.actions
          = link_to fa_icon(:download), protocol.scan.url, class: 'btn-xs btn btn-success'
          = link_to fa_icon(:pencil), edit_admin_protocol_path(protocol), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_protocol_path(protocol), method: :delete, class: 'btn btn-xs btn-danger' 
= paginate protocols, theme: 'twitter-bootstrap-3'
