%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{ type: :button, data: { toggle: :collapse, target: '.navbar-collapse' } }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = t('application.name')
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      - if current_user.role.in? ['admin', 'tech_admin']
        = admin_menu_item Event, admin_events_path, :calendar
        = admin_menu_item News, admin_news_index_path, 'list-alt'
        = dropdown t('.people') do
          = admin_menu_item User, admin_users_path, :user
          = admin_menu_item Member, admin_members_path, :user
          = admin_menu_item Questionary, admin_questionaries_path, 'list-alt'
        = dropdown t('.activity') do
          = admin_menu_item ActivityLine, admin_activity_lines_path, :flag
          = admin_menu_item Team, admin_teams_path, :bullhorn
          = admin_menu_item Letter, admin_letters_path, :envelope
          %li.divider{ role: :separator }
          %li.dropdown-header
            = t('enumerize.activity_line.activity_type.corporative')
          %li
            %a{ href: admin_activity_lines_corporative_confessions_path }
              = image_tag 'organization/activity_lines/corporative/confession/number_one.png', class: 'my-glyphicon'
              = ActivityLines::Corporative::Confession.model_name.human
          %li
            %a{ href: admin_activity_lines_corporative_online_conferences_path }
              = fa_icon :wifi
              = ActivityLines::Corporative::OnlineConference.model_name.human.pluralize(:ru)
        = dropdown t('.content') do
          = admin_menu_item Article, admin_articles_path
          = admin_menu_item Category, admin_categories_path
          = admin_menu_item Banner, admin_banners_path
          = admin_menu_item Document, admin_documents_path
          = admin_menu_item Comment, admin_comments_path
          = admin_menu_item RedirectRule, admin_redirect_rules_path
          = admin_menu_item Tag, admin_tags_path
          - if current_user.role.tech_admin?
            = admin_menu_item LoggedAction, admin_logged_actions_path
            = admin_menu_item Image, admin_images_path
        = admin_menu_item Feedback, admin_feedbacks_path, :share
        = dropdown "#{t('.delivery')} (Beta)" do
          = admin_menu_item Delivery::Campaign, admin_delivery_campaigns_path, :send
          = admin_menu_item Delivery::ContactEmail, admin_delivery_contact_emails_path, 'hand-pointer-o'
      - elsif current_user.role.author?
        = admin_menu_item Event, admin_events_path, :calendar
        = admin_menu_item News, admin_news_index_path, 'list-alt'
        = admin_menu_item Article, admin_articles_path
        = admin_menu_item Category, admin_categories_path
        = admin_menu_item Letter, admin_letters_path, :envelope
    - if current_user.role.in? ['admin', 'tech_admin']
      %ul.nav.navbar-nav.navbar-right
        = admin_menu_item '', admin_path, :home
        = admin_menu_item @notification_count, admin_unviewed_index_path, 'info-sign'
        = dropdown t('web.admin.trash.title'), :trash do
          = admin_trash_menu_item User
          = admin_trash_menu_item Member
          = admin_trash_menu_item Questionary
          = admin_trash_menu_item Event
          = admin_trash_menu_item News
          = admin_trash_menu_item Article
          = admin_trash_menu_item Category
          = admin_trash_menu_item ActivityLine
          = admin_trash_menu_item Banner
          = admin_trash_menu_item Team
          = admin_trash_menu_item Document
          = admin_trash_menu_item ActivityLines::Corporative::Confession
          = admin_trash_menu_item ActivityLines::Corporative::OnlineConference
          = admin_trash_menu_item Tag
