- stylesheet_link = controller_path
- javascript_link = controller_path
%html
  %head
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/web/shared/head'
    = stylesheet_link_tag 'web/admin/application'
    = stylesheet_link_tag_if_exists stylesheet_link
    = javascript_include_tag 'web/admin/application'
    = javascript_include_tag_if_exists javascript_link
  %body
    = render 'layouts/web/admin/navbar'
    .container
      = yield
    .loading
      = image_tag 'spinner.gif'
