%p
  Привет, 
  = @user.first_name
  \!
%p
  = @comment.user.decorate.short_name
  Добавил комментарий к записи
  = @comment.record.title
%p
  Текст комментария:
  = @comment.text
  Посмотреть её ты можешь, перейдя по 
  = link_to 'ссылке', edit_admin_news_url(@news)
%p
  %b
    Спасибо! Твой МИЦ.
