%p
  Привет, 
  = @user.first_name
  \!
%p
  = @comment.user.decorate.short_name
  добавил комментарий к записи
  - if @comment.record.try(:title)
    = @comment.record.title
  - else
    = @comment.record.decorate.short_name
%p
  Текст комментария:
  = @comment.text
%p
  %b
    Спасибо! Твой МИЦ.
