%p
  Привет, 
  = @user.first_name
  \!
%p
  На IT Way
  = @record.version
  подана новая заявка на участие.
  Контактные данные заявки:
  %br
  %table
    %thead
      %th
        Имя
      %th
        Email
      %th
        Телефон
      %th
        Направление
      %th
        Есть ли с собой ноутбук?
    %tbody
      %tr
        %td
          = @record.properties['last_name']
          = @record.properties['first_name']
        %td
          = mail_to @record.properties['email']
        %td
          = tel_tag @record.properties['phone']
        %td
          = @record.properties['activity_line']
        %td
          = @record.properties['has_i_note']

%p
  Твоя задача связаться с участником, чтобы он подтвердил своё участие.
%p
  Обязательно отметь заявку, как подтверждённую после прозвона.
%p
  Обязательно добавь участника в telegram-чат форума.
%p
  %b
    Спасибо! Твой МИЦ.
