= paginate letters, theme: 'twitter-bootstrap-3'
- model_class = Letter
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:subdivision_code)
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:year)
      %th= model_class.human_attribute_name(:send_date)
      %th= model_class.human_attribute_name(:receiver)
      %th= model_class.human_attribute_name(:list_number)
      %th= model_class.human_attribute_name(:annex)
      %th= model_class.human_attribute_name(:executor)
      %th= model_class.human_attribute_name(:stamp_of_receipt)
      %th= model_class.human_attribute_name(:note)
      %th= t 'helpers.links.actions'
  %tbody
    - letters.each do |letter|
      %tr.link{ class: state_color(letter), data: { href: edit_admin_letter_path(letter) } }
        %td= link_to letter.title, edit_admin_letter_path(letter)
        %td= letter.subdivision_code
        %td= letter.number
        %td=l letter.send_date.to_datetime, format:  '-%y'
        %td=l letter.send_date.to_datetime, format:  '%d/%m/%Y'
        %td= letter.receiver
        %td= letter.list_number
        %td= letter.annex
        %td= letter.executor.decorate.short_name
        %td= letter.stamp_of_receipt
        %td= letter.note
        %td.actions
          = link_to edit_admin_letter_path(letter), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_letter_path(letter), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate letters, theme: 'twitter-bootstrap-3'
