= paginate letters, theme: 'twitter-bootstrap-3'
- model_class = Letter
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:subdivision_code)
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:send_date)
      %th= model_class.human_attribute_name(:receiver)
      %th= model_class.human_attribute_name(:executor)
      %th= model_class.human_attribute_name(:stamp_of_receipt)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - letters.each do |letter|
      %tr.link{ class: state_color(letter), data: { href: edit_admin_letter_path(letter) } }
        %td= link_to letter.title, edit_admin_letter_path(letter)
        %td= letter.subdivision_code
        %td= letter.number
        %td= letter.formatted_send_date
        %td= letter.receiver
        %td= letter.present_executor
        %td= letter.stamp_of_receipt
        - if searching?
          %td= activity_line.human_state_name
        %td.actions
          = link_to letter.file.url, class: 'btn btn-success btn-xs' do
            %span.glyphicon.glyphicon-download
          = link_to edit_admin_letter_path(letter), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_letter_path(letter), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate letters, theme: 'twitter-bootstrap-3'
