= paginate places, theme: 'twitter-bootstrap-3'
- model_class = Place
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:url)
      - if searching?
        %th= model_class.human_attribute_name(:state)
      %th= t 'helpers.links.actions'
  %tbody
    - places.each do |place|
      %tr{ class: state_color(place) }
        %td= place.id
        %td= link_to place.title, edit_admin_place_path(place)
        %td= place.description
        %td= link_to "#{place.url.first(50)}...", place.url, class: :blank
        - if searching?
          %td= place.human_state_name
        %td.actions
          - if place.unviewed?
            = link_to fa_icon(:check), admin_place_path(place, place: { state: :active }), method: :patch, class: 'btn btn-success btn-xs'
          = link_to fa_icon(:pencil), edit_admin_place_path(place), class: 'btn btn-warning btn-xs'
          = link_to fa_icon(:remove), admin_place_path(place), method: :delete, class: 'btn btn-xs btn-danger' 
= paginate places, theme: 'twitter-bootstrap-3'
