- model_class = Video
- current_title = page_title(action, model_class.model_name.human)
- title current_title, :admin
.page-header
  %h1=t current_title
.row
  .col-lg-12
    = render 'layouts/web/admin/shared/messages', object: @video_form
.row
  .col-lg-12
    = simple_form_for [:admin, @video_form], input_html: { class: 'form-horizontal' } do |f|
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_videos_path, class: 'btn btn-default'
      = f.input :title, as: :string
      = f.input :link, as: :string
      = f.input :state_event, as: :state_event
      = f.button :submit, class: 'btn-success', value: t('helpers.links.save')
      = link_to t('helpers.links.back'), admin_videos_path, class: 'btn btn-default'

.row
  .col-md-12
    = render 'web/admin/default/logged_actions', logged_actions: @video_form.model.logged_actions.reverse
