- model_class = ActivityLine
- title model_class.model_name.human.pluralize(:ru), :admin
.page-header
  %h1
    = model_class.model_name.human.pluralize(:ru)
    = link_to t('.new', default: t('helpers.links.new')), new_admin_activity_line_path, class: 'btn btn-primary'
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:found_date)
      %th= model_class.human_attribute_name(:head)
      %th= t 'helpers.links.actions'
  %tbody
    - @activity_lines.each do |activity_line|
      %tr.link{ class: state_color(activity_line), data: { href: edit_admin_activity_line_path(activity_line) } }
        %td= activity_line.full_title
        %td= activity_line.short_body
        %td=l activity_line.found_date, format: '%d %b %Y'
        - if activity_line.member.present?
          %td= activity_line.member.decorate.short_name
        %td.actions
          = link_to edit_admin_activity_line_path(activity_line), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_activity_line_path(activity_line), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= link_to t('.new', default: t('helpers.links.new')), new_admin_activity_line_path, class: 'btn btn-primary'
